---
tags: expansion-panel-lyne_en
title: Demo
key: expansion-panel-lyne-demo_en
parent: expansion-panel-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.expansionpanel,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}