---
tags: journey-header-lyne_en
title: Examples
key: journey-header-lyne-examples_en
parent: journey-header-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-journey-header",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}