---
tags: 
    - journey-header-lyne_en
title: Demo
key: journey-header-lyne-examples_en
parent: journey-header-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.journeyheader,
  translations: translations["en"].lyne
  }) }}

{{ lyneExamples({
  tag: "sbb-journey-header",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}