---
tags: button-lyne_en
title: Demo
key: button-lyne-demo_en
parent: button-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.button,
  translations: translations["en"].lyne,
  more: "https://lyne-storybook.app.sbb.ch/?path=/docs/components-sbb-card--docs#anchor--components-sbb-card--sbb-card-link"
}) }}