---
tags: tag-lyne_en
title: Demo
key: tag-lyne-demo_en
parent: tag-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.tag,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}