---
tags: checkbox-lyne_de
title: Demo
key: checkbox-lyne-demo_de
parent: checkbox-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.checkbox,
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}