---
layout: page.njk
tags: page
key: off-brand-colors_fr
title: Couleurs off-brand
parent: colors_fr
order: 2
---

<p class="lead">
   Dans quelques cas, le rouge CFF ne peut pas être utilisé comme couleur primaire. Par exemple, la couleur rouge ne peut être utilisée dans les applications liées à la sécurité que pour communiquer des erreurs. Dans ces cas, la couleur primaire (Red, Red125, Red150) peut être remplacée par les couleurs suivantes :
</p>
<div class="colors">   
    <div class="color-group">
        {%- for color in collections.offbrandcolor_de | sortByOrder -%}
            {% include "../../../../_includes/color.njk" %}
        {%- endfor -%}
    </div>
</div>
<p class="lead">
 Veuillez noter que ce kit de couleurs ne peut être utilisé que dans des cas exceptionnels. Une clarification avec le DSRV UX est nécessaire.
</p>

<sbb-title level="2">Conception avec Figma</sbb-title>
<p class="lead">
 Les couleurs sont disponibles dans la bibliothèque Figma, mais ne sont pas utilisées dans les composants. Les couleurs peuvent toutefois être facilement remplacées dans Figma avec la fonction "Selection Colors". 
</p>

<sbb-title level="2">Développement frontend</sbb-title>
<p class="lead">
  Dans la bibliothèque Angular, les couleurs peuvent être échangées comme suit : <sbb-link variant="inline" target="_blank" href="https://angular.app.sbb.ch/angular/introduction/typography">Vers les instructions</sbb-link>.
</p>