<sbb-title level="2">Strichstärke</sbb-title>
<div class="token-table border-width-token">
{% for token in lyne.components.designtokenborder.width %}
    <div class="row">
        <div class="token-name"><p>{{ token.name }}</p></div>
        <div class="token-value"><p>{{ token.value }}</p></div>
        <div class="token-demo"><div class="border-demo" style="border-width: {{token.original.value}}; "></div></div>
    </div>
{% endfor %}
</div>
<sbb-title level="2">Radius</sbb-title>
<div class="token-table border-radius-token">
{% for token in lyne.components.designtokenborder.radius %}
    <div class="row">
        <div class="token-name"><p>{{ token.name }}</p></div>
        <div class="token-value"><p>{{ token.value }}</p></div>
        <div class="token-demo"><div class="border-demo" style="border-radius: {{token.original.value}}; "></div></div>
    </div>
{% endfor %}
</div>

