---
tags: button-static-lyne_de
title: Demo
key: button-static-lyne-examples_de
parent: button-static-lyne_de
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.buttonstatic,
  translations: translations["de"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-button-static",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}