---
tags: button-static-lyne_de
title: Playground
key: button-static-lyne-playground_de
parent: button-static-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.buttonstatic,
  translations: translations["de"].lyne
}) }}