---
tags: alert-lyne_de
title: Demo
key: alert-lyne-demo_de
parent: alert-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.alert,
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}