---
tags: time-input-lyne_en
title: Demo
key: time-input-lyne-demo_en
parent: time-input-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.timeinput,
  translations: translations["en"].lyne,
  more: "https://lyne-storybook.app.sbb.ch/?path=/docs/components-sbb-card--docs#anchor--components-sbb-card--sbb-card-link"
}) }}