---
tags: footer-lyne_en
title: Implementation
key: footer-lyne-examples_en
parent: footer-lyne_en
icon: demo
order: 4
permalink: false  
---


  {{ lyneExamples({
  tag: "sbb-footer",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}