---
tags: 
    - footer-lyne_en
title: Demo
key: footer-lyne-examples_en
parent: footer-lyne_en
icon: demo
order: 3
permalink: false  
---


  {{ lyneExamples({
  tag: "sbb-footer",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}