---
tags: tooltip-trigger-lyne_en
title: Demo
key: tooltip-trigger-lyne-demo_en
parent: tooltip-trigger-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.tooltiptrigger,
  translations: translations["en"].lyne,
  more: "https://lyne-storybook.app.sbb.ch/?path=/docs/components-sbb-card--docs#anchor--components-sbb-card--sbb-card-link"
}) }}