---
tags: secondary-button-static-lyne_de
title: Playground
key: secondary-button-static-lyne-playground_de
parent: secondary-button-static-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.secondarybuttonstatic,
  translations: translations["de"].lyne
}) }}