---
tags: breadcrumb-lyne_de
title: Demo
key: breadcrumb-lyne-demo_de
parent: breadcrumb-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.breadcrumb,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
}) }}