---
tags: selection-expansion-panel-lyne_de
parent: selection-expansion-panel-lyne_de
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.selectionexpansionpanel.sbbSelectionExpansionPanel.playground,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-selection-expansion-panel",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}