---
tags: block-link-static-lyne_de
title: Playground
key: block-link-static-lyne-playground_de
parent: block-link-static-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.blocklinkstatic,
  translations: translations["de"].lyne
  }) }}