 <sbb-teaser title-content="{{ teaser.data.head }}" title-level="2" alignment="below" aria-label="{{ teaser.data.title }}: {{ teaser.data.description }}" href="{{ teaser.data.url }}" {% if teaser.data.external == true %}target="_blank"{% endif %}>
    <img slot="image" class="full-width-image" loading="lazy" src="{{ teaser.data.image }}" alt="{{ teaser.data.title }}">
    {% if teaser.data.chip|length %}
    <span slot="chip">{{ teaser.data.chip }}</span>
    {% endif %}
      {{ teaser.data.description }}
</sbb-teaser>