<sbb-teaser title-level="2" is-stacked="" accessibilityLabel="{{ teaser.data.title }}: {{ teaser.data.description }}" href="{{ teaser.data.url }}">
    <img slot="image" loading="lazy" src="{{ teaser.data.image }}" alt="{{ teaser.data.title }}">
    <span slot="title">{{ teaser.data.head }}</span>
    <p slot="description">{{ teaser.data.description }}</p>
</sbb-teaser>