{% if teaser.data.image|length %}
 <sbb-teaser title-content="{{ teaser.data.title }}" title-level="2" alignment="below" aria-label="{{ teaser.data.title }}: {{ teaser.data.alternativetitle }}" href="{{ teaser.url }}" {% if teaser.data.external == true %}target="_blank"{% endif %}>
    <img slot="image" class="full-width-image" loading="lazy" src="/assets/images/principles/overview/{{ teaser.data.image }}" alt="{{ teaser.data.title }}">
      {{ teaser.data.alternativetitle }}
</sbb-teaser>
{% endif %}