<sbb-message>
    <sbb-image style="" class="demo-image" slot="image" image-src="https://cdn.img.sbb.ch/content/dam/internet/lyne/Helpteaser-Background-Landscape.png"></sbb-image>
    <sbb-title level="3" slot="title">Unfortunately, an error has occurred.</sbb-title>
    <p class="demo-subtitle" slot="subtitle">Please reload the page or try your search again later.</p>
    <p class="demo-legend" slot="legend">Error code: 0001</p>
    <sbb-secondary-button class="demo-action" slot="action" icon-name="arrows-circle-small" size="m"></sbb-secondary-button>
</sbb-message>
