---
tags: 
    - teaser-product-lyne_en
title: Demo
parent: teaser-product-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.teaser.sbbTeaserProduct.playground,
  wide: true,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-teaser-product",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}