---
tags: teaser-lyne_de
title: Playground
key: teaser-lyne-playground_de
parent: teaser-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.teaser,
  translations: translations["de"].lyne
  }) }}