---
tags: menu-lyne_de
title: Demo
key: menu-lyne-demo_de
parent: menu-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.menu,
  noconfig: true,
  translations: translations[page.lang].lyne,
  more: "https://lyne-storybook.app.sbb.ch/?path=/docs/components-sbb-card--docs#anchor--components-sbb-card--sbb-card-link"
}) }}