
    <sbb-teaser class="component-teaser" title-content="" title-level="6" alignment="below" aria-label="{{ component.data.title }}" href="{{ component.url }}" data-keywords="{{ component.data.keywords }}">
        {% if component.data.image|length %}
            <img slot="image" loading="lazy" class="full-width-image" src="/assets/images/{{ component.data.image }}" alt="{{ component.data.title }}">
        {% else %}
            <img slot="image" loading="lazy" class="full-width-image" src="/assets/images/teaser/fallback.webp" alt="fallback">
        {% endif %}
        <sbb-title class="teaser-title" slot="title" title="6" visual-level="6">{{ component.data.title }}</sbb-title>
    </sbb-teaser>