<div id="componentlist" class="browser overview">
    <div class="browser-header-overview">   
        <sbb-form-field error-space="none" label="{{ translations[page.lang].searchinput }}" size="m" width="default" borderless floating-label>
            <input class="search" placeholder="{{ translations[page.lang].searchinput }}" value="">
        </sbb-form-field>
        <sbb-secondary-button size="l" id="list-toggle" name="list">
            <sbb-icon slot="icon" name="list-small"></sbb-icon>
        </sbb-secondary-button>
    </div>
    <div class="component-list horizontal list overview">
        {% if subset == "1" %}
            <sbb-title level="5" class="browser-title">Basics</sbb-title>
            {%- for component in collections[dsbasics] | sortByOrder -%}
                {% include "./component.njk" %}
            {%- endfor -%}
        {% elif subset == "2" %}
            <sbb-title level="5" class="browser-title">Components</sbb-title>
            {%- for component in collections[dscomponents] | sortByOrder -%}
                {% include "./component.njk" %}
            {%- endfor -%}
        {% else %}
            <sbb-title level="5" class="browser-title">Basics</sbb-title>
            {%- for component in collections[dsbasics] | sortByOrder -%}
                {% include "./component.njk" %}
            {%- endfor -%}
            <sbb-title level="5" class="browser-title">Components</sbb-title>
            {%- for component in collections[dscomponents] | sortByOrder -%}
                {% include "./component.njk" %}
            {%- endfor -%}
        {% endif %}
    </div>




    


</div>
