<div id="componentlist" class="browser overview">
    <div class="browser-header-overview">   
        <sbb-form-field error-space="none" size="m" width="default" borderless floating-label>
            <label>{{ translations[page.lang].searchinput }}</label>
            <input class="search" placeholder="{{ translations[page.lang].searchinput }}" value="">
        </sbb-form-field>
    </div>
    <ul class="component-list list overview tree">
        {% if subset == "1" %}
            <li><sbb-title level="5" class="browser-title">Design Tokens</sbb-title></li>
            {% set basicPages = collections[dsbasics] | include("data.parent", dsbasicskey) | sortByOrder %}
            {%- for entry in basicPages %}
                {% include "./tree-item.njk" %}
            {%- endfor -%}
        {% elif subset == "2" %}
            <li><sbb-title level="5" class="browser-title">Components</sbb-title></li>
            {% set componentsPages = collections[dscomponents] | include("data.parent", dscomponentskey) | sortByOrder %}
            {%- for entry in componentsPages %}
                {% include "./tree-item.njk" %}
            {%- endfor -%}
        {% else %}
           <li><sbb-title level="5" class="browser-title">Design Tokens</sbb-title></li>
            {% set basicPages = collections[dsbasics] | include("data.parent", dsbasicskey) | sortByOrder %}
            {%- for entry in basicPages %}
                {% include "./tree-item.njk" %}
            {%- endfor -%}
            <li><sbb-title level="5" class="browser-title">Components</sbb-title></li>
            {% set componentsPages = collections[dscomponents] | include("data.parent", dscomponentskey) | sortByOrder %}
            {%- for entry in componentsPages %}
                {% include "./tree-item.njk" %}
            {%- endfor -%}
        {% endif %}
    </ul>
</div>



