<div id="componentlist" class="browser overview">
    <div class="browser-header-overview">   
        <sbb-form-field error-space="none" size="m" width="default" borderless floating-label>
            <label>{{ translations[page.lang].searchinput }}</label>
            <input class="search" placeholder="{{ translations[page.lang].searchinput }}" value="">
        </sbb-form-field>
    </div>
    <ul class="component-list list overview tree">
        {% if basics == true and components == true %}
            <li><sbb-title level="5" class="browser-title">Design Tokens</sbb-title></li>
        {% endif %}
        {% if basics == true %}
            {% set basicPages = collections[dsbasics] | include("data.parent", dsbasicskey) | sortByOrder %}
            {%- for entry in basicPages %}
                {% include "./tree-item.njk" %}
            {%- endfor -%}
        {% endif %}
        {% if basics == true and components == true %}
            <li><sbb-title level="5" class="browser-title">Components</sbb-title></li>
        {% endif %}
        {% if components == true %}
            {% set componentsPages = collections[dscomponents] | include("data.parent", dscomponentskey) | sortByOrder %}
            {%- for entry in componentsPages %}
                {% include "./tree-item.njk" %}
            {%- endfor -%}
        {% endif %}
    </ul>
</div>