
<sbb-tab-group class="tab-documentation" initial-selected-index="0">
    {%- for tab in collections[tabkey] | sortByOrder -%}
    <sbb-tab-title level="1">
    <sbb-icon name="{{translations.icons[tab.data.icon]}}" slot="icon"></sbb-icon>
        {{tab.data.title}}
    </sbb-tab-title>
    <div class="sbb-section-panel">{{tab.content | safe}}</div>
    {%- endfor -%}
</sbb-tab-group>