<li {% if entry.children.length %} class="has-subcategory {% if entry.url == page.url %}current{% endif %}"{% else %} class="no-subcategory {% if entry.url == page.url %}current{% endif %}"{% endif %} data-keywords="{{ entry.keywords }}">
{% if entry.children.length %} {{ entry.title }} {% else %} <a href="{{entry.url}}">{{ entry.title }}</a>{% endif %}    

{% if entry.children.length %}
<ul class="subcategory">
    {% for child in entry.children %}
            <li class="no-subcategory{% if child.url == page.url %} current{% endif %}" data-keywords="{{ child.keywords }}">
                <a href="{{child.url}}">{{ child.title }}</a>   
            </li>
    {% endfor %}
</ul>
{% endif %}
</li>