---
tags: teaser-lyne_de
title: Demo
key: teaser-lyne-demo_de
parent: teaser-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.teaser,
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}