---
tags: 
    - optgroup-lyne_en
title: Demo
parent: optgroup-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.option.sbbOptgroup.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-optgroup",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}