---
tags: optgroup-lyne_en
title: Examples
key: optgroup-lyne-examples_en
parent: optgroup-lyne_en
icon: demo
order: 4
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-optgroup",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}