---
layout: pattern.njk
tags: 
    - lyne_it
    - lyne_itsign_tokens_it
    - page
key: breakpoints-lyne_it
title: Grid
parent: basics-lyne_it
image: lyne/overview/grid.webp
keywords: Breakpoints
order: 30
availablelanguages: 
    - de
    - en
---
