---
tags: menu-action-lyne_en
title: Demo
key: menu-action-lyne-demo_en
parent: menu-action-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.menuaction,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}