---
tags: toggle-option-lyne_de
parent: toggle-option-lyne_de
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-toggle-option",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}