<sbb-group color="transparent" class="color" padding="xxs-xxs">
    <div class="preview" style="background-color:{{color.data.hex}}"></div>
    <div class="info">
        <sbb-title level="6">{{color.data.head}}</sbb-title>
        <p class="sbb-text-xs">HEX: {{color.data.hex}}<br>
        <p class="sbb-text-xs">RGB: {{color.data.rgb}}</p>
    </div>
</sbb-group>