<sbb-card color="transparent-bordered" class="sbb-card-spacing-xxs color">
    <div class="preview" style="background-color:{{color.data.hex}}"></div>
    <div class="info">
        <sbb-title level="6">{{color.data.head}}</sbb-title>
        <p class="sbb-text-xs">HEX: {{color.data.hex}}<br>
        <p class="sbb-text-xs">RGB: {{color.data.rgb}}</p>
    </div>
</sbb-card>