  <sbb-card color="transparent-bordered" class="color" sixe="xl">
    <div class="preview" style="background-color:{{color.hex}}"></div>
    <div class="info">
      <sbb-title level="6">{{color.title}}</sbb-title>
      <p class="sbb-text-xs">HEX: {{color.hex}}<br>
      <p class="sbb-text-xs">RGB: {{color.rgb}}</p>
    </div>
  </sbb-card>