{% if availablelanguages.length %}
    <sbb-notification type="warn" readonly>
    {{ translations[page.lang].missingtranslation }}
        {%- for lang in availablelanguages  -%}
            {% for loc in translations.languages -%}
                {% if lang == loc.url %}
                <sbb-link href="/{{ loc.url }}{{ page.url.slice(3, -1) }}">{{ loc.label }}</sbb-link>
                {% endif %}
            {% endfor -%}
        {%- endfor -%}
    </sbb-notification>
    {%- for defaultcontent in collections.page | defaultlanguagecontent(page.url) -%}
        {% include "../_includes/title.njk" %}
        {{ defaultcontent.content | safe }}
    {%- endfor -%}
{% endif %}