<sbb-skiplink-list title-level="1" title-content="Navigieren auf digital.sbb.ch">
    <sbb-block-link href="#navigation" accesskey="1" title="[ALT + 1]">Zur Navigation</sbb-block-link>
    <sbb-block-link href="#content" accesskey="2" title="[ALT + 2]">Zum Inhalt</sbb-block-link>
    <sbb-block-link href='/{{page.lang}}/meta/contact/'>Kontakt</sbb-block-link>
</sbb-skiplink-list>


