---
tags: breadcrumb-lyne_en
title: Examples
key: breadcrumb-lyne-examples_en
parent: breadcrumb-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-breadcrumb",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}