---
tags: container-lyne_de
title: Demo
key: container-lyne-demo_de
parent: container-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.container,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}