---
tags: loading-indicator-lyne_de
title: Playground
key: loading-indicator-lyne-playground_de
parent: loading-indicator-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.loadingindicator,
  translations: translations["de"].lyne
  }) }}