---
layout: page.njk
tags: page
key: fpl_fr
title: Icônes de l’horaire 
parent: assets_fr
order: 2
mode: FPL
---

<sbb-title level="2">Utilisation</sbb-title>
<p class="lead">Le style des icônes CFF doit être respecté.

<p class="lead">Il s'agit d'icônes officielles de l'horaire que les CFF et d'autres entreprises de transport utilisent dans leurs produits numériques et physiques. L'<sbb-link variant="inline" type="button" href="/{{page.lang}}/foundation/brand/copyrights/">utilisation</sbb-link> est libre pour les entreprises de transport, à condition qu'elles garantissent que les icônes sont utilisées sous la forme présentée ici. Concrètement, cela signifie: </p>
<ul class="lead">
    <li>Les icônes peuvent être redimensionnées proportionnellement</li>
    <li>Les icônes de l'horaire peuvent être recolorées (attention à l'accessibilité)</li>
    <li>Les icônes HIM-CUS et icônes Product-Brand ne doivent pas être recolorées.</li>
</ul>
<br>  
  <br>
Plus d'informations: <sbb-link variant="inline" type="button" href="/{{page.lang}}/foundation/brand/copyrights/">Droits d'utilisation</sbb-link></p>

<sbb-action-group class="download-icons" align-group="start" orientation="vertical" horizontal-from="small" button-size="l">
    <sbb-button target="_blank" href="https://www.figma.com/file/UQBd7cHKav0hr9oXYp7opJ/SBB-Icons?node-id=372%3A0">
    <sbb-icon slot="icon" name="figma-small"></sbb-icon>
    Figma-Library
    </sbb-button> 
    <sbb-button variant="secondary" target="_blank" href="https://github.com/sbb-design-systems/sbb-icons/archive/refs/heads/main.zip">
    <sbb-icon slot="icon" name="github-small"></sbb-icon>
    Icônes CFF à télécharger
    </sbb-button>
</sbb-action-group>

<sbb-title level="2">Aperçu</sbb-title>
{% set icons = icons[0] %}
{% include "src/_includes/icons/index.njk" %}