---
tags: message-lyne_en
title: Demo
key: message-lyne-demo_en
parent: message-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.message,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}