---
tags: message-lyne_en
title: Demo
key: message-lyne-examples_en
parent: message-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.message,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-message",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}