---
tags: 
    - sticky-bar-lyne_en
title: Demo
key: sticky-bar-lyne-examples_en
parent: sticky-bar-lyne_en
icon: demo
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-sticky-bar",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}