---
tags: time-input-lyne_en
title: Demo
key: time-input-lyne-demo_en
parent: time-input-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.timeinput,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}