---
tags: 
    - time-input-lyne_en
title: Demo
parent: time-input-lyne_en
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.timeinput.sbbTimeInput.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-time-input",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}