---
tags: toggle-lyne_de
title: Demo
key: toggle-lyne-demo_de
parent: toggle-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.toggle,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}