---
tags: 
    - flip-card-summary-lyne_en
title: Demo
parent: flip-card-summary-lyne_en
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-flip-card-summary",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}