---
layout: overview.njk
system: lyne
list: all
tags: 
    - level3
    - dshome
key: overview-lyne_de
title: Übersicht
alternativetitle: Lyne
parent: lyne_de
order: 10
---

<p class="lead">Das Design System Lyne beschreibt die Vorgaben für Webseiten, sowie für Kunden- und Business-Anwendungen. Es besteht aus dieser Dokumentation, einer Figma- und einer WebComponent-Library. Die Dokumentation wird fortlaufend verbessert.</p>

<sbb-card class="sbb-card-spacing-s intro-links" color="transparent-bordered">
  <div class="links">
    {{ buttonGroup({
        title: "Design",
        type: "link",
        tag: collections.figmalyne_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Code",
        type: "link",
        tag: collections.techlinkslyne_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Contribution",
        type: "link",
        tag: collections.contributionlyne_de,
        size: 'm'
    }) }}
  </div>
</sbb-card>