---
layout: overview-lyne.njk
tags: 
    - page
    - dshome
key: overview_de
title: Übersicht
alternativetitle: Lyne
parent: lyne_de
order: 10
componentbrowser: true
---

<p class="lead">Das Design System Lyne beschreibt die Vorgaben für Webseiten, sowie für Kunden- und Business-Anwendungen. Es besteht aus dieser Dokumentation, einer Figma- und einer WebComponent-Library. Lyne ist mit Version 1.0 für alle Kunden-Anwendungen der SBB einsetzbar. Mit Version 2.0 (Release Winter 2024) wird Lyne auch für Business-Anwendungen optimiert. Die Dokumentation wird fortlaufend verbessert.</p>

<sbb-card class="intro-links" color="transparent-bordered" size="xxl">
  <div class="links">
    {{ buttonGroup({
        title: "Design",
        type: "link",
        tag: collections.figmalyne_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Code",
        type: "link",
        tag: collections.techlinkslyne_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Contribution",
        type: "link",
        tag: collections.contributionlyne_de,
        size: 'm'
    }) }}
  </div>
</sbb-card>