---
layout: overview.njk
tags: 
    - page
    - dshome
key: overview_de
title: Übersicht
alternativetitle: Lyne
parent: lyne_de
order: 1
componentbrowser: true
---

<p class="lead">Das Design System Lyne beschreibt die Vorgaben für Webseiten und besteht aus dieser UX-Dokumentation und der WebComponent Library. Lyne befindet sich derzeit im Aufbau und soll dereinst Web (Legacy) ablösen. Bis zum offiziellen Release von Version 1.0 soll die Library nicht produktiv eingesetzt werden. Die Dokumentation wird fortlaufend ergänzt.</p>

<sbb-group class="intro-links" color="transparent" padding="s-s">
  <div class="links">
    {{ buttonGroup({
        title: "Figma",
        type: "link",
        tag: collections.figmalyne_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Code",
        type: "link",
        tag: collections.techlinkslyne_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Contribution",
        type: "link",
        tag: collections.contributionlyne_de,
        size: 'm'
    }) }}
  </div>
</sbb-group>