---
tags: 
    - status-lyne_en
title: Demo
parent: status-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.status.sbbStatus.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-status",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}