---
tags: 
    - status-lyne_en
title: Demo
key: status-lyne-examples_en
parent: status-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.status,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-status",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}