---
tags: datepicker-previous-day-lyne_de
parent: datepicker-previous-day-lyne_de
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-datepicker-previous-day",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}