---
tags: datepicker-previous-day-lyne_de
title: Beispiele
key: datepicker-previous-day-lyne-examples_de
parent: datepicker-previous-day-lyne_de
icon: demo
order: 4
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-datepicker-previous-day",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}