---
tags: menu-lyne_de
title: Demo
key: menu-lyne-demo_de
parent: menu-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.menu,
  stories: lyne.stories[0],
  noconfig: true,
  translations: translations["de"].lyne
  }) }}