---
tags: checkbox-lyne_de
title: Playground
key: checkbox-lyne-playground_de
parent: checkbox-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.checkbox,
  translations: translations["de"].lyne
}) }}