---
tags: 
    - tab-label-lyne_en
title: Demo
key: tab-label-lyne-examples_en
parent: tab-label-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.tablabel,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-tab-label",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}