---
tags: card-link-lyne_en
title: Playground
key: card-link-lyne-playground_en
parent: card-link-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.cardlink,
  translations: translations["de"].lyne
}) }}