---
tags: title-lyne_de
title: Demo
key: title-lyne-demo_de
parent: title-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.title,
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}