---
tags: title-lyne_de
parent: title-lyne_de
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.title.sbbTitle.playground,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-title",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}