---
tags: navigation-section-lyne_en
title: Demo
key: navigation-section-lyne-demo_en
parent: navigation-section-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.navigationsection,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}