---
tags: header-lyne_en
title: Demo
key: header-lyne-demo_en
parent: header-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.header,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}