---
tags: slider-lyne_de
title: Demo
key: slider-lyne-demo_de
parent: slider-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.slider,
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}