---
tags: alert-lyne_de
title: Demo
key: alert-lyne-examples_de
parent: alert-lyne_de
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.alert,
  translations: translations["de"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-alert",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}