---
tags: alert-lyne_de
title: Beispiele
key: alert-lyne-examples_de
parent: alert-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-alert",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}