---
tags: signet-lyne_de
title: Demo
key: signet-lyne-demo_de
parent: signet-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.signet,
  translations: translations[page.lang].lyne,
  more: "https://lyne-storybook.app.sbb.ch/?path=/docs/components-sbb-signet--docs#anchor--components-sbb-signet--sbb-signet-link"
}) }}