---
tags: form-field-clear-lyne_de
parent: form-field-clear-lyne_de
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-form-field-clear",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}