
<sbb-navigation data-testid="navigation" id="navigation" aria-label="navigation" accessibility-close-label="close" trigger="nav-trigger">
  {% include "./top-level.njk" %}
  {% include "./language-menu.njk" %}
  {% include "./second-level.njk" %}
</sbb-navigation>