<sbb-navigation id="navigation" aria-label="{{translations[page.lang].mainnavigation}}" accessibility-close-label="{{translations[page.lang].close}}" trigger="nav-trigger">
  {% include "./top-level.njk" %}
  {% include "./language-menu.njk" %}
  {% include "./second-level.njk" %}
</sbb-navigation>