{% set navPages = collections.toplevel | eleventyNavigation(page.lang) %}
{%- for entry in navPages %}
<sbb-navigation-section trigger="{{ entry.key }}" title-content="{{entry.alternativetitle}}">
    {% set subPages = collections.page | eleventyNavigation(entry.key) %}
    {%- for sub in subPages %}
    <sbb-navigation-list  {% if sub.hideInNavigation != true %}label="{{sub.title}}"{% endif %}>
        {% set subsubPages = collections.page | eleventyNavigation(sub.key) %}
        {%- for subsub in subsubPages %}
            <sbb-navigation-link href="{{ subsub.url}}" {% if subsub.external == true %}target="_blank"{% endif %} {% if subsub.url == page.url %}class="sbb-active" aria-current="page"{% endif %}>{{ subsub.title }}</sbb-navigation-link>
        {%- endfor %}
    </sbb-navigation-list>
    {%- endfor %}
</sbb-navigation-section>
{%- endfor %}