---
tags: autocomplete-lyne_de
title: Demo
key: autocomplete-lyne-demo_de
parent: autocomplete-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.autocomplete,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
}) }}