---
tags: tab-title-lyne_en
title: Demo
key: tab-title-lyne-demo_en
parent: tab-title-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.tabtitle,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}