<sbb-toggle class="switcher" size="s" value="light">
    <sbb-toggle-option class="switch" icon-name="sunshine-small" value="light" checked></sbb-toggle-option>
    <sbb-toggle-option class="switch" icon-name="moon-small" value="dark"></sbb-toggle-option>
</sbb-toggle>