---
tags: card-badge-lyne_en
title: Demo
key: card-badge-lyne-demo_en
parent: card-badge-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.cardbadge,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}