---
tags: dialog-lyne_en
title: Demo
key: dialog-lyne-demo_en
parent: dialog-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.dialog,
  translations: translations["en"].lyne,
  more: "https://lyne-storybook.app.sbb.ch/?path=/docs/components-sbb-card--docs#anchor--components-sbb-card--sbb-card-link"
}) }}

<script>
const buttons = document.querySelectorAll(".dialogtrigger");
function buttonClicked(index) {
    const dialog = document.getElementById("dialog-"+(index + 1));
    console.log(dialog.id);
    dialog.open(event);
}
buttons.forEach((button, index) => {
  button.addEventListener("click", () => buttonClicked(index));
});
</script>