---
layout: page.njk
tags: page
key: creating-drafts_de
title: Entwürfe erstellen
parent: processes_de
order: 1
---


<sbb-button aria-haspopup="dialog" size="m" type="button" data-testid="overlay-trigger" aria-controls="my-overlay-2">
Open overlay
</sbb-button>
  
<sbb-overlay data-testid="overlay" id="my-overlay-2" expanded="" accessibilitycloselabel="Close overlay" accessibilitybacklabel="Go back">
<div class="overlay-content" data-testid="content">
<div id="app" style="width: 100%; height: 100%"></div>
<script src='/assets/videos/libraries-adden/assets/js/project.js' charset="utf-8"></script>
<script src='/assets/videos/libraries-adden/dist/main.chunk.js' charset="utf-8"></script>
<script src='/assets/videos/libraries-adden/dist/runtime-main.bundle.js' charset="utf-8"></script>
<script src='/assets/videos/libraries-adden/dist/vendors-main.chunk.js' charset="utf-8"></script>
</div>
</sbb-overlay>
