---
tags: menu-button-lyne_de
title: Demo
key: menu-button-lyne-examples_de
parent: menu-button-lyne_de
icon: demo
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-menu-button",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}