---
tags: secondary-button-link-lyne_en
title: Examples
key: secondary-button-link-lyne-examples_en
parent: secondary-button-link-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-secondary-button-link",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}