---
tags: option-lyne_de
title: Demo
key: option-lyne-demo_de
parent: option-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.option,
  translations: translations[page.lang].lyne,
  more: "https://lyne-storybook.app.sbb.ch/?path=/docs/components-sbb-card--docs#anchor--components-sbb-card--sbb-card-link"
}) }}