---
tags: card-button-lyne_de
title: Playground
key: card-button-lyne-playground_de
parent: card-button-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.cardbutton,
  translations: translations["de"].lyne
}) }}