---
tags: link-button-lyne_en
title: Demo
key: link-button-lyne-examples_en
parent: link-button-lyne_en
icon: demo
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-link-button",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}