---
tags: notification-lyne_de
title: Demo
key: notification-lyne-demo_de
parent: notification-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.notification,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}