---
tags: toast-lyne_de
title: Demo
key: toast-lyne-demo_de
parent: toast-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.toast,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}