---
tags: toast-lyne_de
parent: toast-lyne_de
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.toast.sbbToast.playground,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-toast",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}