---
tags: navigation-link-lyne_en
title: Demo
key: navigation-link-lyne-demo_en
parent: navigation-link-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.navigationlink,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}