---
layout: page.njk
tags: page
key: pictos_fr
title: Pictogrammes 
parent: assets_fr
order: 3
---

<p class="lead">Nous faisons appel aux pictogrammes CFF dans l’horaire ainsi que pour faciliter l’orientation des utilisateurs dans les supports numériques. Les pictogrammes font ainsi le lien entre le monde physique et le monde virtuel, tout en permettant à l’utilisateur de s’orienter facilement et rapidement. À titre exceptionnel, les pictogrammes peuvent également être utilisés comme icônes. Dans ce cas, leur utilisation requiert l’autorisation de l’unité Gestion de la marque CFF.  </p>
 
<p class="lead">Plus d'informations: <sbb-link variant="inline" type="button" target="_blank" href="/{{page.lang}}/foundation/brand/copyrights/">droits d'utilisation</sbb-link><br>
Contact: <sbb-link variant="inline" type="button" target="_blank" href="mailto:entwicklung.bahnhof@sbb.ch">entwicklung.bahnhof@sbb.ch</sbb-link></p>

{% set icons = pictograms[0] %}
<sbb-title level="2">Aperçu</sbb-title>
{% include "src/_includes/icons/index.njk" %}