<div style="display: flex; flex-direction: column; gap: 16px">
<sbb-button class="demo-item" icon-name="glass-cocktail-small" size="m">
    <span>Label</span>
</sbb-button>

<sbb-secondary-button class="demo-item" icon-name="glass-cocktail-small" size="m">
    <span>Label</span>
</sbb-secondary-button>

<sbb-accent-button class="demo-item" icon-name="glass-cocktail-small" size="m">
    <span>Label</span>
</sbb-accent-button>

<sbb-transparent-button class="demo-item" icon-name="glass-cocktail-small" size="m">
    <span>Label</span>
</sbb-transparent-button>

</div>