---
tags: link-list-anchor-lyne_de
parent: link-list-anchor-lyne_de
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.linklist.sbbLinkListAnchor.playground,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-link-list-anchor",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}