---
tags: sticky-bar-lyne_en
title: Demo
key: sticky-bar-lyne-demo_en
parent: sticky-bar-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.stickybar,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}