---
tags: image-lyne_en
title: Demo
key: image-lyne-demo_en
parent: image-lyne_en
image: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.image,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}