---
tags: 
    - image-lyne_en
title: Demo
key: image-lyne-examples_en
parent: image-lyne_en
image: demo
order: 4
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.image,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-image",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}