---
tags: 
    - accordion-lyne_en
title: Demo
parent: accordion-lyne_en
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.accordion.sbbAccordion.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-accordion",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}