---
tags: accordion-lyne_en
title: Playground
key: accordion-lyne-playground_en
parent: accordion-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.accordion,
  translations: translations["de"].lyne
}) }}