---
tags: title-lyne_en
title: Demo
key: title-lyne-demo_en
parent: title-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.title,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}