---
tags: 
    - title-lyne_en
title: Demo
parent: title-lyne_en
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.title.sbbTitle.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-title",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}