---
tags: selection-panel-lyne_en
title: Demo
key: selection-panel-lyne-demo_en
parent: selection-panel-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.selectionpanel,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}