---
tags: selection-panel-lyne_en
title: Playground
key: selection-panel-lyne-playground_en
parent: selection-panel-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.selectionpanel,
  translations: translations["de"].lyne
  }) }}