---
tags: notification-lyne_en
title: Demo
key: notification-lyne-demo_en
parent: notification-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.notification,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}