---
tags: 
    - notification-lyne_en
title: Demo
key: notification-lyne-examples_en
parent: notification-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.notification,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-notification",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}