---
tags: transparent-button-lyne_en
title: Examples
key: transparent-button-lyne-examples_en
parent: transparent-button-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-transparent-button",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}