---
tags: popover-trigger-lyne_de
title: Demo
key: popover-trigger-lyne-demo_de
parent: popover-trigger-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.popovertrigger,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}