---
tags: breadcrumb-group-lyne_de
title: Demo
key: breadcrumb-group-lyne-examples_de
parent: breadcrumb-group-lyne_de
icon: demo
order: 3
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-breadcrumb-group",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}