---
tags: table-wrapper-lyne_de
parent: table-wrapper-lyne_de
order: 3
permalink: false  
---

{{ lyneExamples({
tag: "sbb-table-wrapper",
stories: lyne.stories[0],
translations: translations["de"].lyne
}) }}