---
tags: menu-action-lyne_de
title: Demo
key: menu-action-lyne-demo_de
parent: menu-action-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.menuaction,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}