---
layout: overview.njk
tags: 
    - page
    - dshome
key: overview_de
title: Übersicht
alternativetitle: Web (Legacy)
parent: legacy_de
order: 1
componentbrowser: true
---

<p class="lead">Das Design System Lean beschreibt die Vorgaben für Websiten und besteht aus dieser UX-Dokumentation und der Angular  Library.</p>

<sbb-group class="intro-links" color="transparent" padding="s-s">
  <div class="links">
    {{ buttonGroup({
        title: "Figma",
        type: "link",
        tag: collections.figmalegacy_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Code",
        type: "link",
        tag: collections.techlinkslegacy_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Contribution",
        type: "link",
        tag: collections.contributionlegacy_de,
        size: 'm'
    }) }}
  </div>
</sbb-group>