---
tags: divider-lyne_de
title: Demo
key: divider-lyne-demo_de
parent: divider-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.divider,
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}