---
tags: tooltip-lyne_de
title: Demo
key: tooltip-lyne-demo_de
parent: tooltip-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.tooltip,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}