---
tags: teaser-paid-lyne_de
title: Beispiele
key: teaser-paid-lyne-examples_de
parent: teaser-paid-lyne_de
icon: demo
order: 4
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-teaser-paid",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}