---
tags: accordion-lyne_de
parent: accordion-lyne_de
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.accordion.sbbAccordion.playground,
  translations: translations["de"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-accordion",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}