---
tags: accordion-lyne_de
title: Playground
key: accordion-lyne-playground_de
parent: accordion-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.accordion,
  translations: translations["de"].lyne
}) }}