---
tags: 
    - tab-lyne_en
title: Demo
key: tab-lyne-examples_en
parent: tab-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lyneExamples({
tag: "sbb-tab",
stories: lyne.stories[0],
translations: translations["en"].lyne
}) }}