@use '@sbb-esta/lyne-elements' as sbb;

#onetrust-consent-sdk {
  font-family: var(--sbb-typo-type-face-sbb-roman) !important;
  font-weight: normal !important;

  #onetrust-banner-sdk, #onetrust-banner-sdk.otFlat {
    color: var(--sbb-color-black);
    background-color: var(--sbb-color-white);
    border-start-start-radius: 24px;
    border-start-end-radius: 24px;
    padding-inline: var(--sbb-layout-base-offset-responsive);
    margin-inline: auto;
    inline-size: 100%;
    max-inline-size: calc(var(--sbb-layout-base-page-max-width) + 2 * var(--sbb-layout-base-offset-responsive));
    padding-block: var(--sbb-spacing-responsive-s);
    @include sbb.mq($from: large) {
      padding-block: var(--sbb-spacing-responsive-m);
    }

    & * {
      display: block;
      position: relative;
      overflow: auto;
      float: none;
      border: none;
      box-sizing: border-box;
      inset: auto;
      inline-size: auto;
      block-size: auto;
      min-inline-size: 0;
      max-inline-size: none;
      min-block-size: 0;
      max-block-size: none;
      margin: 0;
      padding: 0;
    }

    &:focus {
      border: none;
      outline: none;
    }

    .ot-sdk-container {
      &::after {
        content: none;
      }

      .ot-sdk-row {
        padding: 0 !important;
        margin: 0 !important;
        inline-size: 100% !important;
        display: grid !important;
        gap: var(--sbb-spacing-fixed-8x) !important;
        grid-template-columns: 1fr !important;
        @include sbb.mq($from: large) {
          grid-template-columns: 1fr auto !important;
        }

        &::after {
          clear: both;
          content: none;
        }

        #onetrust-group-container {
          #onetrust-policy {
            #onetrust-policy-title {
              font-family: var(--sbb-typo-type-face-sbb-bold) !important;
              font-weight: normal !important;
              line-height: var(--sbb-typo-line-height-text) !important;
              font-size: var(--sbb-text-font-size-l) !important;
              color: var(--sbb-color-black) !important;
            }

            #onetrust-policy-text {
              font-family: var(--sbb-typo-type-face-sbb-roman) !important;
              font-weight: normal !important;
              line-height: var(--sbb-typo-line-height-text) !important;
              letter-spacing: var(--sbb-typo-letter-spacing-text) !important;
              font-size: var(--sbb-text-font-size-s) !important;
              color: var(--sbb-color-black) !important;

              a {
                color: var(--sbb-color-black) !important;
                display: inline !important;
                padding-inline-start: 4px !important;
              }
            }
          }
        }

        #onetrust-button-group-parent.ot-sdk-three.ot-sdk-columns {
          transform: none;
          padding: 0;
          inset-inline: 0;
          @include sbb.mq($from: large) {
            margin-block-start: 55px;
          }

          #onetrust-button-group {
            margin: 0;
            padding: 0;
            inline-size: 100%;
            display: grid !important;
            gap: 12px !important;
            grid-template-columns: 1fr !important;

            #onetrust-accept-btn-handler {
              background-color: var(--sbb-color-red);
              border: none;
              border-radius: 50px !important;
              color: var(--sbb-color-white);
              font-family: inherit;
              font-size: 15px;
              font-weight: normal;
              padding-block: 12px;
              padding-inline: 24px;
              text-decoration: none;
              letter-spacing: 0;
              flex-basis: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
              margin: 0;

              &:hover,
              &:focus {
                background-color: var(--sbb-color-red125);
                color: var(--sbb-color-white);
                opacity: 1;
                outline: none;
              }
            }

            #onetrust-pc-btn-handler.cookie-setting-link {
              background-color: var(--sbb-color-red);
              border: none;
              border-radius: 50px !important;
              color: var(--sbb-color-white);
              font-family: inherit;
              font-size: 15px;
              font-weight: normal;
              padding-block: 12px;
              padding-inline: 24px;
              text-decoration: none;
              letter-spacing: 0;
              flex-basis: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
              margin: 0 !important;

              &:hover,
              &:focus {
                background-color: var(--sbb-color-red125);
                color: var(--sbb-color-white);
                opacity: 1;
                outline: none;
              }
            }
          }
        }
      }
    }
  }

  #onetrust-pc-sdk {
    padding-block-end: 96px !important;
    @include sbb.mq($from: large) {
      border-radius: 24px !important;
    }

    .ot-pc-header,
    #ot-pc-content,
    .ot-pc-header {
      inline-size: 100%;
      padding-block: 15px;
      padding-inline: 30px;

      .ot-title-cntr {
        inline-size: inherit;
        display: block;
        padding-inline-start: 0;
        margin-block-start: 10px;

        .ot-close-cntr {
          inset-block-start: -50px;
        }


      }

      .ot-pc-logo {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #close-pc-btn-handler {
        position: absolute;
        inset-inline-end: 0;
        inset-block-start: 0;
        block-size: 40px;
        inline-size: 40px;
        overflow: hidden;
        background: none;
        font-size: 16px;
        -webkit-tap-highlight-color: rgb(0 0 0 / 0%);


        &::before,
        &::after {
          content: '';
          position: absolute;
          inset-inline-start: 20px;
          inset-block-start: 12px;
          block-size: 16px;
          inline-size: 1px;
          background-color: var(--sbb-color-black);

        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        &:hover,
        &:focus {
          opacity: 1;
        }

        &:focus {
          outline: none;
        }
      }
    }

    #ot-pc-content {
      inline-size: 100%;
      padding-block: 20px 0;
      padding-inline: 0;
      margin: 0;

      h3 {
        color: var(--sbb-color-black);
        font-weight: lighter;
      }

      h4 {
        color: var(--sbb-color-black);
        margin-block: 0 10px;
        margin-inline: 0;
        font-weight: normal;
        font-size: 20px;
        padding: 0;
      }

      .ot-desc-cntr {
        margin-block-start: 6px;
        padding-inline-end: 30px;
      }

      .ot-active-menu, .category-menu-switch-handler {
        border-inline-start: 0;
        padding-inline-start: 30px;
        border-block-end: 2px solid var(--sbb-color-white);

        h3 {
          font-weight: normal;
        }

        &:focus {
          border: none;
          outline: none;
        }
      }

      #ot-pc-title, #ot-category-title {
        font-family: var(--sbb-typo-type-face-sbb-bold) !important;
        font-weight: normal !important;
        line-height: var(--sbb-typo-line-height-text) !important;
        font-size: var(--sbb-text-font-size-l) !important;
        color: var(--sbb-color-black) !important;
      }

      .ot-cat-grp {
        padding-block-end: 24px !important;
      }

      #ot-pc-desc {
        font-family: var(--sbb-typo-type-face-sbb-roman) !important;
        font-weight: normal !important;
        line-height: var(--sbb-typo-line-height-text) !important;
        letter-spacing: var(--sbb-typo-letter-spacing-text) !important;
        font-size: var(--sbb-text-font-size-s) !important;
        color: var(--sbb-color-black) !important;

        a {
          color: var(--sbb-color-black) !important;
          display: inline !important;
          padding-inline-start: 4px !important;
        }
      }

      #accept-recommended-btn-handler#accept-recommended-btn-handler {
        border: none;
        border-radius: 50px !important;
        font-family: inherit;
        font-size: 15px;
        font-weight: normal;
        padding-block: 12px;
        padding-inline: 24px;
        text-decoration: none;
        letter-spacing: 0;
        flex-basis: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
        background-color: var(--sbb-color-cement);
        color: var(--sbb-color-black);
        margin-block-end: 0;

        &:hover,
        &:focus {
          background-color: var(--sbb-color-cement);
          color: var(--sbb-color-black);
          opacity: 1;
          outline: none;
        }
      }

      .ot-cat-item {
        border-radius: 8px !important;
        border: solid var(--sbb-border-width-1x) var(--sbb-color-cement);

        > button {
          position: absolute;
          block-size: 100%;
          inline-size: 100%;
        }

        .ot-tgl {
          flex-shrink: 0;

          .ot-switch {
            block-size: 32px;
            inline-size: 50px;
            -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

            .ot-switch-nob {
              position: absolute;
              inset: 0;
              overflow: hidden;
              background-color: var(--sbb-color-cement);
              border-radius: 20px;
              transition: none;

              &::before {
                content: '';
                position: absolute;
                inset-block-end: 2px;
                inset-inline-start: 2px;
                block-size: 2px;
                inline-size: 2px;
                background-color: var(--sbb-color-white);
                border-radius: 50%;
                transition: none;
              }

              &::after {
                content: '';
                opacity: 0;
                position: absolute;
                inset-block-start: 8px;
                inset-inline-start: 32px;
                block-size: 12px;
                inline-size: 5px;
                border-block-end: solid var(--sbb-border-width-1x) var(--sbb-color-red);
                border-inline-end: solid var(--sbb-border-width-1x) var(--sbb-color-red);
                transform: rotate(45deg);
                transition: none;
              }
            }
          }

          input {
            block-size: 0;
            inline-size: 0;

            &:checked + .ot-switch .ot-switch-nob {
              background-color: var(--sbb-color-red);

              &::before {
                transform: translateX(18px);
              }

              &::after {
                opacity: 1;
              }
            }

            &:focus + .ot-switch {
              outline: none;
            }
          }
        }

        .ot-acc-hdr {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0;
          cursor: pointer;

          .ot-plus-minus {
            display: none
          }

          .ot-cat-header {
            font-family: var(--sbb-typo-type-face-sbb-bold) !important;
            font-weight: normal !important;
            line-height: var(--sbb-typo-line-height-text) !important;
            font-size: var(--sbb-text-font-size-m) !important;
            color: var(--sbb-color-black) !important;
            margin-block-end: 0 !important;

            &::before,
            &::after {
              content: '';
              position: absolute;
              inset-inline-start: pxtoem(11);
              inset-block-start: calc(50% - #{pxToEm(8)});
              block-size: pxtoem(16);
              inline-size: pxtoem(1);
              background-color: var(--sbb-color-black);
              font-size: 16px;
            }

            &::before {
              transform: rotate(90deg);
            }
          }

          .ot-tgl {
            margin-block-start: pxtoem(-32);
            transform: translateY(50%);
          }

          .ot-always-active {
            flex-shrink: 0;
            transform: none;
            font-family: var(--sbb-typo-type-face-sbb-bold) !important;
            font-weight: normal !important;
            line-height: var(--sbb-typo-line-height-text) !important;
            font-size: var(--sbb-text-font-size-m) !important;
            color: var(--sbb-color-red) !important;
          }
        }

        .ot-label-txt {
          display: none;
        }

        .ot-acc-txt {
          display: none;
          padding-block-start: 0;
          margin: 0;
          border-block-start: 1px solid var(--sbb-color-cement);
          background: none;

          .ot-category-desc {
            font-family: var(--sbb-typo-type-face-sbb-roman) !important;
            font-weight: normal !important;
            line-height: var(--sbb-typo-line-height-text) !important;
            letter-spacing: var(--sbb-typo-letter-spacing-text) !important;
            font-size: var(--sbb-text-font-size-s) !important;
            color: var(--sbb-color-black) !important;
          }

          .ot-subgrps {
            font-size: inherit;

            .ot-subgrp {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              align-items: center;
              padding-block-end: 0;

              h5 {
                flex-basis: calc(100% - #{58px});
                margin: 0;
              }

              .ot-subgrp-desc {
                color: var(--sbb-color-black);
                font-weight: normal;
                flex-basis: calc(100% - #{58px});
              }
            }
          }

          .ot-vlst-cntr {
            overflow: hidden;
          }

          .ot-scrn-rdr {
            position: absolute;
            inline-size: 1px;
            block-size: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            clip-path: inset(0 0 0 0);
            margin: -1px;
            padding: 0;
            border: 0;
          }
        }

        .ot-link-btn,
        a {
          font-family: var(--sbb-typo-type-face-sbb-roman) !important;
          font-weight: normal !important;
          line-height: var(--sbb-typo-line-height-text) !important;
          letter-spacing: var(--sbb-typo-letter-spacing-text) !important;
          font-size: var(--sbb-text-font-size-s) !important;
          color: var(--sbb-color-black) !important;
          text-decoration: underline !important;
          display: inline !important;

          &::after {
            display: none;
          }
        }

        button[aria-expanded="true"] {
          ~ .ot-acc-hdr .ot-cat-header::after {
            display: none;
          }

          ~ .ot-acc-txt {
            display: block;
          }
        }
      }
    }

    #ot-pc-lst {
      position: absolute;
      inset-block: 96px 196px;
      padding: 0;

      #ot-pc-hdr {
        padding-block: 0;
        padding-inline: 16px;
        margin: 0;

        #ot-back-arw {
          margin: 0;
        }

        #vendor-search-handler {
          margin: 0;

          ~ svg {
            inset-inline-end: 0;
          }
        }

        .ot-fltr-cntr {
          position: absolute;
          inset-inline-end: 16px;
          float: none;
        }

        #ot-anchor {
          inset-inline-end: 20px;
        }

        #ot-fltr-cnt {
          inset-inline: auto 16px;

          #clear-filters-handler:focus,
          #clear-filters-handler:active {
            color: var(--sbb-color-black);
          }
        }
      }

      #ot-lst-cnt {
        padding: 0;
        margin: 0;
        inline-size: 100%;

        #ot-sel-blk {
          padding-block: 0;
          padding-inline: 16px;
          inline-size: auto;
        }

        .ot-sdk-row {
          inline-size: 100%;
          padding: 0;
          margin: 0;
        }
      }
    }

    .ot-pc-footer {
      box-shadow: var(--sbb-box-shadow-level-5-hard);

      .ot-btn-container {
        padding-block: 7px !important;
        background-color: var(--sbb-color-white);

        button, .ot-btn-subcntr {
          background-color: var(--sbb-color-red);
          border: none;
          border-radius: 50px !important;
          color: var(--sbb-color-white);
          font-family: inherit;
          text-decoration: none;
          letter-spacing: 0;
          flex-basis: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
          padding-block: 10px;
          padding-inline: 20px;
          text-align: center;
          min-inline-size: inherit;
          max-inline-size: inherit;
          margin: 0;
          font-weight: normal;
          font-size: 15px;
          float: inline-start;

          &:hover,
          &:focus {
            background-color: var(--sbb-color-red125);
            color: var(--sbb-color-white);
            opacity: 1;
            outline: none;
          }
        }

        .ot-btn-subcntr {
          float: inline-end;
          padding: 0;
        }
      }

      .ot-pc-footer-logo {
        display: flex;
        justify-content: flex-end;
        padding-block-end: 24px !important;
        background-color: var(--sbb-color-white) !important;
        border-block-start: none !important;

        a {
          block-size: pxtoem(22);
          inline-size: pxtoem(149);
        }
      }
    }
  }
}

.ot-sdk-show-settings {
  color: var(--sbb-color-white) !important;
  border: none !important;
  padding: 0 !important;
  font-size: 15px !important;
  margin: 0 !important;
  background-color: transparent !important;
  inline-size: auto !important;

  &:hover {
    background-color: transparent !important;
  }
}
