@use '@sbb-esta/lyne-elements' as sbb;

#communitylist {
  background-color: var(--sbb-color-milk);
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0;
  border-radius: var(--sbb-border-radius-4x);
  padding: var(--sbb-spacing-responsive-m)
}

.community-asset {
  width: 100%;
  padding: var(--sbb-spacing-responsive-s);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  background-color: #fff;
  gap: var(--sbb-layout-base-grid-gutter-responsive-zero);

  sbb-title {
    margin: 0;
  }

  .col-2 {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: left;
  }

  @include sbb.mq($from: small) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: ".  .";
    gap: var(--sbb-layout-base-grid-gutter-responsive-small);

    .col-2 {
      justify-content: right;
    }
  }
  @include sbb.mq($from: large) {
    gap: var(--sbb-layout-base-grid-gutter-responsive-large);
  }

}

.community-asset-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--sbb-spacing-fixed-4x);
  align-items: center;
  padding-bottom: var(--sbb-spacing-responsive-m);

  sbb-form-field {
    width: 100%;
    border-radius: var(--sbb-form-field-border-radius);
  }
}

.community-asset-list {
  display: flex;
  flex-flow: row wrap;
  place-content: flex-start flex-start;
  align-items: flex-start;
  border-radius: var(--sbb-border-radius-4x);
  overflow: hidden;
  gap: 1px;
  box-sizing: border-box;
}

.communit-asset-detail {
  gap: var(--sbb-spacing-fixed-1x) var(--sbb-spacing-fixed-4x);

  dt {
    color: var(--sbb-color-metal);
  }
}

.subtitle {
  color: var(--sbb-color-metal);
}

.not-found {
  display: none;
  text-align: center;
  background-color: var(--sbb-color-white);
  padding: var(--sbb-spacing-responsive-s);
  border-radius: var(--sbb-border-radius-4x);

  sbb-image {
    width: 50%;
    margin: 0 25%;
    padding-bottom: var(--sbb-spacing-responsive-s);

  }

  sbb-title {
    --sbb-title-margin-block-start: 0;
    --sbb-title-margin-block-end: 0;
  }

  p {
    margin-bottom: var(--sbb-spacing-responsive-xxs);
  }
}

.add-asset {
  margin-top: var(--sbb-spacing-responsive-s);
}
