.icon-content {
  sbb-title {
    margin-block-start: 0;
  }

  .icon-items {
    display: grid;
    grid-template-columns: repeat(3, var(--sbb-spacing-fixed-18x));
    gap: var(--sbb-spacing-fixed-2x);
    margin-block-start: var(--sbb-spacing-fixed-4x);
  }

  .icon-preview {
    inline-size: var(--sbb-spacing-fixed-18x);
    block-size: var(--sbb-spacing-fixed-18x);
    border-radius: var(--sbb-border-radius-2x);
    background: var(--sbb-color-white);
    border-style: solid;
    border-color: var(--sbb-color-cloud);
    border-width: var(--sbb-border-width-1x);
    text-align: center;
    display: flex;
    justify-content: center;

    sbb-icon {
      margin: auto;
      display: inline-block;
    }

    .sbb-text-s {
      margin: 0;
    }
  }

  .icon-item {
    .sbb-text-s {
      margin: 0;
    }
  }
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sbb-spacing-fixed-2x);

  sbb-title {
    flex-basis: 100%;
  }

  .icon {
    inline-size: calc(var(--sbb-size-icon-ui-small) + var(--sbb-size-icon-ui-large));
    block-size: calc(var(--sbb-size-icon-ui-small) + var(--sbb-size-icon-ui-large));
    border-radius: var(--sbb-border-radius-2x);
    background: var(--sbb-color-white);
    display: flex;
    justify-content: center;
    align-items: center;

    &.dark {
      background: var(--sbb-color-black);
    }

    &.high-contrast {
      background: var(--sbb-color-black);
    }
  }
}

.filters {
  margin-block-end: var(--sbb-spacing-fixed-6x);

}

.icons {
  > :first-child {
    margin-block-start: 0;
  }
}

.only-for-search {
  display: none;
}

.icons-header {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--sbb-spacing-fixed-4x);
  align-items: center;
  padding-block-end: var(--sbb-spacing-responsive-m);

  sbb-form-field {
    inline-size: 100%;
    border-radius: var(--sbb-form-field-border-radius);
  }
}

.popover-max-width {
  max-inline-size: calc(var(--sbb-spacing-fixed-30x) *2 + var(--sbb-spacing-fixed-5x));
  margin-block-end: 0;
  hyphens: auto;
}

.download-icons {
  margin-block-start: var(--sbb-spacing-fixed-4x);
}
