@use '@sbb-esta/lyne-elements' as sbb;




sbb-sidebar {
  inline-size: 400px;

.component-browser {
    .component-search{
    margin-block-start: calc(-1 * var(--sbb-spacing-responsive-xxxs));
    padding-block: var(--sbb-spacing-responsive-xxxs);
    padding-inline: var(--sbb-spacing-responsive-s);
    }
}
}

.browser-card {
  overflow: clip;
  border-radius: var(--sbb-border-radius-4x);
}


.component-browser {
  padding-block-end: var(--sbb-spacing-fixed-6x);
  border-start-start-radius: var(--sbb-border-radius-4x);
  border-start-end-radius: var(--sbb-border-radius-4x);
  position: relative;

  .component-search{
    background-color: var(--sbb-color-milk);
    background-color: light-dark(var(--sbb-background-color-3), var(--sbb-background-color-3));
    margin-inline: calc(-1 * var(--sbb-spacing-responsive-s));
    margin-block-start: calc(-1 * var(--sbb-spacing-responsive-s));
    inline-size: calc(100% + var(--sbb-spacing-responsive-s) + var(--sbb-spacing-responsive-s));
    padding: var(--sbb-spacing-responsive-s);
    border-start-start-radius: var(--sbb-border-radius-4x);
    border-start-end-radius: var(--sbb-border-radius-4x);
    box-shadow: var(--sbb-box-shadow-level-9-hard);

    sbb-form-field {
      inline-size: 100%;
      border-radius: var(--sbb-border-radius-4x);
      
    }

    #categories {
      margin-block: var(--sbb-spacing-fixed-4x) 0;
    }
}

&.sidebar-browser {
  .component-search{
    z-index: 99;
    position: sticky;
    inset-block-start: 0;
    transition: inset-block-start 0.2s ease;
  }
}


  .component-list {
    box-sizing: border-box;
    inline-size: 100%;
    padding: 0;
    padding-block-start: var(--sbb-spacing-fixed-10x);
    margin: 0;
    list-style: none;
    font-size: inherit;

    a, a:hover {
      text-decoration: none;
      display: block;
    }

    li {
      margin-block: 0 var(--sbb-spacing-fixed-2x);
      margin-inline: 0;

      &::before {
        content: '' !important;
        transform: scale(1.0);
      }

      sbb-title {
        margin-block: 0;
      }


    }

    &.grid-view {
      display: grid; 
      grid-template-columns: 1fr; 
      grid-template-rows: auto; 
      align-items: stretch;
      gap: var(--sbb-spacing-fixed-2x); 


        @include sbb.mq($from: large) {
          grid-template-columns: repeat(2, 1fr);
        }

        
        @include sbb.mq($from: ultra) {
          grid-template-columns: repeat(3, 1fr);
        }


      > li {
        margin-block: 0;  
        min-inline-size: 0;  
        min-block-size: 0;
        box-sizing: border-box;

      > sbb-card {
        block-size: 100%;
        display: flex;
        flex-direction: column;
      }

      .component-status {
        display: none;
      }

      .overview-image {
        margin-block-start: var(--sbb-spacing-fixed-2x);  
        display: block;
      }
    }
  }
}

.card-content-component {
  .title-chips {
     display: flex;
     flex-flow: row nowrap;
     place-content: stretch space-between;
     align-items: center;

      sbb-title {
        margin:0;
        flex: 1 1 auto;
      }

      .chips {
        flex: 0 1 auto;
        display: flex;
        gap: var(--sbb-spacing-fixed-2x);
      }

    }

  .component-status {
        display: flex;
        gap: var(--sbb-spacing-fixed-2x);
  }

  .overview-image {
        display: none;
    }    
  }
}

#componentlist {
  padding-block: 0;

}



.search-header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: var(--sbb-spacing-fixed-3x);

  sbb-form-field, sbb-toggle {
  place-self: center center;
  }
}


.not-found {
  display: none;
  text-align: center;
  background-color: var(--sbb-color-white);
  background-color: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
  padding: var(--sbb-spacing-responsive-s);
  border-radius: var(--sbb-border-radius-4x);

  sbb-image {
    inline-size: 50%;
    margin-block: 0;
    margin-inline: 25%;
    padding-block-end: var(--sbb-spacing-responsive-s);
  }

  sbb-title {
    --sbb-title-margin-block-start: 0;
    --sbb-title-margin-block-end: 0;
  }

  p {
    margin-block-end: var(--sbb-spacing-responsive-xxs);
  }
}

sbb-header {
  z-index: 999;
}

sbb-header[data-visible] ~ .content .component-browser.sidebar-browser .component-search {
  inset-block-start: 56px;
   @include sbb.mq($from: large) {
    inset-block-start: 96px;
  }
}
