@use '@sbb-esta/lyne-elements' as sbb;

sbb-container {
  .demo-content {
    color: var(--sbb-font-color-default);
  }

  p:not(.demo *) {
    @include  sbb.text-m;
  }

  ul:not(.demo *), ul:not(.tree *), ol:not(.demo *), ol:not(.tree *) {
    @include  sbb.text-m;
    @include sbb.list;
  }

  h1:not(.demo *) {
    @include sbb.heading-2;
  }

  h2:not(.demo *) {
    @include sbb.heading-3;
  }

  h3:not(.demo *) {
    @include sbb.heading-4;
  }

  h4:not(.demo *) {
    @include sbb.heading-5;
  }

  h5:not(.demo *) {
    @include sbb.heading-6;
  }

  h6:not(.demo *) {
    @include sbb.heading-6;
  }

}

a:not(.demo *) {
  @include sbb.link-element-rules;

}

.violin {
  text-decoration: none !important;
}