@use '@sbb-esta/lyne-elements' as sbb;

sbb-sidebar {
  inline-size: 400px;
}

.component-browser {
  padding-block-end: var(--sbb-spacing-fixed-6x);
  position: relative;


  .component-search{
    z-index: 999;
    inline-size: 100%;
    position: sticky;
    inset-block-start: 24px;

    sbb-form-field {
      inline-size: 100%;
      border-radius: var(--sbb-border-radius-4x);
      @include sbb.shadow-level-9-hard;
    }
}

  .component-list {
    background: var(--sbb-color-milk);
    box-sizing: border-box;
    inline-size: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: inherit;

    a, a:hover {
      text-decoration: none;
      display: block;
    }

    li {
      margin-block: var(--sbb-spacing-fixed-1x);
      margin-inline: 0;

      &::before {
        content: '' !important;
        transform: scale(1.0);
      }

      &:first-child {
        sbb-title {
          margin-block-start: 0;
        }
      }

      &.components-title {
        margin-block-start: var(--sbb-spacing-fixed-16x);
      }

      ul {
        li {
          margin-block: var(--sbb-spacing-fixed-2x);
          margin-inline: 0;
        }
      }
    }
}

.card-content-component {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0 var(--sbb-spacing-fixed-6x);
    align-items: center;

    sbb-title {
      margin:0
    }

    .component-status {
      display: flex;
      gap: var(--sbb-spacing-fixed-2x);
    }
}
}

#componentlist {
  padding-block: 0;

}