@use '@sbb-esta/lyne-elements' as sbb;

sbb-container {
  .demo-content {
    color: var(--sbb-font-color-default);
  }

  p:not(.demo *) {
    @include sbb.text-m--regular;
  }

  ul:not(.demo *), ul:not(.tree *), ol:not(.demo *), ol:not(.tree *) {
    @include sbb.text-m--regular;
    @include sbb.list;
  }

  h1:not(.demo *) {
    @include sbb.title-2;
  }

  h2:not(.demo *) {
    @include sbb.title-3;
  }

  h3:not(.demo *) {
    @include sbb.title-4;
  }

  h4:not(.demo *) {
    @include sbb.title-5;
  }

  h5:not(.demo *) {
    @include sbb.title-6;
  }

  h6:not(.demo *) {
    @include sbb.title-6;
  }

}

a:not(.demo *) {
  @include sbb.link;
}

.violin {
  text-decoration: none !important;
}