.icon-content {
  sbb-title {
    margin-block-start: 0;
  }

  .icon-items {
    display: grid;
    grid-template-columns: repeat(4, var(--sbb-spacing-fixed-18x));
    gap: var(--sbb-spacing-fixed-2x);
    margin-block-start: var(--sbb-spacing-fixed-4x);
  }

  .icon-preview {
    inline-size: var(--sbb-spacing-fixed-18x);
    block-size: var(--sbb-spacing-fixed-18x);
    border-radius: var(--sbb-border-radius-2x);
    background: var(--sbb-color-white);
    background: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
    border-style: solid;
    border-color: var(--sbb-color-cloud);
    border-color: light-dark(var(--sbb-border-color-4-inverted), var(--sbb-border-color-4-inverted));
    border-width: var(--sbb-border-width-1x);
    text-align: center;
    display: flex;
    justify-content: center;

    sbb-icon, img {
      margin: auto;
      display: inline-block;
    }

    .size-extra-small {
      inline-size: 16px;
      block-size: 16px;
    }

    .size-small {
      inline-size: 24px;
      block-size: 24px;
    }

    .size-medium {
      inline-size: 36px;
      block-size: 36px;
    }

    .size-large {
      inline-size: 48px;
      block-size: 48px;
    }

    .sbb-text-s {
      margin: 0;
    }
  }

  .icon-item {
    .sbb-text-s {
      margin: 0;
    }
  }
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sbb-spacing-fixed-2x);

  sbb-title {
    flex-basis: 100%;
  }

  .icon {
    inline-size: calc(var(--sbb-size-icon-ui-small) + var(--sbb-size-icon-ui-large));
    block-size: calc(var(--sbb-size-icon-ui-small) + var(--sbb-size-icon-ui-large));
    border-radius: var(--sbb-border-radius-2x);
    background: var(--sbb-color-white);
    background: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
    display: flex;
    justify-content: center;
    align-items: center;

    &.light {
      background: var(--sbb-color-white);
    }

    &.dark {
      background: var(--sbb-color-midnight);
    }

    &.high-contrast {
      background: var(--sbb-color-midnight);
    }
  }
}

.filters {
  margin-block-end: var(--sbb-spacing-fixed-6x);

}

.icons {
  > :first-child {
    margin-block-start: 0;
  }
}

.only-for-search {
  display: none;
}

.icons-header {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--sbb-spacing-fixed-4x);
  align-items: center;
  padding-block-end: var(--sbb-spacing-responsive-m);

  sbb-form-field {
    inline-size: 100%;
    border-radius: var(--sbb-form-field-border-radius);
  }
}

.popover-max-width {
  max-inline-size: calc(var(--sbb-spacing-fixed-30x) *2 + var(--sbb-spacing-fixed-5x));
  margin-block-end: 0;
  hyphens: auto;
}

.download-icons {
  margin-block-start: var(--sbb-spacing-fixed-4x);
}
