/*

@font-face {
    font-family: "SBBWeb Bold";
    src: url("https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Bold.woff2")
            format("woff2"),
        url("https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Bold.woff")
            format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SBBWeb Light";
    src: url("https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Light.woff2")
            format("woff2"),
        url("https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Light.woff")
            format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SBBWeb Roman";
    src: url("https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Roman.woff2")
            format("woff2"),
        url("https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Roman.woff")
            format("woff");
    font-display: fallback;
}

*/

/*
@font-face {
    font-family: "SBBWeb Bold";
    src: url("../fonts/SBB-Bold.woff2")
            format("woff2"),
        url("../fonts/SBB-Bold.woff")
            format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SBBWeb Light";
    src: url("../fonts/SBB-Light.woff2")
            format("woff2"),
        url("../fonts/SBB-Light.woff")
            format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SBBWeb Roman";
    src: url("../fonts/SBB-Roman.woff2")
            format("woff2"),
        url("../fonts/SBB-Roman.woff")
            format("woff");
    font-display: fallback;
}

*/