@use '@sbb-esta/lyne-elements' as sbb;

.token-table {
  .row {
    inline-size: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0 var(--sbb-spacing-fixed-4x);
    padding-block: var(--sbb-spacing-fixed-2x);
    padding-inline: 0;
    border-block-end: solid var(--sbb-border-width-1x) var(--sbb-color-cloud);
    border-block-end: solid var(--sbb-border-width-1x) light-dark(var(--sbb-border-color-4-inverted), var(--sbb-border-color-4-inverted));

    &:last-child {
      border-block-end: none;
    }

    p {
      margin-block: var(--sbb-spacing-fixed-1x);
      margin-inline: 0;
    }

    .token-name {
      display: flex;
      gap: 0;
      align-items: center;
      justify-content: left;
    }

    .token-value {
      display: flex;
      gap: 0;
      align-items: center;
      justify-content: left;
    }

    .token-demo {
      display: flex;
      gap: 0;
      align-items: center;
      justify-content: left;
      min-block-size: var(--sbb-spacing-fixed-5x);
      padding-block: var(--sbb-spacing-fixed-2x);
      padding-inline: 0;

    }

    &.show-from-medium {
      display: none;
    }

    @include sbb.mq($from: medium) {
      .center {
        justify-content: center;
      }

      .left {
        justify-content: left;
      }

      .right {
        justify-content: right;
      }

      &.show-from-medium {
        display: grid;
        text-transform: capitalize;
      }

      .hide-from-medium {
        display: none;
        text-transform: capitalize;
      }
    }
  }


}


.duration-token {
  .row {
    @include sbb.mq($from: medium) {
      grid-template-columns: 4fr 1fr 4fr;
    }
  }
}

.easing-token {
  .row {
    @include sbb.mq($from: medium) {
      grid-template-columns: 4fr 5fr;
    }
  }
}

.border-width-token {
  .row {
    @include sbb.mq($from: small) {
      grid-template-columns: 3fr 1fr 4fr;
    }
  }
}

.color-token {
  .row {
    @include sbb.mq($from: small) {
      grid-template-columns: 3fr 3fr 1fr;
    }
  }
}

.border-radius-token {
  .row {
    @include sbb.mq($from: small) {
      grid-template-columns: 3fr 1fr 4fr;
    }
  }
}

.spacing-responsive-token {
  sbb-title {
    margin-block: var(--sbb-spacing-fixed-2x);
    margin-inline: 0;
  }

  .row {
    gap: var(--sbb-spacing-fixed-4x) 0;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.spacing-fixed-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.breakpoint-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.scalye-typo-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.face-typo-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0;
    @include sbb.mq($from: medium) {
      grid-template-columns: 2fr 3fr auto;
    }
  }
}

.letter-spacing-typo-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.line-height-typo-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.remaining-typo-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 2fr;
    }
  }
}

.shadow-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0;

    @include sbb.mq($from: large) {
      grid-template-columns: 3fr 1fr;

      .value {
        text-align: end;
      }
    }

  }
}

.base-grid-columns-token, .base-grid-gutter-token, .base-grid-offset-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0;
    @include sbb.mq($from: medium) {
      grid-template-columns: 5fr 1fr 2fr;
    }
  }
}


.border-demo {
  inline-size: var(--sbb-spacing-fixed-10x);
  block-size: var(--sbb-spacing-fixed-10x);
  border: solid var(--sbb-border-width-1x) var(--sbb-color-metal);
  border: solid var(--sbb-border-width-1x) light-dark(var(--sbb-border-color-5), var(--sbb-border-color-5));
}

.animation-demo {
  block-size: var(--sbb-spacing-fixed-1x);
  background-color: var(--sbb-color-red);
  border-radius: var(--sbb-border-radius-2x);
}

.space-demo {
  border: solid var(--sbb-border-width-1x) var(--sbb-color-smoke);
  border: solid var(--sbb-border-width-1x) light-dark(var(--sbb-border-color-5), var(--sbb-border-color-5));
  background-color: var(--sbb-color-cloud);
  background-color: light-dark(var(--sbb-background-color-4), var(--sbb-background-color-4));
  border-radius: var(--sbb-border-radius-1x);

  
}

.grid-item {
  border: solid var(--sbb-border-width-1x) var(--sbb-color-platinum);
  background-color: var(--sbb-color-milk);
  background-color: light-dark(var(--sbb-background-color-3), var(--sbb-background-color-3));
  border-radius: var(--sbb-border-radius-1x);
  min-block-size: var(--sbb-spacing-fixed-7x);;
}

.token-grid {
  display: grid;
  grid-column-gap: var(--sbb-spacing-fixed-2x);
  inline-size: 100%;
}


.shadow-3-soft-positive {
  background: var(--sbb-color-white);
  background: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
  @include sbb.shadow-level-3-soft;
}

.shadow-3-soft-negative {
  background: var(--sbb-color-midnight);
  background: light-dark(var(--sbb-background-color-1-inverted), var(--sbb-background-color-1));
  color: var(--sbb-color-white);
  color: light-dark(var(--sbb-color-1-inverted), var(--sbb-color-1-inverted));
  @include sbb.shadow-level-3-soft-negative;
}

.shadow-3-hard-positive {
  background: var(--sbb-color-white);
  background: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
  @include sbb.shadow-level-3-hard;
}

.shadow-3-hard-negative {
  background: var(--sbb-color-midnight);
  background: light-dark(var(--sbb-background-color-1-inverted), var(--sbb-background-color-1));
  color: var(--sbb-color-white);
  color: light-dark(var(--sbb-color-1-inverted), var(--sbb-color-1-inverted));
  @include sbb.shadow-level-3-hard-negative;
}


.shadow-5-soft-positive {
  background: var(--sbb-color-white);
  background: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
  @include sbb.shadow-level-5-soft;
}

.shadow-5-soft-negative {
  background: var(--sbb-color-midnight);
  background: light-dark(var(--sbb-background-color-1-inverted), var(--sbb-background-color-1));
  color: var(--sbb-color-white);
  color: light-dark(var(--sbb-color-1-inverted), var(--sbb-color-1-inverted));
  @include sbb.shadow-level-5-soft-negative;
}

.shadow-5-hard-positive {
  background: var(--sbb-color-white);
  background: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
  @include sbb.shadow-level-5-hard;
}

.shadow-5-hard-negative {
  background: var(--sbb-color-midnight);
  background: light-dark(var(--sbb-background-color-1-inverted), var(--sbb-background-color-1));
  color: var(--sbb-color-white);
  color: light-dark(var(--sbb-color-1-inverted), var(--sbb-color-1-inverted));
  @include sbb.shadow-level-5-hard-negative;
}


.shadow-9-soft-positive {
  background: var(--sbb-color-white);
  background-color: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
  @include sbb.shadow-level-9-soft;
}

.shadow-9-soft-negative {
  background: var(--sbb-color-midnight);
  background: light-dark(var(--sbb-background-color-1-inverted), var(--sbb-background-color-1));
  color: var(--sbb-color-white);
  color: light-dark(var(--sbb-color-1-inverted), var(--sbb-color-1-inverted));
  @include sbb.shadow-level-9-soft-negative;
}

.shadow-9-hard-positive {
  background: var(--sbb-color-white);
  background: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
  @include sbb.shadow-level-9-hard;
}

.shadow-9-hard-negative {
  background: var(--sbb-color-midnight);
  background: light-dark(var(--sbb-background-color-1-inverted), var(--sbb-background-color-1));
  color: var(--sbb-color-white);
  color: light-dark(var(--sbb-color-1-inverted), var(--sbb-color-1-inverted));
  @include sbb.shadow-level-9-hard-negative;
}


.shadow-11-soft-positive {
  background: var(--sbb-color-white);
  background: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
  @include sbb.shadow-level-11-soft;
}

.shadow-11-soft-negative {
  background: var(--sbb-color-midinight);
  background: light-dark(var(--sbb-background-color-1-inverted), var(--sbb-background-color-1));
  color: var(--sbb-color-white);
  color: light-dark(var(--sbb-color-1-inverted), var(--sbb-color-1-inverted));
  @include sbb.shadow-level-11-soft-negative;
}

.shadow-11-hard-positive {
  background: var(--sbb-color-white);
  background: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
  @include sbb.shadow-level-11-hard;
}

.shadow-11-hard-negative {
  background: var(--sbb-color-midnight);
  background: light-dark(var(--sbb-background-color-1-inverted), var(--sbb-background-color-1));
  color: var(--sbb-color-white);
  color: light-dark(var(--sbb-color-1-inverted), var(--sbb-color-1-inverted));
  @include sbb.shadow-level-11-hard-negative;
}

.shadow-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--sbb-spacing-fixed-12x) var(--sbb-spacing-fixed-12x);
  margin-block: var(--sbb-spacing-fixed-12x);
  margin-inline: 0;

  @include sbb.mq($from: medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  div {
    padding: var(--sbb-spacing-fixed-4x);

    sbb-title {
      margin:0;
    }

    code {
      font-size: var(--sbb-typo-scale-0-75x);
    }
  }
}