@use '@sbb-esta/lyne-elements' as sbb;

.teasers {
  display: grid;
  gap: var(--sbb-layout-base-grid-gutter-responsive-zero);
  grid-template-columns: 1fr;
  margin-block-start: var(--sbb-spacing-responsive-xxl);

  sbb-teaser {
    margin-block-end: var(--sbb-spacing-responsive-xs);

    a img {
      border-radius: var(--sbb-border-radius-4x);
    } 
  }

  @include sbb.mq($from: small) {
    gap: var(--sbb-layout-base-grid-gutter-responsive-small);
  }
  @include sbb.mq($from: large) {
    gap: var(--sbb-layout-base-grid-gutter-responsive-large);
  }
}

.teasers.home {
  @include sbb.mq($from: medium) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sbb.mq($from: wide) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.teasers.ds-overview {
  margin-block: var(--sbb-spacing-responsive-m);
  @include sbb.mq($from: small) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sbb.mq($from: medium) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include sbb.mq($from: wide) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.teasers.principles {
  @include sbb.mq($from: medium) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sbb.mq($from: wide) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.full-width-image {
  inline-size: 100%;
}

.teaser-title {
  margin: 0;
}
