@use '@sbb-esta/lyne-elements' as sbb;

html, body {
  block-size: 100vh;

  // background-color: var(--sbb-color-white);
}

body {
  scrollbar-gutter: stable both-edges;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;

  &.menu-open {
    #body-overlay {
      display: block;
    }

    .sidebar {
      inset-inline-start: 0;

      .browser {
        block-size: 100%;
      }
    }
  }
}

ul, ol {
  color: var(--sbb-color-midnight);
  color: light-dark(var(--sbb-color-1), var(--sbb-color-1));
}

.content {
  padding-block-end: var(--sbb-spacing-responsive-xl);

}

.hide {
  display: none;
}

figure {
  margin: 0;
}

.lead {
  @include sbb.mq($from: large) {
    inline-size: 75%;
  }
}

strong, b {
  font-family: var(--sbb-typo-type-face-sbb-bold);
  font-weight: normal;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-block-end: 0;
}

.no-margin-top {
  margin-block-start: 0;
}

.principle-image {
  max-inline-size: 100%;
  margin-block-start: var(--sbb-spacing-fixed-6x);

  img {
    max-inline-size: 100%;
  }
}

h2.with-icon {
  display: grid;
  grid-template-columns: auto 1fr;

  sbb-icon {
    padding-block: 0;
    padding-inline: 0 var(--sbb-spacing-fixed-2x);
    margin-block-start: calc(-1 * var(--sbb-spacing-fixed-1x));
    stroke: var(--sbb-color-midnight);
    stroke: light-dark(var(--sbb-color-1), var(--sbb-color-1));
    stroke-width: 1.5;
    @include sbb.mq($from: medium) {
      margin-block-start: calc(var(--sbb-spacing-fixed-1x) / 2);
      padding-block: 0;
      padding-inline: 0 var(--sbb-spacing-fixed-3x);
    }

  }
}

h3.with-icon {
  display: grid;
  grid-template-columns: auto 1fr;

  sbb-icon {
    padding-block: 0;
    padding-inline: 0 var(--sbb-spacing-fixed-3x);
    margin-block-start: calc(-1 * var(--sbb-spacing-fixed-1x));
    stroke: var(--sbb-color-midnight);
    stroke: light-dark(var(--sbb-color-1), var(--sbb-color-1));
    stroke-width: 1.5;
    @include sbb.mq($from: medium) {
      padding-block: 0;
      padding-inline: 0 var(--sbb-spacing-fixed-3x);
      margin-block-start: calc(-1 * var(--sbb-spacing-fixed-1x));
    }

  }
}

.dark {
  background-color: var(--sbb-color-midnight);
  background-color: light-dark(var(--sbb-background-color-1-inverted), var(--sbb-background-color-1-inverted));
}

code:not([class]) {
  color: var(--sbb-color-violet);
  color: light-dark(var(--sbb-color-violet-light), var(--sbb-color-violet-dark));
  background-color: var(--sbb-color-milk);
  background-color: light-dark(var(--sbb-background-color-3), var(--sbb-background-color-3));
  padding-block: calc(var(--sbb-spacing-fixed-1x) / 2);
  padding-inline: var(--sbb-spacing-fixed-2x);
  border-radius: var(--sbb-spacing-fixed-2x);
  border: solid var(--sbb-border-width-1x) var(--sbb-color-cloud);
  border: solid var(--sbb-border-width-1x) light-dark(var(--sbb-border-color-4-inverted), var(--sbb-border-color-4-inverted));

}


.sbb-section-panel {
  h2:first-child {
    margin-block-start: 0;
  }

  hr {
    display: none;
  }
}

.default-image {
  max-inline-size: 100%;

  img {
    max-inline-size: 100%;
  }
}

.boxed-image {
  max-inline-size: 100%;
  padding: var(--sbb-spacing-fixed-6x);
  margin-block-end: var(--sbb-spacing-fixed-4x);
  border-radius: var(--sbb-border-radius-4x);
  background-color: var(--sbb-color-milk);

  img {
    max-inline-size: 100%;
  }

  &.dark {
    background-color: var(--sbb-color-midnight);

    // background-color: light-dark(var(--sbb-background-color-1-inverted), var(--sbb-background-color-1-inverted));

    figure:first-child {
      display: none;
    }
  }

  &.light {
    figure:nth-child(2) {
      display: none;
    }
  }

  &.specification {
    > * {
      margin-block: var(--sbb-spacing-responsive-xl);
      margin-inline: auto;
      text-align: center;
    }
  }
}

.boxed-component {
  max-inline-size: 100%;
  padding: var(--sbb-spacing-fixed-6x);
  border-radius: var(--sbb-border-radius-4x);
  background-color: var(--sbb-color-milk);
  background-color: light-dark(var(--sbb-background-color-3), var(--sbb-background-color-3));
  text-align: center;

  > * {
    margin-block: var(--sbb-spacing-responsive-xl);
    margin-inline: auto;
  }
}

sbb-table-wrapper + sbb-table-wrapper { 
  margin-block-start: var(--sbb-spacing-fixed-4x);
}

.overview-buttons {
  margin-block: var(--sbb-spacing-responsive-m);
  margin-inline: 0;
}


.intro-links {
  margin-block: var(--sbb-spacing-responsive-l);
  margin-inline: 0;

  .links {
    display: grid;
    gap: var(--sbb-spacing-responsive-m);
    grid-template-columns: 1fr;
    @include sbb.mq($from: medium) {
      gap: var(--sbb-layout-base-grid-gutter-responsive-medium);
      grid-template-columns: auto auto auto;
    }
    @include sbb.mq($from: large) {
      gap: var(--sbb-layout-base-grid-gutter-responsive-large);
    }
    @include sbb.mq($from: wide) {
      gap: var(--sbb-layout-base-grid-gutter-responsive-wide);
    }
    @include sbb.mq($from: ultra) {
      gap: var(--sbb-layout-base-grid-gutter-responsive-ultra);
    }
  }
}

.buttons-overview {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--sbb-spacing-fixed-2x) var(--sbb-spacing-fixed-2x);

  @include sbb.mq($from: medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}


.demo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--sbb-spacing-fixed-8x) var(--sbb-spacing-fixed-8x);

  @include sbb.mq($from: medium) {
    grid-template-columns: 2fr 1fr;
  }

  &.wide {
    grid-template-columns: 1fr;
  }
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--sbb-border-radius-4x);
  padding-block: var(--sbb-spacing-fixed-8x);
  padding-inline: var(--sbb-spacing-fixed-8x);
  background-color: var(--sbb-color-white);
  background-color: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
  border: solid var(--sbb-border-width-1x) var(--sbb-color-cloud);
  border: solid var(--sbb-border-width-1x) light-dark(var(--sbb-border-color-4-inverted), var(--sbb-border-color-4-inverted));
  min-block-size: var(--sbb-spacing-fixed-24x);
  
  @include sbb.mq($from: medium) {
    padding: var(--sbb-spacing-fixed-8x);
  }

  &[data-background="background-1"] {
    background-color: var(--sbb-color-white);
    background-color: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
  }

  &[data-background="background-2"] {
    background-color: var(--sbb-color-white);
    background-color: light-dark(var(--sbb-background-color-2), var(--sbb-background-color-2));
  }

  &[data-background="background-3"] {
    background-color: var(--sbb-color-milk);
    background-color: light-dark(var(--sbb-background-color-3), var(--sbb-background-color-3));
  }

  &[data-background="background-4"] {
    background-color: var(--sbb-color-cloud);
    background-color: light-dark(var(--sbb-background-color-4), var(--sbb-background-color-4));
  }

  &[data-background="background-1-inverted"] {
    background-color: var(--sbb-color-midnight);
    background-color: light-dark(var(--sbb-background-color-1-inverted), var(--sbb-background-color-1-inverted));
  }

  &[data-background="background-2-inverted"] {
    background-color: var(--sbb-color-charcoal);
    background-color: light-dark(var(--sbb-background-color-2-inverted), var(--sbb-background-color-2-inverted));
  }

  &[data-background="background-3-inverted"] {
    background-color: var(--sbb-color-charcoal);
    background-color: light-dark(var(--sbb-background-color-3-inverted), var(--sbb-background-color-3-inverted));
  }

  &[data-background="background-4-inverted"] {
    background-color: var(--sbb-color-iron);
    background-color: light-dark(var(--sbb-background-color-4-inverted), var(--sbb-background-color-4-inverted));
  }






  sbb-clock {
    inline-size: 50%;
  }
}

#more-buttons {
  margin-block-start: var(--sbb-spacing-fixed-8x);
}

.badge-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--sbb-border-radius-4x);
  background-color: var(--sbb-color-milk);
  background-color: light-dark(var(--sbb-background-color-3), var(--sbb-background-color-3));
  inline-size: 100%;
  block-size: var(--sbb-spacing-fixed-20x);
}

.language-mermaid {
  display: none;
}

.hidden, .hide-icon {
  display: none;
}

.error-divider {
  margin-block: var(--sbb-spacing-fixed-20x) var(--sbb-spacing-fixed-18x);
}

.full-width-wrapper {
  inline-size: 100%;
}

.release-card {
  margin-block-end: var(--sbb-spacing-fixed-6x);

  h2 {
    margin-block: 0 var(--sbb-spacing-fixed-2x);
  }
}


.iframe-border {
  inline-size: 100%;
  border: none;
  resize: vertical;
}

.lyne-demo-example-button {
  margin-block-start: var(--sbb-spacing-fixed-2x);
}

.example {
  border-radius: var(--sbb-border-radius-4x);
  border: solid var(--sbb-border-width-1x) var(--sbb-color-cloud);
  border: solid var(--sbb-border-width-1x) light-dark(var(--sbb-border-color-4-inverted), var(--sbb-border-color-4-inverted));
  background-color: var(--sbb-color-milk);
  background-color: light-dark(var(--sbb-background-color-3), var(--sbb-background-color-3));

  iframe, pre, code {
    display: block;
    margin: 0;
  }

  iframe {
    background-color: var(--sbb-color-white);
    background-color: light-dark(var(--sbb-background-color-1), var(--sbb-background-color-1));
    border-start-start-radius: var(--sbb-border-radius-4x);
    border-start-end-radius: var(--sbb-border-radius-4x);
  }

  .example-footer {
    padding: var(--sbb-spacing-fixed-6x);
  }

  pre[class*="language-"] {
    border-radius: 0;
    margin: 0
  }

  .hidden {
    display: none;
  }
}

p.subtext {
  color: var(--sbb-color-smoke);
  color: light-dark(var(--sbb-color-5), var(--sbb-color-5));
}

.switcher { 
  margin-block-end: var(--sbb-spacing-fixed-4x);
}

.mode-icon-light, .mode-icon-dark {
  sbb-icon {
    vertical-align: middle;
    margin-block-end: var(--sbb-spacing-fixed-1x);
    margin-inline-end: var(--sbb-spacing-fixed-1x);
  }
}

.mode-icon-dark {
  sbb-icon {
    margin-inline-start: var(--sbb-spacing-fixed-3x);
  }
}

@media (prefers-color-scheme: dark) {
  .hide-on-dark { 
    display: none 
  }

  .current-mode::before {
    content: "Dark \00a0";
  }
}

@media (prefers-color-scheme: light) {
  .hide-on-light {
    display: none
  }

  .current-mode::before {
    content: "Light \00a0";
  }
}