@use '@sbb-esta/lyne-elements' as sbb;

sbb-footer {
  margin-block-start: 0;
}

.footer-title {
  margin-block-start: 0;
}

.footer-divider {
  margin-block: var(--sbb-spacing-responsive-l) var(--sbb-spacing-fixed-8x);
  border-block-start-width: 0;
}

.mode-switch {
  margin-block-end: var(--sbb-spacing-fixed-6x);
}

.impressum {
  margin-block-start: var(--sbb-spacing-fixed-2x);
}

.footer-content {
  color: var(--sbb-color-iron);
  color: light-dark(var(--sbb-color-5), var(--sbb-color-5));
  padding-inline: 0;
  row-gap: 0;

  .sbb-text-s {
    margin-block-end: 0;
  }

  .contact, .impressum {
    grid-column: 1 / 5;
    order: 2;
  }

  .clock, .mode-switch {
    grid-column: 1 / 1;
    order: 1;

    sbb-clock {
      max-inline-size: calc(var(--sbb-size-icon-ui-large) * 2);
      margin-block-end: var(--sbb-spacing-responsive-xl);
    }
  }

  .footer-divider {
    grid-column: 1 / 5;
    order: 3;
  }

  @include sbb.mq($from: medium) {
    .contact, .impressum {
      order: 1;
      grid-column: 1 / 8;
    }

    .clock, .mode-switch {
      order: 2;
      grid-column: 8 / 9;

      sbb-clock {
        margin-inline-start: auto;
        margin-block-end: 0;
      }
    }

    .footer-divider {
      grid-column: 1 / 9;
    }
  }
  @include sbb.mq($from: wide) {
    .contact, .impressum {
      grid-column: 1 / 11;
    }

    .clock, .mode-switch {
      grid-column: 11 / 13;
    }

    .footer-divider {
      grid-column: 1 / 13;
    }
  }
  @include sbb.mq($from: ultra) {
    .contact, .impressum {
      grid-column: 1 / 15;
    }

    .clock, .mode-switch {
      grid-column: 15 / 17;
    }

    .footer-divider {
      grid-column: 1 / 17;
    }
  }
}
