---
tags: 
    - header-button-lyne_en
title: Demo
key: header-button-lyne-examples_en
parent: header-button-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.headerbutton,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-header-button",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}