---
tags: header-button-lyne_en
title: Examples
key: header-button-lyne-examples_en
parent: header-button-lyne_en
icon: demo
order: 4
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-header-button",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}