---
tags: option-lyne_de
title: Demo
key: option-lyne-examples_de
parent: option-lyne_de
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.option,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-option",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}