---
tags: option-lyne_de
title: Playground
key: option-lyne-playground_de
parent: option-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.option,
  translations: translations["de"].lyne
  }) }}