---
tags: toggle-lyne_en
title: Demo
key: toggle-lyne-demo_en
parent: toggle-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.toggle,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}