---
tags: status-lyne_de
parent: status-lyne_de
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.status.sbbStatus.playground,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-status",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}