---
tags: status-lyne_de
title: Demo
key: status-lyne-examples_de
parent: status-lyne_de
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.status,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-status",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}