<div class="token-table color-token">
{% for token in lyne.components.designtokencolor.color %}
    <div class="row">
        <div class="token-name"><p>{{ token.name }}</p></div>
        <div class="token-value"><p>{{ token.value }}</p></div>
        <div class="token-demo"><div class="border-demo" style="background-color: {{token.original.value}}; "></div></div>
    </div>
{% endfor %}
</div>
