---
tags: 
    - navigation-button-lyne_en
title: Demo
key: navigation-button-lyne-examples_en
parent: navigation-button-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-navgation-button",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}