---
layout: overview-lyne.njk
tags: 
    - level3
    - dshome
key: overview-lyne_en
title: Overview
alternativetitle: Lyne
parent: lyne_en
order: 10
basics: true
components: true
---

<p class="lead">The Lyne design system describes the specifications for websites as well as for customer and business applications. It consists of this documentation, a Figma library and a WebComponent library. Lyne version 1.0 can be used for all SBB customer applications. With version 2.0 (release winter 2024), Lyne will also be optimised for business applications. The documentation is continuously improved.</p>

<sbb-card class="intro-links" color="transparent-bordered" size="xxl">
  <div class="links">
    {{ buttonGroup({
        title: "Design",
        type: "link",
        tag: collections.figmalyne_en,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Code",
        type: "link",
        tag: collections.techlinkslyne_en,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Contribution",
        type: "link",
        tag: collections.contributionlyne_en,
        size: 'm'
    }) }}
  </div>
</sbb-card>