---
tags: option-lyne_en
title: Demo
key: option-lyne-demo_en
parent: option-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.option,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}