---
tags: 
    - menu-button-lyne_en
title: Demo
key: menu-button-lyne-examples_en
parent: menu-button-lyne_en
icon: demo
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-menu-button",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}