---
tags: 
    - card-lyne_en
title: Demo
parent: card-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.card.sbbCard.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-card",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}