---
tags: 
    - card-lyne_en
title: Demo
key: card-lyne-examples_en
parent: card-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.card,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-card",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}