---
tags: 
    - checkbox-panel-lyne_en
title: Demo
parent: checkbox-panel-lyne_en
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.checkbox.sbbCheckboxPanel.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-checkbox-panel",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}