---
tags: action-group-lyne_de
title: Demo
key: action-group-lyne-demo_de
parent: action-group-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.actiongroup,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
}) }}