---
tags: accordion-lyne_de
title: Demo
key: accordion-lyne-demo_de
parent: accordion-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.accordion,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
}) }}