---
tags: 
    - autocomplete-lyne_en
title: Demo
parent: autocomplete-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.autocomplete.sbbAutocomplete.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-autocomplete",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}