---
tags: flip-card-lyne_en
title: Demo
key: flip-card-lyne-examples_en
parent: flip-card-lyne_en
icon: demo
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-flip-card",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}