---
tags: popover-trigger-lyne_en
title: Demo
key: popover-trigger-lyne-demo_en
parent: popover-trigger-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.popovertrigger,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}