---
tags: tab-group-lyne_de
parent: tab-group-lyne_de
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-tab-group",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}