---
tags: block-link-lyne_de
parent: block-link-lyne_de
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.link.sbbBlockLink.playground,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-block-link",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}