---
tags: block-link-lyne_de
title: Demo
key: block-link-lyne-examples_de
parent: block-link-lyne_de
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.blocklink,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-block-link",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}