---
tags: teaser-hero-lyne_en
title: Demo
key: teaser-hero-lyne-demo_en
parent: teaser-hero-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.teaserhero,
  stories: lyne.stories[0],
  wide: true,
  translations: translations["en"].lyne
  }) }}