{% macro imageWithMode(params) %}<div class="boxed-image light"><figure class="responsiveimage"><img src="{{ params.url }}-light.webp" alt="{{ params.alt }}" title="{{ params.title }}" sizes="100vw" srcset="{{ params.url }}-light.webp 1x, {{ params.url }}-light@2x.webp 2x, {{ params.url }}-light@3x.webp 3x"></figure><figure class="responsiveimage"><img src="{{ params.url }}-dark.webp" alt="{{ params.alt }}" title="{{ params.title }}" sizes="100vw" srcset="{{ params.url }}-dark.webp 1x, {{ params.url }}-dark@2x.webp 2x, {{ params.url }}-dark@3x.webp 3x"></figure></div>{% include "../default-component/mode-switch.njk" %}{% endmacro %}

{% macro imageOnGreyBackground(params) %}<div class="boxed-image"><figure class="responsiveimage"><img src="{{ params.url }}.webp" alt="{{ params.alt }}" title="{{ params.title }}" sizes="100vw" srcset="{{ params.url }}.webp 1x, {{ params.url }}@2x.webp 2x, {{ params.url }}@3x.webp 3x"></figure></div>{% endmacro %}

{% macro imageSpec(params) %}<div class="boxed-image specification"><figure class="responsiveimage"><img src="{{ params.url }}.webp" alt="{{ params.alt }}" title="{{ params.title }}" sizes="100vw" srcset="{{ params.url }}.webp 1x, {{ params.url }}@2x.webp 2x, {{ params.url }}@3x.webp 3x"></figure></div>{% endmacro %}

{% macro principleImage(params) %}<figure class="principle-image"><img src="{{ params.url }}.webp" alt="{{ params.alt }}" title="{{ params.title }}" sizes="100vw" srcset="{{ params.url }}.webp 1x, {{ params.url }}@2x.webp 2x, {{ params.url }}@3x.webp 3x"></figure>{% endmacro %}

{% macro webpImage(params) %}<figure class="default-image"><img src="{{ params.url }}.webp" alt="{{ params.alt }}" title="{{ params.title }}" sizes="100vw" srcset="{{ params.url }}.webp 1x, {{ params.url }}@2x.webp 2x, {{ params.url }}@3x.webp 3x"></figure>{% endmacro %}

{% macro svgImage(params) %}<figure class="svg-image"><img src="{{ params.url }}.svg" alt="{{ params.alt }}" title="{{ params.title }}"></figure>{% endmacro %}

{% macro buttonGroup(params) %}
    {% if params.type == "link" %}
    <sbb-link-list title-level="3" size="{{params.size}}" {% if params.title %}title-content="{{params.title}}"{% endif %} orientation="vertical" {% if params.horizontalfrom %}horizontal-from="{{params.horizontalfrom}}" {% endif %}>
        {%- for button in params.tag | sortByOrder -%}
            <sbb-block-link href="{{ button.data.url }}" {% if button.data.external == true %} target="_blank"{% endif %} icon-name="chevron-small-right-small" icon-placement="end">{{ button.data.label }}</sbb-block-link>
        {%- endfor -%}
    </sbb-link-list>
    {% else %}
    <sbb-action-group class="overview-buttons" align="{{params.alignement}}" button-size="{{params.size}}" orientation="vertical" horizontal-from="{{params.horizontalfrom}}">
        {%- for button in params.tag | sortByOrder -%}
            <sbb-{{ button.data.variant }}-button-link href="{{ button.data.url }}"{% if button.data.external == true %} target="_blank"{% endif %}>{{ button.data.label }}{% if button.data.icon %}<sbb-icon slot="icon" name="{{ button.data.icon }}"></sbb-icon>{% endif %}</sbb-{{ button.data.variant }}-button-link>
        {%- endfor -%}
    </sbb-action-group>
    {% endif %}
{% endmacro %}

{% macro specificationLinks(params) %}
    <sbb-action-group orientation="vertical" horizontal-from="small">{% if params.figma %}<sbb-secondary-button-link size="m" target="_blank" href="{{params.figma}}"><sbb-icon slot="icon" name="figma-small"></sbb-icon>Design</sbb-secondary-button-link>{% endif %}{% if params.github %}<sbb-secondary-button-link size="m" target="_blank" href="{{params.github}}"><sbb-icon slot="icon" name="github-small"></sbb-icon>Code</sbb-secondary-button-link>{% endif %}</sbb-action-group>
{% endmacro %}


{% macro lyneComponentLinks(params) %}
{% if params.mode == "parent" %}
<h2>{{ params.translations["parent-components"] }}</h2>
{% elseif params.mode == "child" %}
<h2>{{ params.translations["child-components"] }}</h2>
{% elseif params.mode == "sibling" %}
<h2>{{ params.translations["sibling-components"] }}</h2>
{% elseif params.mode == "variant" %}
<h2>{{ params.translations["variant-components"] }}</h2>
{% else %}

{% endif %}<sbb-link-list orientation="vertical">
  {% for sibling in params.collection %}<sbb-block-link href="{{ sibling.url }}">{{ sibling.data.title}}</sbb-block-link>{% endfor %}
  </sbb-link-list>
{% endmacro %}


{% macro lynePlayground(params) %}
{% set pattern = params.json %}
{% if pattern.content %}
    <h2>{{ params.translations["playground"] }}</h2>
    <div class="demo {% if params.wide == true %}wide{% endif %}">
        <div class="background" id="background">
            {{pattern.content | safe}}
        </div>
        <div class="config-bar">
            <sbb-accordion title-level='3'>
            {% for item in pattern.configuration %}
                <sbb-expansion-panel color='white' {% if loop.index == 1 %}expanded{% endif %} level='2'>
                    <sbb-expansion-panel-header>{{ params.translations[item.label] }}</sbb-expansion-panel-header>
                    <sbb-expansion-panel-content>
                        <sbb-radio-button-group value="{{item.default}}" orientation="vertical" data-mode="{{ item.mode }}" data-target="{{ item.target }}" data-property="{{item.attribute}}">
                            {% for option in item.options %}
                                <sbb-radio-button value="{{option.value}}">{{ params.translations[option.label] }}</sbb-radio-button>
                            {% endfor %}
                        </sbb-radio-button-group>
                    </sbb-expansion-panel-content>
                </sbb-expansion-panel>
            {% else %}
            {% endfor %}
                <sbb-expansion-panel color='white' {% if loop.index == 1 %}expanded{% endif %} level='2'>
                    <sbb-expansion-panel-header>{{ params.translations["background"] }}</sbb-expansion-panel-header>
                    <sbb-expansion-panel-content>
                        <sbb-radio-button-group value="white" aria-label="" orientation="vertical" data-mode="property" data-target="background" data-property="data-background">
                            <sbb-radio-button value="white">White</sbb-radio-button>
                            <sbb-radio-button value="milk">Milk</sbb-radio-button>
                            <sbb-radio-button value="iron">Iron</sbb-radio-button>
                            <sbb-radio-button value="charcoal">Charcoal</sbb-radio-button>
                            <sbb-radio-button value="black">Black</sbb-radio-button>
                        </sbb-radio-button-group>
                    </sbb-expansion-panel-content>
                </sbb-expansion-panel>
            </sbb-accordion>
        </div>
    </div>
{% else %}
Kaputt
{% endif %}
<script src="/assets/js/lyne-playground.js"></script>
{% endmacro %}



{% macro lyneExamples(params) %}<h2>{{ params.translations["examples"] }}</h2>
    {% set tag = params.tag %}
    {% set stories = params.stories %}
    {% for story, stor in stories %}
    {% if stor.tag == tag and stor.component == true %}
    <sbb-title level="3" visual-level="5">{{stor.name}}</sbb-title>
    <div class="example">
            <iframe id="{{stor.id}}" class="iframe-border" src="https://lyne-storybook.app.sbb.ch/iframe.html?args=&id={{stor.id}}&viewMode=story" title="{{stor.name}}"></iframe>
            <div class="example-footer">
                <sbb-action-group orientation="vertical" button-size="m" horizontal-from="small" class="lyne-demo-example-button">
                    <sbb-secondary-button-link size="m" icon-name="book-small" href="https://lyne-storybook.app.sbb.ch/?path=/story/{{stor.id}}" target="_blank">{{ params.translations["storybooklink"] }}</sbb-secondary-button-link>
                    <sbb-secondary-button size="m" data-iframeid="{{stor.id}}" icon-name="clipboard-list-small"></sbb-secondary-button>
                    <sbb-toggle-check data-codetoggle="{{stor.id}}" size="m" label-position="after">{{ params.translations["showhtml"] }}</sbb-toggle-check>
                </sbb-action-group>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    <sbb-toast id="clipboard-toast" position="bottom-center" timeout="3000" politeness="polite" icon-name="circle-tick-small">{{ params.translations["copyhtml"] }}</sbb-toast>
    <script src="/assets/js/lyne-examples.js"></script>
{% endmacro %}


