---
tags: dialog-lyne_en
title: Demo
key: dialog-lyne-demo_en
parent: dialog-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.dialog,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}

<script>
const buttons = document.querySelectorAll(".dialogtrigger");
function buttonClicked(index) {
    const dialog = document.getElementById("dialog-"+(index + 1));
    console.log(dialog.id);
    dialog.open(event);
}
buttons.forEach((button, index) => {
  button.addEventListener("click", () => buttonClicked(index));
});
</script>