---
tags: dialog-lyne_en
title: Playground
key: dialog-lyne-playground_en
parent: dialog-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.dialog,
  translations: translations["de"].lyne
  }) }}

<script>
const buttons = document.querySelectorAll(".dialogtrigger");
function buttonClicked(index) {
    const dialog = document.getElementById("dialog-"+(index + 1));
    console.log(dialog.id);
    dialog.open(event);
}
buttons.forEach((button, index) => {
  button.addEventListener("click", () => buttonClicked(index));
});
</script>


