---
tags: 
    - toast-lyne_en
title: Demo
key: toast-lyne-examples_en
parent: toast-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.toast,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-toast",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}