---
tags: 
    - toast-lyne_en
title: Demo
parent: toast-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.toast.sbbToast.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-toast",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}