---
tags: image-lyne_de
title: Demo
key: image-lyne-demo_de
parent: image-lyne_de
image: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.image,
  translations: translations[page.lang].lyne,
  more: "https://lyne-storybook.app.sbb.ch/?path=/docs/components-sbb-card--docs#anchor--components-sbb-card--sbb-card-link"
}) }}