---
tags: image-lyne_de
title: Demo
key: image-lyne-demo_de
parent: image-lyne_de
image: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.image,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}