---
tags: toggle-check-lyne_en
title: Demo
key: toggle-check-lyne-examples_en
parent: toggle-check-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.togglecheck,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-toggle-check",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}