---
tags: toggle-check-lyne_en
title: Playground
key: toggle-check-lyne-playground_en
parent: toggle-check-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.togglecheck,
  translations: translations["de"].lyne
  }) }}