---
tags: signet-lyne_de
title: Demo
key: signet-lyne-demo_de
parent: signet-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.signet,
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}