---
tags: signet-lyne_de
title: Demo
key: signet-lyne-examples_de
parent: signet-lyne_de
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.signet,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-signet",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}