---
layout: pattern-lyne.njk
tags: 
    - lyne_de
    - lyne_design_tokens_de
    - page
key: breakpoints-lyne_de
title: Grid
parent: basics-lyne_de
image: lyne/overview/grid.webp
keywords: Breakpoints
order: 30
---

<sbb-title level="2">Breakpoints</sbb-title>
<div class="token-table breakpoint-token">
{% for token in breakpointTokens %}
{% if token.attributes.item == "min" %}    
    <sbb-title level="3" visual-level="5">{{ token.path[1] }}</sbb-title>     
    <div class="row">
        <div class="token-name left">{{ token.name }}</div>
        <div class="token-value center">{{ token.value }} - 
{% endif %}   
{% if token.attributes.item == "max" %}    
        {{ token.value }}</div>     
        <div class="token-name right">{{ token.name }}</div>
    </div>
{% endif %}     
{% endfor %}
</div>


<sbb-title level="2">Base Grid Columns</sbb-title>
<div class="token-table base-grid-columns-token">
{% for token in baseGridColumns %}
    <div class="row">
        <div class="token-name">{{ token.name }}</div>
        <div class="token-value">{{ token.value }}</div>
        <div class="token-demo">
            <span class="token-grid" style="grid-template-columns: repeat({{ token.value }}, 1fr);"> 
                {% for i in range(0, token.value) %}
                    <span class="grid-item"></span>
                {% endfor %}
            </span>
        </div>
    </div>
{% endfor %}
</div>


<sbb-title level="2">Base Grid Gutter</sbb-title>  
<div class="token-table base-grid-gutter-token">
    {% for token in baseGridGutterResponsive %}
        <div class="row">
            <div class="token-name"><p>{{ token.name }}</p></div>
            <div class="token-value"><p>{{ token.value }}</p></div>
            <div class="token-demo">
                <div class="space-demo {{token.attributes.subitem}}" style="width: {{ token.value }}px; height: {{ token.value }}px;">       
                </div>
            </div>
        </div>
    {% endfor %}
</div>  

<sbb-title level="2">Base Grid Offset</sbb-title>  
<div class="token-table base-grid-offset-token">
    {% for token in baseOffsetResponsive %}
        <div class="row">
            <div class="token-name"><p>{{ token.name }}</p></div>
            <div class="token-value"><p>{{ token.value }}</p></div>
            <div class="token-demo">
                <div class="space-demo {{token.attributes.subitem}}" style="width: {{ token.value }}px; height: {{ token.value }}px;">       
                </div>
            </div>
        </div>
    {% endfor %}
</div>  