---
layout: page.njk
key: it
title: Home
alternativetitle: Tutto sulle applicazioni digitali delle FFS.
parent: root
---
<p class="lead">I nostri clienti devono potersi orientare facilmente su tutti i canali digitali delle FFS e trovare il più rapidamente possibile le informazioni desiderate. A tale scopo, è indispensabile una user experience coerente su tutti i canali, che garantisca un’immagine unitaria in tutte le piattaforme.</p>
<p class="lead">Oltre a informazioni sui principi UX e sull’accessibilità, il sito illustra i sistemi di progettazione dei siti Internet e delle app mobile delle FFS. Le informazioni e le istruzioni riportate sul sito sono vincolanti per i progetti interni ed esterni. Tutti i progetti creati, elaborati o sviluppati in ambito digitale necessitano della previa approvazione di Gestione della marca e del team UX.</p>
<sbb-button-link class="home-primary" href="/{{page.lang}}/design-system/getting-started/designing/">
  Come utilizzare il Design System
</sbb-button-link>

<div class="teasers home">
  {%- for teaser in collections.teaserhome_it | sortByOrder -%}
    {% include "../_includes/teaser/teaser-home.njk" %}
  {%- endfor -%}
</div>