---
tags: button-lyne_en
title: Demo
key: button-lyne-demo_en
parent: button-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.button,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}