---
tags: chip-lyne_de
title: Playground
key: chip-lyne-playground_de
parent: chip-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.chip,
  translations: translations["de"].lyne
  }) }}