---
tags: header-action-lyne_de
title: Demo
key: header-action-lyne-demo_de
parent: header-action-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.headeraction,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}