---
tags: 
    - button-lyne_en
title: Demo
parent: button-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.button.sbbButton.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-button",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}