---
tags: button-lyne_en
title: Playground
key: button-lyne-playground_en
parent: button-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.button,
  translations: translations["de"].lyne
}) }}