<!DOCTYPE html>
<html lang="{{ translations[page.lang].shortcode }}" dir="{{ translations[page.lang].dir }}">
  <head>
    {% include "../_includes/head.njk" %}
  </head>
  <body class="sbb-scrollbar">
    {% include "../_includes/skiplinks.njk" %}
    {% include "../_includes/header/header.njk" %}

    {% if layout == "component.njk" or layout == "token-lyne.njk" %}
    <sbb-sidebar-container>
      <sbb-sidebar role="navigation" position="start" color="milk" mode="over" focus-on-open id="sidebar">
        <sbb-sidebar-title>{{ translations[page.lang].findcomponent }}</sbb-sidebar-title>
        <sbb-sidebar-close-button></sbb-sidebar-close-button>
        {% include "../_includes/browser/browser.njk" %}
      </sbb-sidebar>
      <sbb-sidebar-content id="content" role="main">
    {% endif %}
        {% include "../_includes/navigation/navigation.njk" %}
        <sbb-container id="content" class="content">
          {{ content | safe }}
        </sbb-container>
        {% include "../_includes/footer.njk" %}
    {% if layout == "component.njk" or layout == "token-lyne.njk" %}
      </sbb-sidebar-content>
    </sbb-sidebar-container>
    {% endif %}




    

    <script type="module" src="/assets/js/lyne-bundle.js"></script>

    {% if layout == "overview.njk" or layout == "overview.njk" %}
    <script src="/assets/js/component-browser.js"></script>
    {% endif %}

    {% if layout == "component.njk" %} 
    <script src="/assets/js/mode-toggle.js"></script>
    {% endif %}

    {% if layout == "component.njk" or layout == "token-lyne.njk" %} 
    <script src="/assets/js/sidebar.js"></script>
    <script src="/assets/js/component-browser.js"></script>
    <script src="/assets/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    {% endif %}

    {% if layout == "community-assets.njk" %}
    <script src="/assets/js/community-assets.js"></script>
    {% endif %}

    {% if layout == "pattern-library.njk" %}
    <script src="/assets/js/pattern-library.js"></script>
    {% endif %}
  </body>
</html>

