<!DOCTYPE html>
<html lang="{{ translations[page.lang].shortcode }}" dir="{{ translations[page.lang].dir }}">
  <head>
    {% include "../_includes/head.njk" %}
  </head>
  <body>
    {% include "../_includes/skiplinks.njk" %}
    {% include "../_includes/header/header.njk" %}
    {% include "../_includes/navigation/navigation.njk" %}
    <sbb-container id="content" class="content">
      {{ content | safe }}
    </sbb-container>
    {% include "../_includes/footer.njk" %}

    <script src="/assets/js/navigation.js"></script>
    {% if layout == "community-assets.njk" %}
    <script src="/assets/js/community-assets.js"></script>
    {% elif layout == "overview.njk" %}
    <script src="/assets/js/list-toggle.js"></script>
    <script src="/assets/js/component-browser.js"></script>
    {% elif layout == "overview-lyne.njk" %}
    <script src="/assets/js/tree.js"></script>
    <script src="/assets/js/component-browser.js"></script>
    {% elif layout == "pattern.njk" %} 
    <script src="/assets/js/list-toggle.js"></script>
    <script src="/assets/js/mode-toggle.js"></script>
    <script src="/assets/js/sidebar.js"></script>
    <script src="/assets/js/component-browser.js"></script>
    <script src="/assets/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    {% elif layout == "pattern-lyne.njk" %} 
    <script src="/assets/js/tree.js"></script>
    <script src="/assets/js/sidebar.js"></script>
    <script src="/assets/js/component-browser.js"></script>
    <script src="/assets/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    {% else %}
    {% endif %}

    <script type="module" src="/assets/js/lyne-bundle.js"></script>
    <script type="module" src="/assets/js/ux-components/ux-components.esm.js"></script>
  </body>
</html>


