---
layout: base.njk
---


{% if availablelanguages.length %}
  {% include "../_includes/missing-languages.njk" %}
  {% include "../_includes/community-assets/index.njk" %}
{% else %}
  {% include "../_includes/title.njk" %}
  {{ content | safe }}
  {% include "../_includes/community-assets/index.njk" %}
{% endif %}
