---
layout: base.njk
---
{% if availablelanguages.length %}
  {% include "../_includes/missing-languages.njk" %}
  {% include "../_includes/lyne-overview/overview.njk" %}
{% else %}
  {% include "../_includes/title.njk" %}
  {{ content | safe }}
  {% include "../_includes/lyne-overview/overview.njk" %}
{% endif %}
