---
layout: base.njk
---

{% if availablelanguages.length %}
  {% include "../_includes/fallback-languages.njk" %}
  {% include "../_includes/fallback-content.njk" %}
{% else %}
  {% include "../_includes/title.njk" %}
  {{ content | safe }}
{% endif %}

<sbb-card class="browser-card" color="milk" size="xxl">
    {% include "../_includes/browser/browser.njk" %}
</sbb-card>