<!DOCTYPE html>
<html lang="{{translations[page.lang].shortcode}}" dir="{{translations[page.lang].dir}}">
  <head>
    {% include "../_includes/head.njk" %}
    <meta http-equiv="refresh" content="0; url={{redirect}}">
  </head>
</head>
  <body>
  </body>
</html>

