<!DOCTYPE html>
<html lang="{{page.lang}}" dir="{{translations[page.lang].dir}}">
  <head>
    <meta http-equiv="refresh" content="0; url={% if env.environment == "production" %}https://digital.sbb.ch{% else %}http://localhost:8080{% endif %}{{redirect}}">
  </head>
</head>
  <body>
    <script type="text/javascript">
        window.location.href = '{% if env.environment == "production" %}https://digital.sbb.ch{% else %}http://localhost:8080{% endif %}{{redirect}}';
    </script>
  </body>
</html>