---
layout: base.njk
---

{% set tabkey = key%}

{% if availablelanguages.length %}
  {% include "../_includes/missing-languages.njk" %}
  {% set tabkey = key.slice(0, -2)+"de" %}
{% endif %}

{% set subPages = collections[tabkey] %}


{% set patternConfig = lyne.components[patternId].config %}
{% set tag = patternConfig.tag %}

{% if patternConfig.hasPlayground == true %}
  {% set playground = lyne.components[patternConfig.patternId].playground %}
{% endif %}

{% if patternConfig.hasImplementation == true %}
  {% set implementation = lyne.components[patternConfig.patternId].implementation %}
{% endif %}

{% if patternConfig.hasStorybook == true %}
  {% set storybookStories = lyne.stories[0] %}
{% endif %}

{% if availablelanguages.length %}
{% else %}
{% include "../_includes/title.njk" %}
{% endif %}



{{ content | safe }}

<sbb-tab-group class="tab-documentation" initial-selected-index="0">
  {#Subpages#}
  {% if subPages|length %}
    {%- for tab in collections[tabkey] | sortByOrder -%}
    <sbb-tab-label level="1">
      <sbb-icon name="{{lyne.tabs.tabs[tab.data.order - 1].icon}}" slot="icon"></sbb-icon>
      {{lyne.tabs.tabs[tab.data.order - 1].label[page.lang]}}
    </sbb-tab-label>
    <sbb-tab>
      {{tab.content | safe}}


{% if (tab.data.order == 1) and ((patternConfig.childs|length) or (patternConfig.isChildOf|length)) %}

<sbb-card size="xxl" color="milk" class="relative-components">

<div class="relative-components-lists">
      {% if patternConfig.childs|length %}
          <sbb-link-list title-content="Childs">
              {% for child in patternConfig.childs %}
                  {% set childData = lyne.components[child].config %}
                  {% if childData|length %}
                      <sbb-block-link style="text-transform: capitalize" icon-name="four-diamonds-small" href="/{{page.lang}}/design-system/lyne/components/{{childData.tag.slice(4)}}/">{{childData.tag.slice(4)}}</sbb-block-link>
                  {% else %}
                      <sbb-block-link-static style="text-transform: capitalize" icon-name="chevron-small-left-right-small">{{child}}</sbb-block-link-static>
                  {% endif %}
              {% endfor %}
          </sbb-link-list>

      {% endif %}

      {% if patternConfig.isChildOf|length %}
          <sbb-link-list title-content="Child of">
              {% for child in patternConfig.isChildOf %}
                      {% set childData = lyne.components[child].config %}
                      {% if childData|length %}
                          <sbb-block-link style="text-transform: capitalize" icon-name="four-diamonds-small" href="/{{page.lang}}/design-system/lyne/components/{{childData.tag.slice(4)}}/">{{childData.tag.slice(4)}}</sbb-block-link>
                      {% else %}
                          <sbb-block-link-static style="text-transform: capitalize" icon-name="chevron-small-left-right-small">{{child}}</sbb-block-link-static>
                      {% endif %}
              {% endfor %}
          </sbb-menu>
      {% endif %}
</div>
</sbb-card>
{% endif %}


    </sbb-tab>
    {%- endfor -%}
  {% endif %}
  {#Playground#}
  {% if (patternConfig.hasPlayground == true) or (patternConfig.hasStorybook == true) %}  
    <sbb-tab-label level="1">
      <sbb-icon name="{{lyne.tabs.tabs[2].icon}}" slot="icon"></sbb-icon>
      Demo
    </sbb-tab-label>
    <sbb-tab>
      {% if patternConfig.hasPlayground == true%}
          {% include "../_includes/pattern-lyne/playground.njk" %}
          <script src="/assets/js/lyne-playground.js"></script>
      {% endif %}
      {% if patternConfig.hasStorybook == true %}
          {% include "../_includes/pattern-lyne/storybook-story.njk" %}
          <script src="/assets/js/lyne-examples.js"></script>
      {% endif %}
    </sbb-tab>
  {% endif %}
  {#Implementation#}
  {% if patternConfig.hasImplementation == true %}
    <sbb-tab-label level="1">
      <sbb-icon name="{{lyne.tabs.tabs[3].icon}}" slot="icon"></sbb-icon>
      Implementation
    </sbb-tab-label>
    <sbb-tab>
    {{ implementation | absolutelinks | renderUsingMarkdown | safe }}
    </sbb-tab>
  {% endif %}
</sbb-tab-group>

{% include "../_includes/pattern-lyne/sidebar.njk" %}