---
layout: base.njk
---

{% set tabkey = key%}

{% if availablelanguages.length %}
  {% include "../_includes/fallback-languages.njk" %}
  {% include "../_includes/fallback-content.njk" %}
  {% set tabkey = key.slice(0, -2)+"de" %}
{% else %}
  {% include "../_includes/title.njk" %}
  
{% endif %}
{{ content | safe }}