---
tags: notification-lyne_de
title: Demo
key: notification-lyne-examples_de
parent: notification-lyne_de
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.notification,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-notification",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}