---
tags: notification-lyne_de
title: Playground
key: notification-lyne-playground_de
parent: notification-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.notification,
  translations: translations["de"].lyne
  }) }}