---
tags: 
    - toggle-option-lyne_en
title: Demo
key: toggle-option-lyne-examples_en
parent: toggle-option-lyne_en
icon: demo
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-toggle-option",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}