---
tags: 
    - chip-lyne_en
title: Demo
parent: chip-lyne_en
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.chip.sbbChip.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-chip",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}