---
tags: chip-lyne_en
title: Examples
key: chip-lyne-examples_en
parent: chip-lyne_en
icon: demo
order: 4
permalink: false  
---



{{ lyneExamples({
  tag: "sbb-chip",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}