---
tags: chip-lyne_en
title: Playground
key: chip-lyne-playground_en
parent: chip-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.chip,
  translations: translations["de"].lyne
  }) }}