<sbb-accordion-item event-id="id{{ accordion.data.order }}" heading="{{ accordion.data.title }}" heading-level="3">
    <div slot="content">
        {{accordion.content | safe}}
    </div>
</sbb-accordion-item>