  <sbb-expansion-panel event-id="id{{ accordion.data.order }}" heading-level="3">
    <sbb-expansion-panel-header>{{ accordion.data.title }}</sbb-expansion-panel-header>
    <sbb-expansion-panel-content>{{accordion.content | safe}}</sbb-expansion-panel-content>
  </sbb-expansion-panel>