---
layout: overview.njk
tags: 
    - level3
    - dshome
key: overview-mobile_en
system: mobile
title: Overview
alternativetitle: Mobile
parent: mobile_en
order: 1
basics: true
components: true
---

<p class="lead">The Design System Mobile describes the specifications for native mobile applications and consists of this UX documentation and the iOS and Flutter Library.</p>

<sbb-card class="intro-links" color="transparent-bordered" size="xxl">
    <div class="links">
    {{ buttonGroup({
        title: "Design",
        type: "link",
        tag: collections.figmamobile_en,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Code Dokumentation",
        type: "link",
        tag: collections.techlinksmobile_en,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Contribution",
        type: "link",
        tag: collections.contributionmobile_en,
        size: 'm'
    }) }}
    </div>
</sbb-card>