---
layout: overview.njk
tags: 
    - page
    - dshome
key: overview-mobile_en
title: Overview
alternativetitle: Design System Mobile
parent: mobile_en
order: 1
componentbrowser: true
---

<p class="lead">Das Design System Mobile beschreibt die Vorgaben für native Mobile Applikationen und besteht aus dieser UX-Dokumentation und der iOS und Flutter Library.</p>

<sbb-group class="intro-links" color="transparent" padding="s-s">
    <div class="links">
    {{ buttonGroup({
        title: "Figma Libraries",
        type: "link",
        tag: collections.figmamobile_en,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Code Dokumentation",
        type: "link",
        tag: collections.techlinksmobile_en,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Contribution",
        type: "link",
        tag: collections.contributionmobile_en,
        size: 'm'
    }) }}
    </div>
</sbb-group>