---
layout: assets.njk
tags: level3
key: pictos_en
title: Pictograms
parent: assets_en
order: 3
mode: Pictograms
---

<p class="lead">We use our public transport pictograms in timetables and for orientation in digital applications. In this way, we close the gap between the real and the digital world to make recognition easier for the user and to offer the simplest possible orientation. If pictograms do not serve a purpose in the timetable or for orientation, they can be used in special circumstances in a similar way to icons. In this case, use must be checked by SBB Brand Management.  </p>
 
<p class="lead">Further information: <sbb-link variant="inline" type="button" target="_blank" href="/{{page.lang}}/foundation/brand/copyrights/">Nutzungsrechte</sbb-link><br>
Contact: <sbb-link variant="inline" type="button" target="_blank" href="mailto:entwicklung.bahnhof@sbb.ch">entwicklung.bahnhof@sbb.ch</sbb-link></p>

<sbb-title level="2">Preview</sbb-title>
{% set icons = pictograms[0] %}
{% include "src/_includes/icons/index.njk" %}