---
tags: loading-indicator-lyne_en
title: Demo
key: loading-indicator-lyne-demo_en
parent: loading-indicator-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.loadingindicator,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}