---
tags: expansion-panel-lyne_de
title: Playground
key: expansion-panel-lyne-playground_de
parent: expansion-panel-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.expansionpanel,
  translations: translations["de"].lyne
  }) }}