---
tags: 
    - teaser-lyne_en
title: Demo
parent: teaser-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.teaser.sbbTeaser.playground,
  translations: translations["en"].lyne
  }) }}

{{ lyneExamples({
  tag: "sbb-teaser",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}