---
tags: teaser-lyne_en
title: Examples
key: teaser-lyne-examples_en
parent: teaser-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-teaser",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}