---
tags: container-lyne_en
title: Demo
key: container-lyne-demo_en
parent: container-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.container,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}