---
layout: page.njk
tags: page
key: de
title: Home
alternativetitle: Alles zu den digitalen Anwendungen der SBB.
parent: root
---

<p class="lead">Unsere Kundinnen und Kunden sollen sich auf allen digitalen Kanälen der SBB einfach zurecht finden und schnellstmöglich zu den gewünschten Informationen gelangen. Das funktioniert nur mit einer über alle Kanäle konsistenten User Experience, die einen über alle Plattformen einheitlichen Auftritt garantiert.</p>
<p class="lead">Neben Infos zu unseren UX Prinzipien und der Barrierefreiheit finden Sie hier alles zu den Design Systemen für SBB Websites und Mobile Apps. Die Informationen und Vorgaben auf dieser Seite sind für interne wie auch externe Projekte verbindlich. Alles was im digitalen Bereich gestaltet, überarbeitet oder weiterentwickelt wird, muss von der SBB Markenführung und dem UX Team genehmigt werden.</p>
<sbb-button-link class="home-primary" href="/{{page.lang}}/design-system/getting-started/designing/">
  Wie nutze ich das Design System
</sbb-button-link>

<div class="teasers home">
  {%- for teaser in collections.teaserhome_de | sortByOrder -%}
    {% include "../_includes/teaser/teaser-home.njk" %}
  {%- endfor -%}
</div>