---
tags: expansion-panel-header-lyne_de
parent: expansion-panel-header-lyne_de
order: 3
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-expansion-panel-header",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}