---
tags: 
    - toggle-lyne_en
title: Demo
parent: toggle-lyne_en
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.toggle.sbbToggle.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-toggle",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}