---
tags: toggle-lyne_en
title: Playground
key: toggle-lyne-playground_en
parent: toggle-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.toggle,
  translations: translations["de"].lyne
  }) }}