---
tags: block-link-button-lyne_de
title: Demo
key: block-link-button-lyne-examples_de
parent: block-link-button-lyne_de
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.blocklinkbutton,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-block-link-button",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}