---
layout: page.njk
tags: page
key: off-brand-colors_it
title: Colori Off Brand
parent: colors_it
order: 2
---

<p class="lead">
  In alcuni casi, il rosso FFS non può essere utilizzato come colore primario. Per esempio, in applicazioni rilevanti per la sicurezza il colore rosso viene utilizzato per comunicare errori. In questi casi, il colore primario (Rosso, Rosso125, Rosso150) può essere sostituito dai seguenti colori:
</p>
<div class="colors">   
    <div class="color-group">
        {%- for color in collections.offbrandcolor_it | sortByOrder -%} 
            {% include "../../../../_includes/color.njk" %}
        {%- endfor -%}
    </div>
</div>
<p class="lead">
  Si noti che questo set di colori può essere utilizzato solo in casi eccezionali. È necessario prendere contatto per chiarimenti con gli esperti del Servizio UX.
</p>

<sbb-title level="2">Concetto in Figma</sbb-title>
<p class="lead">
  I colori sono disponibili nella libreria di Figma, ma non sono utilizzati nei componenti. Tuttavia, i colori possono essere comodamente sostituiti in Figma con la funzione "Selection colors".
</p>

<sbb-title level="2">Implementazione nel frontend</sbb-title>
<p class="lead">
  Nella libreria Angular, i colori possono essere scambiati come segue: <sbb-link variant="inline" href="https://angular.app.sbb.ch/angular/introduction/typography">Alle istruzioni</sbb-link>.
</p>

</p>