---
tags: 
    - tertiary-button-lyne_en
title: Demo
key: tertiary-button-lyne-examples_en
parent: tertiary-button-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.tertiarybutton,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-tertiary-button",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}