---
tags: 
    - tertiary-button-lyne_en
title: Demo
parent: tertiary-button-lyne_en
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.button.sbbTertiaryButton.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-tertiary-button",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}