@use '@sbb-esta/lyne-elements' as sbb;

html, body {
  height: 100vh;
  background-color: var(--sbb-color-white);
}

body {
  scrollbar-gutter: stable both-edges;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;

  &.menu-open {
    //background-color: var(--sbb-color-black-alpha-50);
    #body-overlay {
      display: block;
    }

    .sidebar {
      left: 0;

      .browser {
        height: 100%;
      }
    }
  }
}

ul, ol {
  color: var(--sbb-color-black);
}

.content {
  padding-bottom: var(--sbb-spacing-responsive-xl);

}

.hide {
  display: none;
}

figure {
  margin: 0;
}

.lead {
  @include sbb.mq($from: large) {
    width: 75%;
  }
}

strong, b {
  font-family: var(--sbb-typo-type-face-sbb-bold);
  font-weight: normal;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.principle-image {
  max-width: 100%;
  margin-top: 24px;

  img {
    max-width: 100%;
  }
}

h2.with-icon {
  display: grid;
  grid-template-columns: auto 1fr;

  sbb-icon {
    padding: 0 8px 0 0;
    margin-top: -3px;
    stroke: var(--sbb-color-black);
    stroke-width: 1.5;
    @include sbb.mq($from: medium) {
      margin-top: 2px;
      padding: 0px 12px 0px 0;
    }

  }
}

h3.with-icon {
  display: grid;
  grid-template-columns: auto 1fr;

  sbb-icon {
    padding: 0 12px 0 0;
    margin-top: -5px;
    stroke: var(--sbb-color-black);
    stroke-width: 1.5;
    @include sbb.mq($from: medium) {
      padding: 0 12px 0 0;
      margin-top: -3px;
    }

  }
}

.dark {
  background-color: var(--sbb-color-black);
}

code:not([class]) {
  color: var(--sbb-color-violet);
  background-color: var(--sbb-color-milk);
  padding: 2px 8px;
  border-radius: 8px;
  border: solid 1px var(--sbb-color-cloud)
}


.sbb-section-panel {
  h2:first-child {
    margin-top: 0;
  }

  hr {
    display: none;
  }
}

.default-image {
  max-width: 100%;

  img {
    max-width: 100%;
  }
}

.boxed-image {
  max-width: 100%;
  padding: 24px;
  margin-bottom: var(--sbb-spacing-fixed-4x);
  background-color: var(--sbb-color-milk);
  border-radius: var(--sbb-border-radius-4x);
  background-color: var(--sbb-color-milk);

  img {
    max-width: 100%;
  }

  &.dark {
    background-color: var(--sbb-color-black);

    figure:first-child {
      display: none;
    }
  }

  &.light {
    figure:nth-child(2) {
      display: none;
    }
  }

  &.specification {
    > * {
      margin: var(--sbb-spacing-responsive-xl) auto;
      text-align: center;
    }
  }
}

.boxed-component {
  max-width: 100%;
  padding: 24px;
  background-color: var(--sbb-color-milk);
  border-radius: var(--sbb-border-radius-4x);
  background-color: var(--sbb-color-milk);
  text-align: center;

  > * {
    margin: var(--sbb-spacing-responsive-xl) auto;
  }
}

sbb-table-wrapper + sbb-table-wrapper { 
  margin-top: 16px;
}

.overview-buttons {
  margin: var(--sbb-spacing-responsive-m) 0;
}


.intro-links {
  margin: var(--sbb-spacing-responsive-l) 0;

  .links {
    display: grid;
    gap: var(--sbb-spacing-responsive-m);
    grid-template-columns: 1fr;
    @include sbb.mq($from: medium) {
      gap: var(--sbb-layout-base-grid-gutter-responsive-medium);
      grid-template-columns: auto auto auto;
    }
    @include sbb.mq($from: large) {
      gap: var(--sbb-layout-base-grid-gutter-responsive-large);
    }
    @include sbb.mq($from: wide) {
      gap: var(--sbb-layout-base-grid-gutter-responsive-wide);
    }
    @include sbb.mq($from: ultra) {
      gap: var(--sbb-layout-base-grid-gutter-responsive-ultra);
    }
  }
}

.buttons-overview {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--sbb-spacing-fixed-2x) var(--sbb-spacing-fixed-2x);

  @include sbb.mq($from: medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}


.demo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--sbb-spacing-fixed-8x) var(--sbb-spacing-fixed-8x);
  //background-color: var(--sbb-color-milk);
  //padding: var(--sbb-spacing-fixed-8x);

  @include sbb.mq($from: medium) {
    grid-template-columns: 2fr 1fr;
  }

  &.wide {
    grid-template-columns: 1fr;
  }
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--sbb-border-radius-4x);
  padding: var(--sbb-spacing-fixed-8x) var(--sbb-spacing-fixed-8x);
  background-color: var(--sbb-color-white);
  border: solid 1px var(--sbb-color-cloud);
  min-height: var(--sbb-spacing-fixed-24x);
  @include sbb.mq($from: medium) {
    padding: var(--sbb-spacing-fixed-8x);
  }
  
  &[data-background="white"] {
    background-color: var(--sbb-color-white);
  }

  &[data-background="milk"] {
    background-color: var(--sbb-color-milk);
  }

  &[data-background="charcoal"] {
    background-color: var(--sbb-color-charcoal);
  }

  &[data-background="iron"] {
    background-color: var(--sbb-color-iron);
  }

  &[data-background="black"] {
    background-color: var(--sbb-color-black);
  }
  sbb-clock {
    width: 50%;
  }
}

#more-buttons {
  margin-top: var(--sbb-spacing-fixed-8x);
}

.badge-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--sbb-border-radius-4x);
  background-color: var(--sbb-color-milk);
  width: 100%;
  height: var(--sbb-spacing-fixed-20x);
}

.language-mermaid {
  display: none;
}

h3 {
  &:contains("Graph") {
    display: none;
  }
}

.hidden, .hide-icon {
  display: none;
}

.error-divider {
  margin-top: var(--sbb-spacing-fixed-20x);
  margin-bottom: var(--sbb-spacing-fixed-18x);
}

.full-width-wrapper {
  width: 100%;
}

.release-card {
  margin-bottom: var(--sbb-spacing-fixed-6x);

  h2 {
    margin-top: 0;
    margin-bottom: var(--sbb-spacing-fixed-2x);
  }
}


.iframe-border {
  width: 100%;
  border: none;
  resize: vertical;
}

.lyne-demo-example-button {
  margin-top: var(--sbb-spacing-fixed-2x);
}

.example {
  border-radius: var(--sbb-border-radius-4x);
  border: solid 1px var(--sbb-color-cloud);
  background-color: var(--sbb-color-milk);

  iframe, pre, code {
    display: block;
    margin: 0;
  }

  iframe {
    background-color: var(--sbb-color-white);
    border-top-left-radius: var(--sbb-border-radius-4x);
    border-top-right-radius: var(--sbb-border-radius-4x);
  }

  .example-footer {
    padding: 24px;
  }

  pre[class*="language-"] {
    border-radius: 0;
    margin: 0
  }

  .hidden {
    display: none;
  }
}

p.subtext {
  color: var(--sbb-color-metal);
}

.switcher { 
  margin-bottom: 16px;
}