@use '@sbb-esta/lyne-elements' as sbb;

.token-table {


  .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0 var(--sbb-spacing-fixed-4x);
    padding: var(--sbb-spacing-fixed-2x) 0;
    border-bottom: solid 1px var(--sbb-color-cloud);

    &:last-child {
      border-bottom: none;
    }

    p {
      margin: var(--sbb-spacing-fixed-1x) 0;
    }

    .token-name {
      display: flex;
      gap: 0;
      align-items: center;
      justify-content: left;
    }

    .token-value {
      display: flex;
      gap: 0;
      align-items: center;
      justify-content: left;
    }

    .token-demo {
      display: flex;
      gap: 0;
      align-items: center;
      justify-content: left;
      min-height: 20px;
      padding: var(--sbb-spacing-fixed-2x) 0;

    }

    &.show-from-medium {
      display: none;
    }

    @include sbb.mq($from: medium) {
      .center {
        justify-content: center;
      }
      .left {
        justify-content: left;
      }
      .right {
        justify-content: right;
      }
      &.show-from-medium {
        display: grid;
        text-transform: capitalize;
      }
      .hide-from-medium {
        display: none;
        text-transform: capitalize;
      }
    }
  }


}


.duration-token {
  .row {
    @include sbb.mq($from: medium) {
      grid-template-columns: 4fr 1fr 4fr;
    }
  }
}

.easing-token {
  .row {
    @include sbb.mq($from: medium) {
      grid-template-columns: 4fr 5fr;
    }
  }
}

.border-width-token {
  .row {
    @include sbb.mq($from: small) {
      grid-template-columns: 3fr 1fr 4fr;
    }
  }
}
.color-token {
  .row {
    @include sbb.mq($from: small) {
      grid-template-columns: 3fr 3fr 1fr;
    }
  }
}

.border-radius-token {
  .row {
    @include sbb.mq($from: small) {
      grid-template-columns: 3fr 1fr 4fr;
    }
  }
}

.spacing-responsive-token {

  sbb-title {
    margin: var(--sbb-spacing-fixed-2x) 0 var(--sbb-spacing-fixed-2x) 0;
  }

  .row {
    gap: var(--sbb-spacing-fixed-4x) 0px;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.spacing-fixed-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0px;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.breakpoint-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0px;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.scalye-typo-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0px;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.face-typo-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0px;
    @include sbb.mq($from: medium) {
      grid-template-columns: 2fr 3fr auto;
    }
  }
}

.letter-spacing-typo-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0px;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.line-height-typo-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0px;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.remaining-typo-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0px;
    @include sbb.mq($from: medium) {
      grid-template-columns: 1fr 2fr;
    }
  }
}
.shadow-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0px;

    @include sbb.mq($from: large) {
      grid-template-columns: 3fr 1fr;
      .value {
        text-align: right;
      }
    }

  }
}

.base-grid-columns-token, .base-grid-gutter-token, .base-grid-offset-token {
  .row {
    gap: var(--sbb-spacing-fixed-4x) 0px;
    @include sbb.mq($from: medium) {
      grid-template-columns: 5fr 1fr 2fr;
    }
  }
}


.border-demo {
  width: 40px;
  height: 40px;
  border: 1px solid var(--sbb-color-metal);
}

.animation-demo {
  height: var(--sbb-spacing-fixed-1x);
  background-color: var(--sbb-color-red);
  border-radius: var(--sbb-border-radius-2x);
}

.space-demo {
  border: 1px solid var(--sbb-color-platinum);
  background-color: var(--sbb-color-milk);
  border-radius: var(--sbb-border-radius-1x);
}

.grid-item {
  border: 1px solid var(--sbb-color-platinum);
  background-color: var(--sbb-color-milk);
  border-radius: var(--sbb-border-radius-1x);
  min-height: 28px;
}

.token-grid {
  display: grid;
  grid-column-gap: var(--sbb-spacing-fixed-2x);
  width: 100%;
}


.shadow-3-soft-positive {
  background: var(--sbb-color-white);
  @include sbb.shadow-level-3-soft;
}
.shadow-3-soft-negative {
  background: var(--sbb-color-black);
  color: var(--sbb-color-white);
  @include sbb.shadow-level-3-soft-negative;
}

.shadow-3-hard-positive {
  background: var(--sbb-color-white);
  @include sbb.shadow-level-3-hard;
}
.shadow-3-hard-negative {
  background: var(--sbb-color-black);
  color: var(--sbb-color-white);
  @include sbb.shadow-level-3-hard-negative;
}


.shadow-5-soft-positive {
  background: var(--sbb-color-white);
  @include sbb.shadow-level-5-soft;
}
.shadow-5-soft-negative {
  background: var(--sbb-color-black);
  color: var(--sbb-color-white);
  @include sbb.shadow-level-5-soft-negative;
}

.shadow-5-hard-positive {
  background: var(--sbb-color-white);
  @include sbb.shadow-level-5-hard;
}
.shadow-5-hard-negative {
  background: var(--sbb-color-black);
  color: var(--sbb-color-white);
  @include sbb.shadow-level-5-hard-negative;
}


.shadow-9-soft-positive {
  background: var(--sbb-color-white);
  @include sbb.shadow-level-9-soft;
}
.shadow-9-soft-negative {
  background: var(--sbb-color-black);
  color: var(--sbb-color-white);
  @include sbb.shadow-level-9-soft-negative;
}

.shadow-9-hard-positive {
  background: var(--sbb-color-white);
  @include sbb.shadow-level-9-hard;
}
.shadow-9-hard-negative {
  background: var(--sbb-color-black);
  color: var(--sbb-color-white);
  @include sbb.shadow-level-9-hard-negative;
}


.shadow-11-soft-positive {
  background: var(--sbb-color-white);
  @include sbb.shadow-level-11-soft;
}
.shadow-11-soft-negative {
  background: var(--sbb-color-black);
  color: var(--sbb-color-white);
  @include sbb.shadow-level-11-soft-negative;
}

.shadow-11-hard-positive {
  background: var(--sbb-color-white);
  @include sbb.shadow-level-11-hard;
}
.shadow-11-hard-negative {
  background: var(--sbb-color-black);
  color: var(--sbb-color-white);
  @include sbb.shadow-level-11-hard-negative;
}

.shadow-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--sbb-spacing-fixed-12x);
  grid-row-gap: var(--sbb-spacing-fixed-12x);
  margin: var(--sbb-spacing-fixed-12x) 0;

  @include sbb.mq($from: medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  div {
    padding: var(--sbb-spacing-fixed-4x);
    sbb-title {
      margin:0;
    }
    code {
      font-size: 12px;
    }
  }
}