---
tags: logo-lyne_de
title: Playground
key: logo-lyne-playground_de
parent: logo-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.logo,
  translations: translations["de"].lyne
  }) }}