<div>
    <p class="demo-content">Default</p>
    <sbb-card class="demo-item" size="m" color="milk">
        <sbb-card-badge slot="badge" class="badge" color="charcoal">
            <span>%</span>
            <span>from CHF</span>
            <span>92.50</span>
            <span>
                <time datetime="2021-11-25">Black Friday</time>
            </span>
        </sbb-card-badge>
        <pan class="demo-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor blandit odio, ut blandit libero cursus vel. Nunc eu congue mauris. Quisque sed facilisis leo. Curabitur malesuada, nibh ac blandit vehicula, urna sem scelerisque magna, sed tincidunt neque arcu ac justo.</pan>
    </sbb-card>
    <br>
    <br>
    <p class="demo-content">With Card-Link</p>
    <sbb-card class="demo-item" size="m" color="milk">
        <sbb-card-link class="demo-link" href="#" target="_blank">Buy a ticket</sbb-card-link>
        <sbb-card-badge slot="badge" class="badge" color="charcoal">
            <span>%</span>
            <span>from CHF</span>
            <span>92.50</span>
            <span>
                <time datetime="2021-11-25">Black Friday</time>
            </span>
        </sbb-card-badge>
        <pan class="demo-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor blandit odio, ut blandit libero cursus vel. Nunc eu congue mauris. Quisque sed facilisis leo. Curabitur malesuada, nibh ac blandit vehicula, urna sem scelerisque magna, sed tincidunt neque arcu ac justo.</pan>
    </sbb-card>
</div>