{% set componentsPages = lyne.components %}
{% set categories = lyne.categories%}



{% for category in categories %}
    <li class="components-title"><sbb-chip color="granite" size="xs">{{category}}</sbb-chip></li>
    {% for component, entry in componentsPages | sortLyneComponentsByOrder %}
        {% set componentData = entry.config %}
        {% if (category|length) and (category == componentData.category) and (componentData.showInFirstLevel == true) %}
            {% set getSegementsOfPageUrl = page.url.split('/') %}
            <li data-keywords="{{ entry.config.category }}, {{ entry.config.keywords }}">
                <sbb-card size="l" color="white">
                    <sbb-card-link href="{{page.lang}}/design-system/lyne/components/{{entry.config.tag.slice(4)}}" {% if getSegementsOfPageUrl[5] == entry.config.tag.slice(4) %}active{% endif %}>More Info</sbb-card-link>
                    <div class="card-content-component">
                        <sbb-title level="5">{{ entry.config.tag.slice(4) | capitalizeWords}}</sbb-title>
                        {% if components == true %}
                            {% include "./overview-item-component-status.njk" %}
                        {% endif %}
                    </div>
                </sbb-card>
            </li>
        {% endif %}
    {% endfor %}
{% endfor %}