<div class="component-status">
    {# Design #}
    {% if entry.config.status.design == "ok" %}
        <sbb-status type="success">Figma</sbb-status>
    {% elseif entry.config.status.code == "in progress" %}
        <sbb-status type="in-progress">Figma</sbb-status>
    {% else %}
        <sbb-status type="error">Figma</sbb-status>
    {% endif %}

    {# Code #}
    {% if entry.config.status.code == "ok" %}
        <sbb-status type="success">Code</sbb-status>
    {% elseif entry.config.status.code == "in progress" %}
        <sbb-status type="in-progress">Code</sbb-status>
    {% else %}
        <sbb-status type="error">Code</sbb-status>
    {% endif %}

    {# Documentation #}
    {% if entry.config.status.documentation == "ok" %}
    {% elseif entry.config.status.documentation == "in progress" %}
        <sbb-status type="in-progress">Documentation</sbb-status>
    {% else %}
        <sbb-status type="error">Documentation</sbb-status>
    {% endif %}

    {# Context: Business #}
    {% if entry.config.status.context.business == true %}
        <sbb-status type="success">Business-Context</sbb-status>
    {% elseif entry.config.status.context.business == "hidden" %}
    {% else %}
        <sbb-status type="error">Business-Context</sbb-status>
    {% endif %}
</div>