{% set componentsPages = lyne.components %}
{% set categories = lyne.categories%}



{% for category in categories %}
    <li class="components-title"><sbb-chip color="granite" size="xs">{{category}}</sbb-chip></li>
    {% for component, entry in componentsPages %}

        {% set componentData = entry.config %}
       
        {% if (category|length) and (category == componentData.category) and (componentData.showInFirstLevel == true) %}
            <li data-keywords="{{ entry.config.category }}, {{ entry.config.keywords }}">

                <sbb-card size="l" color="white">
                    <sbb-card-link href="{{page.lang}}/design-system/lyne/components/{{entry.config.tag.slice(4)}}">More Info</sbb-card-link>
                    <div class="card-content-component">
                        <sbb-title style="text-transform: capitalize" level="5">{{ entry.config.tag.slice(4) }}</sbb-title>
                        <div class="component-status">
                            {# Design #}
                            {% if entry.config.status.design == "ok" %}
                                <sbb-status type="success">Figma</sbb-status>
                            {% elseif entry.config.status.code == "in progress" %}
                                <sbb-status type="in-progress">Figma</sbb-status>
                            {% else %}
                                <sbb-status type="error">Figma</sbb-status>
                            {% endif %}

                            {# Code #}
                            {% if entry.config.status.code == "ok" %}
                                <sbb-status type="success">Code</sbb-status>
                            {% elseif entry.config.status.code == "in progress" %}
                                <sbb-status type="in-progress">Code</sbb-status>
                            {% else %}
                                <sbb-status type="error">Code</sbb-status>
                            {% endif %}

                            {# Documentation #}
                            {% if entry.config.status.documentation == "ok" %}
                            {% elseif entry.config.status.documentation == "in progress" %}
                                <sbb-status type="in-progress">Documentation</sbb-status>
                            {% else %}
                                <sbb-status type="error">Documentation</sbb-status>
                            {% endif %}

                            {# Context: Business #}
                            {% if entry.config.status.context.business == true %}
                                <sbb-status type="success">Business-Context</sbb-status>
                            {% elseif entry.config.status.context.business == "hidden" %}
                            {% else %}
                                <sbb-status type="error">Business-Context</sbb-status>
                            {% endif %}

                        </div>
                    </div>
                </sbb-card>

            </li>
        {% endif %}
    {% endfor %}
{% endfor %}