<div id="body-overlay"></div>
<dialog id="sidebar">
    <div id="componentbrowser" class="browser component lyne-browser">
        <div class="browser-header-component">   
        <div>
            <sbb-title level="5" class="browser-title">{{ translations[page.lang].findcomponent }}</sbb-title>
            <p class="metal no-margin">{{dsname}}</p>
        </div>
        <div>
        <sbb-secondary-button size="m" id="close-browser">
            <sbb-icon slot="icon" name="cross-small"></sbb-icon>
        </sbb-secondary-button>
        </div>
        <sbb-form-field error-space="none" size="m" width="default" borderless floating-label>
            <label>{{ translations[page.lang].searchinput }}</label>
            <input id="search-form-field" class="search" placeholder="{{ translations[page.lang].searchinput }}" value="">
        </sbb-form-field>
        </div>

        <ul id="scroll-position" class="component-list list component tree">
            <li class="components-title"><sbb-chip color="granite" size="xs">Design Tokens</sbb-chip></li>
            {% set basicPages = collections[dscomponents] | include("data.parent", dsbasics) | sortByOrder %}
            {%- for entry in basicPages %}
                {% include "./overview-item-token.njk" %}
            {%- endfor -%}
            {% include "./overview-item-component.njk" %}
        </ul>

    </div>
</dialog>