---
layout: pattern.njk
tags: 
    - lyne_fr
    - lyne_frsign_tokens_fr
    - page
key: breakpoints-lyne_fr
title: Grid
parent: basics-lyne_fr
image: lyne/overview/grid.webp
keywords: Breakpoints
order: 30
availablelanguages: 
    - de
    - en
---
