---
tags: transparent-button-link-lyne_de
title: Beispiele
key: transparent-button-link-lyne-examples_de
parent: transparent-button-link-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-transparent-button-link",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}