---
tags: 
    - navigation-link-lyne_en
title: Demo
key: navigation-link-lyne-examples_en
parent: navigation-link-lyne_en
icon: demo
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-navigation-link",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}