---
tags: flip-card-lyne_de
title: Demo
key: flip-card-lyne-examples_de
parent: flip-card-lyne_de
icon: demo
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-flip-card",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}