---
tags: image-lyne_de
title: Beispiele
key: image-lyne-examples_de
parent: image-lyne_de
image: demo
order: 4
permalink: false  
---


  {{ lyneExamples({
  tag: "sbb-image",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}