---
tags: image-lyne_de
parent: image-lyne_de
image: demo
order: 4
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.image.sbbImage.playground,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-image",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}