---
tags: 
    - table-wrapper-lyne_en
title: Demo
key: table-wrapper-lyne-examples_en
parent: table-wrapper-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lyneExamples({
tag: "sbb-table-wrapper",
stories: lyne.stories[0],
translations: translations["en"].lyne
}) }}