---
layout: page.njk
tags: level3
key: base-colors_en
title: Base colors
parent: colors_en
order: 1
---

<p class="lead">Here, we focus on intentional reduction: colors are only used in a subtle way. Red is used for the important navigation elements that offer the user a quick and understandable path through the page. Flows are not allowed.</p>
<sbb-title level="2">Colors</sbb-title>
{% set colorgroups = [] %}
{% for color in collections.basecolor_en | sortByOrder %}
    {% if color.data.group in colorgroups %}
    {% else %}
      {% set colorgroups = (colorgroups.push(color.data.group), colorgroups) %}
    {% endif %}
{% endfor %}
<div class="colors">   
  {%- for colorgroup in colorgroups -%} 
    <sbb-title class="no-margin-bottom" level="3">{{colorgroup}}</sbb-title>
    <div class="color-group">
        {%- for color in collections.basecolor_en | sortByOrder -%} 
          {% if colorgroup == color.data.group %}
            {% include "../../../../_includes/color.njk" %}
          {% endif %}
        {%- endfor -%}
    </div>
  {%- endfor -%}
</div>
<sbb-title level="2">Checking contrasts</sbb-title>
 <script src="/assets/js/ux-components/ux-components.esm.js"></script>
 <color-contrast-checker language="en"></color-contrast-checker>
<sbb-title level="2">Colour ratios</sbb-title>
<p class="lead">SBB websites are designed with the following colour ratios. The quantities are to be take as guidelines – not as exact regulations – but significant deviations are to be avoided. If this is unavoidable, a check by SBB Brand Management is required.</p>
<div class="color-ratio">
  <div class="white">60%</div>
  <div class="grey">25%</div>
  <div class="black">10%</div>
  <div class="red">5%</div>
</div>