---
layout: page.njk
tags: page
key: off-brand-colors_en
title: Off brand colors
parent: colors_en
order: 2
---

<p class="lead">
In a few cases, SBB red cannot be used as the primary color. For example, the color red may only be used in safety-related applications to communicate errors. In these cases, the primary color (Red, Red125, Red150) may be replaced by the following colors:</p>
<div class="colors">   
    <div class="color-group">
        {%- for color in collections.offbrandcolor_en | sortByOrder -%} 
            {% include "../../../../_includes/color.njk" %}
        {%- endfor -%}
    </div>
</div>
<p class="lead">
  Please note that this color set may only be used in exceptional cases. It requires clarification with the DSRV UX.
</p>

<sbb-title level="2">Conception in Figma</sbb-title>
<p class="lead">
  The colors are available in the Figma library, but are not used in the components. However, the colors can be conveniently replaced in Figma using the "Selection Colors" function. 
</p>

<sbb-title level="2">Implementation in the frontend</sbb-title>
<p class="lead">
  In the Angular Library, the colors can be swapped as follows: <sbb-link variant="inline" target="_blank" href="https://angular.app.sbb.ch/angular/introduction/typography">To the instruction</sbb-link>.
</p>

