---
tags: link-lyne_de
title: Demo
key: link-lyne-demo_de
parent: link-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.link,
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}