---
layout: assets.njk
tags: level3
key: icons_fr
title: Icônes
alternativetitle: Icônes
parent: assets_fr
order: 1
mode: KOM
---
<p class="lead">Les CFF possèdent leur propre banque d’icônes contour de 1 pixel, sur une trame de pixels de 24x24, 36x36 et même 48x48 et 16x16.</p>
<sbb-tab-group initial-selected-index="0" size="l">
  <sbb-tab-label>Aperçu</sbb-tab-label>
  <sbb-tab>
    {% set icons = icons[0] %}
    {% include "src/_includes/icons/index.njk" %}
    <br>
    <sbb-secondary-button-link target="_blank" href="https://www.figma.com/file/UQBd7cHKav0hr9oXYp7opJ/SBB-Icons?node-id=372%3A0&t=TkHYwdrMavtsKvyZ-1">
    <sbb-icon slot="icon" name="figma-small"></sbb-icon>
    Voir les icônes en Figma
    </sbb-secondary-button-link> 
  </sbb-tab>
  <sbb-tab-label>Utilisation</sbb-tab-label>
  <sbb-tab>
    <p class="lead">Il est important de respecter le style des icônes CFF. Si le jeu d’icônes existant ne suffit pas, de nouvelles icônes peuvent être commandées via <sbb-link variant="inline" type="button" target="_blank" href="mailto:ux@sbb.ch">ux@sbb.ch</sbb-link> les coûts de production sont à la charge du projet. Il est possible de créer soi-même des icônes, celles-ci devront toutefois être validées par l’unité Gestion de la marque CFF ou par UX avant leur utilisation. Des informations détaillées sur le style des icônes CFF sont disponibles sur demande. Veiller à ce que les icônes aient toujours la même épaisseur de ligne dans les applications et les produits numériques.  
    Plus d'informations: <sbb-link variant="inline" type="button" target="_blank" href="/{{page.lang}}/foundation/brand/copyrights/">droits d'utilisation</sbb-link></p>
  </sbb-tab>
  <sbb-tab-label>implémentation</sbb-tab-label>
  <sbb-tab>
    <sbb-link-list orientation="vertical" size="m">
      <sbb-block-link icon-name="angular-small" icon-placement="start" href="https://angular.app.sbb.ch/angular/components/icon/overview ">Angular</sbb-block-link>
      <sbb-block-link icon-name="link-external-small" icon-placement="start" href="https://lyne-storybook.app.sbb.ch/?path=/docs/components-sbb-icon--docs">Lyne</sbb-block-link>
      <sbb-block-link icon-name="nine-squares-small" icon-placement="start" href="https://icons.app.sbb.ch/">Icon CDN Overview</sbb-block-link>
      <sbb-block-link icon-name="document-standard-small" icon-placement="start" href="https://icons.app.sbb.ch/icons/index.json">Icon CDN Json</sbb-block-link>
      <sbb-block-link icon-name="glass-cocktail-small" icon-placement="start" href="https://icons.app.sbb.ch/icons/glass-cocktail-small.svg">Icon CDN Example</sbb-block-link>
      <sbb-block-link icon-name="figma-small" icon-placement="start" href="https://www.figma.com/file/UQBd7cHKav0hr9oXYp7opJ/SBB-Icons?node-id=372%3A0">Figma-Library</sbb-block-link>
      <sbb-block-link icon-name="github-small" icon-placement="start" href="https://github.com/sbb-design-systems/sbb-icons/archive/refs/heads/main.zip">Icônes CFF à télécharger</sbb-block-link>
    </sbb-link-list>
  </sbb-tab>
  <sbb-tab-label>Icônes spécifiques aux projets</sbb-tab-label>  
  <sbb-tab>
    <p class="lead">Les icônes spécifiques aux projets sont principalement utilisées dans les produits/projets internes. Souvent ces icônes sont utilisées dans des applications et logiciels professionnels et ont une signification spécifique. Les icônes spécifiques ne doivent pas être utilisées pour des significations ou des fonctions différentes, leur utilisation doit donc être soigneusement vérifiée. Cependant, si la signification exacte de l'icône s'applique, l'icône peut être utilisée. En cas d'incertitude, l'équipe UX se fera un plaisir de t'aider. </p>
    <sbb-secondary-button-link target="_blank" href="https://www.figma.com/file/ljIRVoMho8slEHSPbcUTZJ/Projectspecific-Icons?node-id=2296%3A7276&t=mIebidHlrTWTEzur-1">
    <sbb-icon slot="icon" name="figma-small"></sbb-icon>
    Icônes spécifiques aux projets
    </sbb-secondary-button-link> 
  </sbb-tab>
</sbb-tab-group>