---
tags: logo-lyne_en
title: Demo
key: logo-lyne-demo_en
parent: logo-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.logo,
  translations: translations["en"].lyne,
  more: "https://lyne-storybook.app.sbb.ch/?path=/docs/components-sbb-logo--docs#anchor--components-sbb-logo--sbb-logo-link"
}) }}