---
tags: option-lyne_de
title: Demo
key: option-lyne-demo_de
parent: option-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.option,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}