---
tags: checkbox-group-lyne_en
title: Demo
key: checkbox-group-lyne-demo_en
parent: checkbox-group-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.checkboxgroup,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}