---
tags: 
    - button-static-lyne_en
title: Demo
parent: button-static-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.button.sbbButtonStatic.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-button-static",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}