---
tags: button-static-lyne_en
title: Playground
key: button-static-lyne-playground_en
parent: button-static-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.buttonstatic,
  translations: translations["de"].lyne
}) }}