---
tags: datepicker-toggle-lyne_de
title: Demo
key: datepicker-toggle-lyne-demo_de
parent: datepicker-toggle-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.datepickertoggle,
  stories: lyne.stories[0],
  noconfig: true,
  translations: translations["de"].lyne
  }) }}