---
tags: button-lyne_de
parent: button-lyne_de
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.button.sbbButton.playground,
  translations: translations["de"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-button",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}