---
tags: tertiary-button-static-lyne_en
title: Examples
key: tertiary-button-static-lyne-examples_en
parent: tertiary-button-static-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-tertiary-button-static",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}