---
tags: tertiary-button-static-lyne_en
title: Playground
key: tertiary-button-static-lyne-playground_en
parent: tertiary-button-static-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.tertiarybuttonstatic,
  translations: translations["de"].lyne
}) }}