---
tags: tertiary-button-static-lyne_de
parent: tertiary-button-static-lyne_de
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.button.sbbTertiaryButtonStatic.playground,
  translations: translations["de"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-tertiary-button-static",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}