---
tags: tertiary-button-static-lyne_de
title: Playground
key: tertiary-button-static-lyne-playground_de
parent: tertiary-button-static-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.tertiarybuttonstatic,
  translations: translations["de"].lyne
}) }}