---
layout: token-lyne.njk
tags: lyne_components_de
key: animation-lyne_de
title: Animation
parent: basics-lyne_de
keywords: Animation
order: 10
---

{% include "../../../../_includes/lyne-token/animation.njk" %}