---
layout: token-lyne.njk
tags: lyne_components_de
key: layout-lyne_de
title: Layout
parent: basics-lyne_de
keywords: Layout
order: 50
---

{% include "../../../../_includes/lyne-token/layout.njk" %}