---
layout: token-lyne.njk
tags: lyne_components_de
key: shadow-lyne_de
title: Shadow
parent: basics-lyne_de
keywords: Shadow
order: 60
---

{% include "../../../../_includes/token/shadow-lyne.njk" %}