---
layout: token-lyne.njk
tags: lyne_components_de
key: spacing-lyne_de
title: Spacing
parent: basics-lyne_de
keywords: Spacing
order: 80
---

{% include "../../../../_includes/token/spacing-lyne.njk" %}