---
tags: toggle-option-lyne_en
title: Demo
key: toggle-option-lyne-demo_en
parent: toggle-option-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.toggleoption,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}