{% if pattern.config.hasOverview == true %}
    {% set overviewpath = ["src/_data/", system, "/components/", component, "/overview_", language, ".md"] | join %}
    {% set overview %}{% include overviewpath %}{% endset %}
    
    <sbb-tab-label level="1">
    <sbb-icon name="{{tabs[0].icon}}" slot="icon"></sbb-icon>
    {{tabs[0].label[language]}}
    </sbb-tab-label>
    <sbb-tab>
        {{ overview | renderUsingMarkdown | safe }}
        {% if (pattern.config.childs|length) or (pattern.config.isChildOf|length) or (pattern.config.similar|length) %}
            <sbb-card size="xxl" color="milk" class="relative-components">
                <div class="relative-components-lists">
                    {% if pattern.config.similar|length %}
                        <sbb-link-list title-content="Similar">
                            {% for child in pattern.config.similar %}
                                    {% set childData = patterns[child].config %}
                                    {% if childData|length %}
                                        <sbb-block-link icon-name="four-diamonds-small" href="/{{language}}/design-system/{{system}}/components/{{childData.tag}}/">{{childData.tag | capitalizeWords}}</sbb-block-link>
                                    {% else %}
                                        <sbb-block-link-static icon-name="chevron-small-left-right-small">{{child | capitalizeWords}}</sbb-block-link-static>
                                    {% endif %}
                            {% endfor %}
                        </sbb-link-list>
                    {% endif %}

                    {% if pattern.config.childs|length %}
                        <sbb-link-list title-content="Childs">
                            {% for child in pattern.config.childs %}
                                {% set childData = patterns[child].config %}
                                {% if childData|length %}
                                    <sbb-block-link icon-name="four-diamonds-small" href="/{{language}}/design-system/{{system}}/components/{{childData.tag}}/">{{childData.tag | capitalizeWords}}</sbb-block-link>
                                {% else %}
                                    <sbb-block-link-static icon-name="chevron-small-left-right-small">{{child | capitalizeWords}}</sbb-block-link-static>
                                {% endif %}
                            {% endfor %}
                        </sbb-link-list>
                    {% endif %}
                    
                    {% if pattern.config.isChildOf|length %}
                        <sbb-link-list title-content="Child of">
                            {% for child in pattern.config.isChildOf %}
                                    {% set childData = patterns[child].config %}
                                    {% if childData|length %}
                                        <sbb-block-link icon-name="four-diamonds-small" href="/{{language}}/design-system/{{system}}/components/{{childData.tag}}/">{{childData.tag | capitalizeWords}}</sbb-block-link>
                                    {% else %}
                                        <sbb-block-link-static icon-name="chevron-small-left-right-small">{{child | capitalizeWords}}</sbb-block-link-static>
                                    {% endif %}
                            {% endfor %}
                        </sbb-link-list>
                    {% endif %}
                </div>
            </sbb-card>
        {% endif %}
    </sbb-tab>

{% endif %}