<li data-keywords="{{ entry.data.keywords }}">
    <sbb-card size="l" color="white">
        <sbb-card-link href="{{entry.url}}">{{ entry.data.title }}</sbb-card-link>
        <div class="card-content-component">
            <sbb-title level="5">{{ entry.data.title | capitalizeWords }}</sbb-title>
        </div>
    </sbb-card>
</li>