{% if system == "mobile" %}
  {% set sys = mobile %}
{% elif system == "maps" %}
  {% set sys = maps %}
{% elif system == "lyne" %}
  {% set sys = lyne %}
{% elif system == "lean" %}
  {% set sys = lean %}
{% elif system == "patternlibrary" %}
  {% set sys = patternlibrary %}
{% endif %}


{% set language = page.lang %}
{#% set layout = page.layout %#}

{% set patterns = sys.components %}
{% set pattern = sys.components[component] %}
{% set componentTranslations = translations[language][system] %}
{% set tabs = sys.tabs.tabs %}
{% set categories = sys.categories %}
{% set storybookStories = sys.stories[0] %}

{% set component = page.component %}
{% set pattern = patterns[component] %}


<div id="componentbrowser" class="component-browser sidebar-browser">
    <div class="component-search">
        {% include "./partial-search-field.njk" %}
        {% include "./partial-tag-group.njk" %}
    </div>
    <ul class="component-list list">
      {% if (list == "basics")  or (list == "designtokens")   %}
        {% include "./browser-list-basics.njk" %}
      {% elif list == "components"   %}
        {% include "./browser-list-components.njk" %}
      {% elif list == "patterns"   %}
        {% if system == "patternlibrary"%}
          {% include "./browser-list-all-patterns.njk" %}  
        {% else %}
          {% include "./browser-list-patterns.njk" %}
        {% endif %}  
      {% else %}
      
        {% include "./browser-list-basics.njk" %}
        {% include "./browser-list-components.njk" %}
        {% include "./browser-list-patterns.njk" %}  
      {% endif %}
    </ul>
    {% include "../icons/not-found.njk" %}
</div>