<div id="componentbrowser" class="component-browser sidebar-browser">
    <div class="component-search">
        <sbb-form-field error-space="none" size="m" width="default" borderless floating-label>
            <sbb-icon slot="prefix" name="magnifying-glass-small"></sbb-icon>
            <label>{{ translations[page.lang].searchinput }}</label>
            <input id="search-form-field" class="search" placeholder="{{ translations[page.lang].searchinput }}" value="">
        </sbb-form-field>
    </div>
    <ul class="component-list list">
        <li class="components-title"><sbb-chip-label color="granite" size="xs">Design Tokens</sbb-chip-label></li>
        {% set basicPages = collections[dscomponents] | include("data.parent", dsbasics) | sortByOrder %}
        {%- for entry in basicPages %}
            {% include "./browser-item-token-lyne.njk" %}
        {%- endfor -%}
        {% include "./browser-item-component-lyne.njk" %}
    </ul>
</div>