{% if system == "mobile" %}
  {% set sys = mobile %}
{% elif system == "maps" %}
  {% set sys = maps %}
{% elif system == "lyne" %}
  {% set sys = lyne %}
  {% set basicPages = collections[dscomponents] | include("data.parent", dsbasics) | sortByOrder %}   
{% elif system == "lean" %}
  {% set sys = lean %}
{% endif %}


{% set language = page.lang %}
{% set layout = page.layout %}

{% set patterns = sys.components %}
{% set pattern = sys.components[component] %}
{% set componentTranslations = translations[language][system] %}
{% set tabs = sys.tabs.tabs %}
{% set categories = sys.categories %}
{% set storybookStories = sys.stories[0] %}

{% set component = page.component %}
{% set pattern = patterns[component] %}


<div id="componentbrowser" class="component-browser sidebar-browser">
    <div class="component-search">
        {% include "./partial-search-field.njk" %}
        
        {% include "../browser/partial-tag-group.njk" %}
    </div>

    <ul class="component-list list">

        {% if system == "lyne" %}
            {%- for entry in basicPages %}
                {% include "./browser-item-token-lyne.njk" %}
            {%- endfor -%}
        {% endif %}

        {% for component, entry in patterns %}
            {% include "./browser-item-component-lyne.njk" %}
        {% endfor %}
    </ul>
    {% include "../icons/not-found.njk" %}
</div>