---
tags: teaser-paid-lyne_en
title: Demo
key: teaser-paid-lyne-examples_en
parent: teaser-paid-lyne_en
icon: demo
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-teaser-paid",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}