---
tags: navigation-link-lyne_de
parent: navigation-link-lyne_de
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-navigation-link",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}