<sbb-form-field error-space="none" label="{{translations[page.lang].communityassets.designsystem}}" size="l" width="default" borderless="true">
    <sbb-select id="systems">
        <sbb-option value="all" selected>{{translations[page.lang].communityassets.all}}</sbb-option>
        <sbb-option value="Web Lean">{{translations[page.lang].communityassets.lean}}</sbb-option>
        <sbb-option value="Web Legacy">{{translations[page.lang].communityassets.legacy}}</sbb-option>
        <sbb-option value="Lyne">{{translations[page.lang].communityassets.lyne}}</sbb-option>
        <sbb-option value="Mobile">{{translations[page.lang].communityassets.mobile}}</sbb-option>
        <sbb-option value="Automat">{{translations[page.lang].communityassets.automat}}</sbb-option>
    </sbb-select>
</sbb-form-field>