<sbb-form-field error-space="none" label="{{translations[page.lang].communityassets.designsystem}}" size="l" width="default" borderless="true">
    <select id="systems">
        <option value="all" selected="selected">{{translations[page.lang].communityassets.all}}</option>
        <option value="Web Lean">{{translations[page.lang].communityassets.lean}}</option>
        <option value="Web Legacy">{{translations[page.lang].communityassets.legacy}}</option>
        <option value="Lyne">{{translations[page.lang].communityassets.lyne}}</option>
        <option value="Mobile">{{translations[page.lang].communityassets.mobile}}</option>
        <option value="Automat">{{translations[page.lang].communityassets.automat}}</option>
    </select>
</sbb-form-field>