<div id="communitylist">
    <div class="community-asset-header">   
            {% include "./form-category.njk" %}
            {% include "./form-searchfield.njk" %}
            {% include "./form-radiobuttons.njk" %}
    </div>
    <div class="community-asset-list list">
        {% include "./list-assets.njk" %}
    </div>
    {% include "../icons/not-found.njk" %}
</div>
{% include "./list-dialogs.njk" %}
