 {% for name, communityasset in communityassets %}
    <sbb-dialog id="dialog-{{loop.index}}" title-content="{{ communityasset.title_pattern }}">
        <div class="dialog-content">
            <dl class="sbb-list communit-asset-detail" style="width:100%">
                {% if communityasset.design_system|length %}
                    <dt>{{translations[page.lang].communityassets.designsystem}} </dt>
                    <dd>{{ communityasset.design_system }}</dd>
                {% else %}
                {% endif %}
                {% if communityasset.description|length %}
                    <dt>{{translations[page.lang].communityassets.description}}</dt>
                    <dd>{{ communityasset.description }}</dd>
                {% else %}
                {% endif %}
                {% if communityasset.keyword_list|length %}
                    <dt>{{translations[page.lang].communityassets.keywords}}</dt>
                    <dd>{{ communityasset.keyword_list }}</dd>
                {% else %}
                {% endif %}
                {% if communityasset.component_state|length %}
                    <dt>{{translations[page.lang].communityassets.state}}</dt>
                    <dd>{{ communityasset.component_state }}</dd>
                {% else %}
                {% endif %}
                {% if communityasset.contact_user|length %}
                    <dt>{{translations[page.lang].communityassets.contact}}</dt>
                    <dd>{{ communityasset.contact_user }}</dd>
                {% else %}
                {% endif %}
            </dl>
             </div>
            <sbb-action-group slot="action-group">
                {% if communityasset.design|length %}
                <sbb-button size="m" variant="secondary" href="{{ communityasset.design }}" target="_blank">
                    Figma 
                    <sbb-icon slot="icon" name="figma-small"></sbb-icon>
                </sbb-button>
                {% else %}
                {% endif %}
                {% if communityasset.code|length %}
                <sbb-button size="m" variant="secondary" href="{{ communityasset.code }}" target="_blank">
                    Repository
                    <sbb-icon slot="icon" name="chevron-small-left-right-small"></sbb-icon>
                </sbb-button>
                {% else %}
                {% endif %}
            </sbb-action-group>
    </sbb-dialog>
{%- endfor %}