---
tags: 
    - link-lyne_en
title: Demo
parent: link-lyne_en
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-link",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}