---
layout: overview.njk
tags: 
    - page
    - dshome
key: overview-lean_de
title: Übersicht
alternativetitle: Lean
parent: lean_de
order: 1
componentbrowser: true
---

<p class="lead">Das Design System Lean beschreibt die Vorgaben für Business Applikationen und besteht aus dieser UX-Dokumentation und der Angular  Library.</p>

<sbb-card class="intro-links" color="transparent-bordered" size="xxl">
    <div class="links">
    {{ buttonGroup({
        title: "Figma",
        type: "link",
        tag: collections.figmalean_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Code",
        type: "link",
        tag: collections.techlinkslean_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Contribution",
        type: "link",
        tag: collections.contributionlean_de,
        size: 'm'
    }) }}
    </div>
</sbb-card>