---
tags: 
    - popover-trigger-lyne_en
title: Demo
key: popover-trigger-lyne-examples_en
parent: popover-trigger-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.popovertrigger,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-popover-trigger",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}