---
tags: 
    - popover-trigger-lyne_en
title: Demo
parent: popover-trigger-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.popover.sbbPopoverTrigger.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-popover-trigger",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}