---
tags: popover-trigger-lyne_en
title: Playground
key: popover-trigger-lyne-playground_en
parent: popover-trigger-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.popovertrigger,
  translations: translations["de"].lyne
  }) }}