<div id="componentlist" class="browser overview">
    <div class="browser-header-overview">   
        <sbb-form-field error-space="none" size="m" width="default" borderless floating-label>
            <label>{{ translations[page.lang].searchinput }}</label>
            <input class="search" placeholder="{{ translations[page.lang].searchinput }}" value="">
        </sbb-form-field>
    </div>
    <ul class="component-list list overview tree">
        {% if basics == true and components == true %}
            <li class="components-title"><sbb-chip-label color="granite" size="xs">Design Tokens</sbb-chip-label></li>
        {% endif %}
        {% if basics == true %}
            {% set basicPages = collections[dscomponents] | include("data.parent", dsbasics) | sortByOrder %}
            {%- for entry in basicPages %}
                {% include "../lyne-component-list/overview-item-token.njk" %}
            {%- endfor -%}
        {% endif %}
        {% if basics == true and components == true %}
        {% endif %}
        {% if components == true %}
            {% include "../lyne-component-list/overview-item-component.njk" %}
        {% endif %}
    </ul>
</div>