---
tags: menu-lyne_de
title: Playground
key: menu-lyne-playground_de
parent: menu-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.menu,
  noconfig: true,
  translations: translations["de"].lyne
  }) }}