<sbb-form-field error-space="none" label="Category" size="l" width="default" borderless="true">
    <select class="categories" id="categories">
            <option value="all" selected="selected">Alle</option>
            {% for category in categories %}
                <option value="{{category}}">{{category}}</option>
            {% endfor %}
    </select>
</sbb-form-field>