<sbb-form-field error-space="none" size="l" width="default" borderless>
    <label>Category</label>
    <sbb-select class="categories" id="categories">
        <sbb-option value="all" selected>Alle</sbb-option>
        {% for category in categories %}
        <sbb-option value="{{category}}">{{category}}</sbb-option>
        {% endfor %}
    </sbb-select>
</sbb-form-field>