<sbb-form-field class="icon-search" error-space="none" size="l" width="default" borderless floating-label>
    <label>{{ translations[page.lang].searchinput }}</label>
    <input id="search-input" class="search" value="" placeholder="{{ translations[page.lang].searchinput }}">
    <sbb-mini-button id="search-reset" slot="suffix" icon-name="cross-small" aria-label="clear input" style="display:none;"></sbb-button>
    <sbb-icon slot="prefix" name="magnifying-glass-small"></sbb-icon>
</sbb-form-field>