<sbb-radio-button-group value="all" orientation="vertical" horizontal-from="small" size="m" class="filters" id="sizes">
    <sbb-radio-button value="all">{{ translations[page.lang].iconall }}</sbb-radio-button>
    <sbb-radio-button value="small">{{ translations[page.lang].iconsmall }}</sbb-radio-button>
    <sbb-radio-button value="medium">{{ translations[page.lang].iconmedium }}</sbb-radio-button>
    <sbb-radio-button value="large">{{ translations[page.lang].iconlarge }}</sbb-radio-button>
    <sbb-radio-button value="extra-small">{{ translations[page.lang].iconsextrasmall }}</sbb-radio-button>
</sbb-radio-button-group>