<div class="not-found">
    <sbb-image alt="" border-radius="true" aspect-ratio="free" copyright="" copyright-holder="Organization" focal-point-x="" focal-point-y="" image-src="https://cdn.img.sbb.ch/content/dam/internet/beta/system/error-widget-2.png" loading="lazy" lqip="" performance-mark=""></sbb-image>
    <sbb-title level="5">{{ translations[page.lang].notfoundtitle }}</sbb-title>
    <p class="sbb-text-s subtitle">{{ translations[page.lang].notfoundtext }}</p>
</div>