---
tags: select-lyne_en
title: Demo
key: select-lyne-demo_en
parent: select-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.select,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}