---
tags: select-lyne_en
title: Demo
key: select-lyne-examples_en
parent: select-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.select,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-select",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}