---
tags: 
    - select-lyne_en
title: Demo
parent: select-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.select.sbbSelect.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-select",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}