---
tags: card-badge-lyne_de
title: Playground
key: card-badge-lyne-playground_de
parent: card-badge-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.cardbadge,
  translations: translations["de"].lyne
}) }}