---
tags: 
    - selection-expansion-panel-lyne_en
title: Demo
parent: selection-expansion-panel-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.selectionexpansionpanel.sbbSelectionExpansionPanel.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-selection-expansion-panel",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}