---
tags: selection-expansion-panel-lyne_en
title: Demo
key: selection-expansion-panel-lyne-examples_en
parent: selection-expansion-panel-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.selectionpanel,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-selection-expansion-panel",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}