<sbb-header hide-on-scroll="true">
  <sbb-header-action id="nav-trigger" icon-name="hamburger-menu-small" expand-from="small">Menu</sbb-header-action>
    {#% include "./language-menu.njk" %#}
    <a href="/{{page.lang}}/" aria-label="{{ translations[page.lang].homelink }}" slot="logo">
      <sbb-logo protective-room="none"></sbb-logo>
    </a>
</sbb-header>
