<sbb-header hide-on-scroll>
  <sbb-header-button id="nav-trigger" icon-name="hamburger-menu-small" expand-from="small">Menu</sbb-header-button>
{% if (layout == "pattern.njk") or (layout == "pattern-lyne.njk") %}
  <sbb-header-button id="toggle-component-browser" icon-name="magnifying-glass-small" expand-from="medium">{{ translations[page.lang].actioncomponentbrowser }}</sbb-header-button>
  <sbb-header-link href="{{dsurl}}" icon-name="four-squares-small" expand-from="medium">{{ translations[page.lang].overviewds }} {{dsname}}</sbb-header-link>
{% else %}
{% endif %}
  <a href="/{{page.lang}}/" aria-label="{{ translations[page.lang].homelink }}" slot="logo">
    <sbb-logo protective-room="none"></sbb-logo>
  </a>
</sbb-header>
