---
tags: time-input-lyne_de
title: Demo
key: time-input-lyne-demo_de
parent: time-input-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.timeinput,
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}