{% set componentsPages = collections[dscomponents] | sortByOrder %}
{% set categories = lyne.categories%}

{% for category in categories %}
    <li class="components-title"><sbb-chip color="granite" size="xs">{{category}}</sbb-chip></li>
    {% for entry in componentsPages | sortByOrder %}
        {% set componentData = lyne.components[entry.data.patternId].config %}
        {% if (category|length) and (category == componentData.category) and (componentData.showInFirstLevel == true) %}
            <li data-keywords="{{ entry.data.keywords }}">

                <sbb-card size="l" color="white">
                    <div class="card-content-component">
                        <sbb-title level="5">{{ entry.data.title }}</sbb-title>
                        <sbb-action-group orientation="horizontal" align-group="end">

                            {% if componentData.childs|length %}
                                <sbb-secondary-button icon-name="arrow-turn-down-small" size="m" id="menu-child-{{componentData.tag}}"></sbb-secondary-button>
                            
                                <sbb-menu trigger="menu-child-{{componentData.tag}}">
                                    {% for child in componentData.childs %}
                                        {% set childData = lyne.components[child].config %}
                                        {% if childData|length %}
                                            <sbb-menu-link icon-name="four-diamonds-small" href="/{{page.lang}}/design-system/lyne/components/{{childData.tag.slice(4)}}/">{{childData.tag.slice(4)}}</sbb-menu-link>
                                        {% else %}
                                            <sbb-menu-link icon-name="chevron-small-left-right-small">{{child}}</sbb-menu-link>
                                        {% endif %}
                                    {% endfor %}
                                </sbb-menu>
                            {% endif %}

                            {% if componentData.isChildOf|length %}
                                <sbb-secondary-button icon-name="arrow-turn-up-small" size="m" id="menu-child-of-{{componentData.tag}}"></sbb-secondary-button>
                                <sbb-menu trigger="menu-child-of-{{componentData.tag}}">
                                    {% for child in componentData.isChildOf %}
                                            {% set childData = lyne.components[child].config %}
                                            {% if childData|length %}
                                                <sbb-menu-link icon-name="four-diamonds-small" href="/{{page.lang}}/design-system/lyne/components/{{childData.tag.slice(4)}}/">{{childData.tag.slice(4)}}</sbb-menu-link>
                                            {% else %}
                                                <sbb-menu-link icon-name="chevron-small-left-right-small">{{child}}</sbb-menu-link>
                                            {% endif %}
                                    {% endfor %}
                                </sbb-menu>
                            {% endif %}

                            <sbb-button-link icon-name="arrow-right-small" size="m" href="{{entry.url}}"></sbb-button-link>
                        </sbb-action-group>
                    </div>
                </sbb-card>

            </li>
        {% endif %}
    {% endfor %}
{% endfor %}
