{% set componentsPages = lyne.components %}
{% set categories = lyne.categories%}



{% for category in categories %}
    <li class="components-title"><sbb-chip color="granite" size="xs">{{category}}</sbb-chip></li>
    {% for component, entry in componentsPages %}

        {% set componentData = entry.config %}
       
        {% if (category|length) and (category == componentData.category) and (componentData.showInFirstLevel == true) %}
            <li data-keywords="{{ entry.confi.keywords }}">

                <sbb-card size="l" color="white">
                    <sbb-card-link href="{{page.lang}}/design-system/lyne/components/{{entry.config.tag.slice(4)}}">More Info</sbb-card-link>
                    <div class="card-content-component">
                        <sbb-title style="text-transform: capitalize" level="5">{{ entry.config.tag.slice(4) }}</sbb-title>
                    </div>
                </sbb-card>

            </li>
        {% endif %}
    {% endfor %}
{% endfor %}
