---
tags: transparent-button-static-lyne_en
title: Demo
key: transparent-button-static-lyne-examples_en
parent: transparent-button-static-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.transparentbuttonstatic,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-transparent-button-static",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}