---
layout: overview.njk
tags: 
    - level3
    - dshome
key: overview-lean_en
title: Overview
alternativetitle: Lean
parent: lean_en
order: 1
componentbrowser: true
---
<p class="lead">The Design System Lean describes the specifications for business applications and consists of this UX documentation and the Angular Library.</p>

<sbb-card class="intro-links" color="transparent-bordered" size="xxl">
  <div class="links">
    {{ buttonGroup({
        title: "Design",
        type: "link",
        tag: collections.figmalean_en,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Code",
        type: "link",
        tag: collections.techlinkslean_en,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Contribution",
        type: "link",
        tag: collections.contributionlean_en,
        size: 'm'
    }) }}
  </div>
</sbb-card>
