---
layout: page.njk
tags: 
    - page
    - dshome
key: releases_fr
title: Releases
alternativetitle: Releases
parent: lyne_fr
order: 20
componentbrowser: true
availablelanguages: 
    - de
    - en
---


  <sbb-secondary-button-link href="https://github.com/sbb-design-systems/lyne-components/releases" target="_blank">
    <sbb-icon slot="icon" name="github-small"></sbb-icon>
    Latest Releases on Github
  </sbb-secondary-button-link>
  <br><br>




{% for release in lyne.releases %}
<sbb-card size="xxl" color="transparent-bordered" class="release-card">
  <div>{{ release.body | renderUsingMarkdown | safe }}</div>
  <br>
  <sbb-secondary-button-link href="{{release.zipball_url}}" target="_blank" download>
    <sbb-icon slot="icon" name="document-zip-small"></sbb-icon>
    Download Repo as Zip
  </sbb-secondary-button-link>
</sbb-card> 
{% endfor %}

