---
tags: sticky-bar-lyne_de
title: Demo
key: sticky-bar-lyne-examples_de
parent: sticky-bar-lyne_de
icon: demo
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-sticky-bar",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}