---
tags: sticky-bar-lyne_de
parent: sticky-bar-lyne_de
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-sticky-bar",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}