---
tags: divider-lyne_en
title: Demo
key: divider-lyne-demo_en
parent: divider-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.divider,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}