---
tags: divider-lyne_en
title: Demo
key: divider-lyne-examples_en
parent: divider-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-divider",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}