---
tags: 
    - divider-lyne_en
title: Demo
parent: divider-lyne_en
order: 3
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-divider",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}