{% if (language == "de") or (language == "en") %}
{% else %}
    <sbb-notification type="warn" readonly>
    {{ translations[page.lang].missingtranslation }}:
        <sbb-link href="de/design-system/lyne/components/{{patternConfig.tag.slice(4)}}">Deutsch</sbb-link>
        <sbb-link href="en/design-system/lyne/components/{{patternConfig.tag.slice(4)}}">English</sbb-link>
    </sbb-notification>
{% endif %}