<sbb-tab-label level="1">
<sbb-icon name="{{lyne.tabs.tabs[1].icon}}" slot="icon"></sbb-icon>
{{lyne.tabs.tabs[1].label[language]}}
</sbb-tab-label>
<sbb-tab>
    {{ anatomy | renderUsingMarkdown | safe }}
</sbb-tab>