<sbb-tab-label level="2">
    <sbb-icon name="{{lyne.tabs.tabs[3].icon}}" slot="icon"></sbb-icon>
    Implementation
</sbb-tab-label>
<sbb-tab>
{{ implementation | absolutelinks | renderUsingMarkdown | safe }}
</sbb-tab>