---
tags: expansion-panel-content-lyne_en
title: Demo
key: expansion-panel-content-lyne-examples_en
parent: expansion-panel-content-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-expansion-panel-content",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}