---
layout: page.njk
tags: page
key: functional-colors_en
title: Functional colors
alternativetitle: Extended functional colors
parent: colors_en
order: 2
---

<p class="lead">Additional colors may be used with the agreement of Communications. Each use of these colors must be presented to Communications and expressly approved. Additional colors may be used only for very specific areas. Anywhere that the CD colour palette is no longer sufficient for UX reasons. For example for info boxes or similar.</p>
{% set colorgroups = [] %}
{% for color in collections.functionalcolors_en | sortByOrder %}
    {% if color.data.group in colorgroups %}
    {% else %}
      {% set colorgroups = (colorgroups.push(color.data.group), colorgroups) %}
    {% endif %}
{% endfor %}
<div class="colors">   
  {%- for colorgroup in colorgroups -%} 
    <div class="color-group">
        {%- for color in collections.functionalcolors_en | sortByOrder -%} 
          {% if colorgroup == color.data.group %}
            {% include "../../../../_includes/color.njk" %}
          {% endif %}
        {%- endfor -%}
    </div>
  {%- endfor -%}
</div>