---
tags: flip-card-details-lyne_en
title: Demo
key: flip-card-details-lyne-examples_en
parent: flip-card-details-lyne_en
icon: demo
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-flip-card-details",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}