---
tags: checkbox-lyne_en
title: Examples
key: checkbox-lyne-examples_en
parent: checkbox-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-checkbox",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}