---
tags: 
    - checkbox-lyne_en
title: Demo
key: checkbox-lyne-examples_en
parent: checkbox-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.checkbox,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-checkbox",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}