---
tags: checkbox-lyne_en
title: Playground
key: checkbox-lyne-playground_en
parent: checkbox-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.checkbox,
  translations: translations["de"].lyne
}) }}