---
tags: link-list-lyne_en
title: Demo
key: link-list-lyne-demo_en
parent: link-list-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.linklist,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}