---
tags: link-button-lyne_de
parent: link-button-lyne_de
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-link-button",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}