---
tags: 
    - alert-lyne_en
title: Demo
parent: alert-lyne_en
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.alert.sbbAlert.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-alert",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}