---
tags: alert-lyne_en
title: Examples
key: alert-lyne-examples_en
parent: alert-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-alert",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}