---
tags: 
    - alert-lyne_en
title: Demo
key: alert-lyne-examples_en
parent: alert-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.alert,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-alert",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}