---
tags: popover-lyne_de
parent: popover-lyne_de
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.popover.sbbPopover.playground,
  translations: translations["de"].lyne
  }) }}

{{ lyneExamples({
  tag: "sbb-popover",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}