---
tags: popover-lyne_de
title: Demo
key: popover-lyne-examples_de
parent: popover-lyne_de
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.popover,
  translations: translations["de"].lyne
  }) }}

{{ lyneExamples({
  tag: "sbb-popover",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}