---
tags: popover-lyne_de
title: Beispiele
key: popover-lyne-examples_de
parent: popover-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-popover",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}