---
tags: popover-lyne_de
title: Playground
key: popover-lyne-playground_de
parent: popover-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.popover,
  translations: translations["de"].lyne
  }) }}