---
tags: navigation-lyne_de
title: Beispiele
key: navigation-lyne-examples_de
parent: navigation-lyne_de
icon: demo
order: 4
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-navigation",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}