---
tags: navigation-lyne_de
parent: navigation-lyne_de
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-navigation",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}