---
layout: assets.njk
tags: page
key: pictos_it
title: Pittogrammi
parent: assets_it
order: 3
mode: Pictograms
---

<p class="lead">Negli orari e per aiutare l’utente a orientarsi nelle applicazioni digitali utilizziamo i nostri pittogrammi dei tp. Così facendo, colmiamo il divario tra mondo reale e digitale, consentendo all’utente un immediato riconoscimento della marca e un orientamento il più possibile agevole. In casi eccezionali, i pittogrammi possono essere utilizzati anche in modo analogo alle icone e quindi non nell’orario o a scopo di orientamento. In tal caso l’impiego deve essere prima controllato da Gestione della marca FFS.</p>
 
<p class="lead">Ulteriori informazioni: <sbb-link variant="inline" type="button" href="/{{page.lang}}/foundation/brand/copyrights/">diritti di utilizzazione</sbb-link><br>
Contatto: <sbb-link variant="inline" type="button" target="_blank" href="mailto:entwicklung.bahnhof@sbb.ch">entwicklung.bahnhof@sbb.ch</sbb-link></p>


<sbb-title level="2">Anteprima</sbb-title>
{% set icons = pictograms[0] %}
{% include "src/_includes/icons/index.njk" %}