---
layout: pattern.njk
tags: 
    - lyne_it
    - lyne_itsign_tokens_it
    - page
key: border-lyne_it
title: Border
parent: basics-lyne_it
image: lyne/overview/border.webp
keywords: Border
order: 20
availablelanguages: 
    - de
    - en
---
