---
tags: icon-lyne_en
title: Demo
key: icon-lyne-demo_en
parent: icon-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.icon,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}