---
tags: 
    - icon-lyne_en
title: Demo
key: icon-lyne-examples_en
parent: icon-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.icon,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-icon",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}