---
tags: icon-lyne_en
title: Playground
key: icon-lyne-playground_en
parent: icon-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.icon,
  translations: translations["de"].lyne
  }) }}