---
tags: file-selector-lyne_de
title: Playground
key: file-selector-lyne-playground_de
parent: file-selector-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.fileselector,
  translations: translations["de"].lyne
  }) }}