---
tags: navigation-marker-lyne_de
title: Demo
key: navigation-marker-lyne-demo_de
parent: navigation-marker-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.navigationmarker,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}