---
tags: datepicker-toggle-lyne_en
title: Demo
key: datepicker-toggle-lyne-demo_en
parent: datepicker-toggle-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.datepickertoggle,
  stories: lyne.stories[0],
  noconfig: true,
  translations: translations[page.lang].lyne
  }) }}