---
layout: pattern-lyne.njk
tags: 
    - lyne_components_it
key: breakpoints-lyne_it
title: Breakpoint
parent: basics-lyne_it
keywords: Breakpoint
order: 30
availablelanguages: 
    - de
    - en
---

<div class="token-table breakpoint-token">
{% for token in breakpointTokens %}
{% if token.attributes.item == "min" %}    
    <sbb-title level="3" visual-level="5">{{ token.path[1] }}</sbb-title>     
    <div class="row">
        <div class="token-name left">{{ token.name }}</div>
        <div class="token-value center">{{ token.value }} - 
{% endif %}   
{% if token.attributes.item == "max" %}    
        {{ token.value }}</div>     
        <div class="token-name right">{{ token.name }}</div>
    </div>
{% endif %}     
{% endfor %}
</div>
