---
layout: pattern-lyne.njk
key: layout-lyne_it
title: Layout
parent: basics-lyne_it
keywords: Layout
order: 50
availablelanguages: 
    - de
    - en
---

<sbb-title level="2">Base Grid Columns</sbb-title>
<div class="token-table base-grid-columns-token">
{% for token in baseGridColumns %}
    <div class="row">
        <div class="token-name">{{ token.name }}</div>
        <div class="token-value">{{ token.value }}</div>
        <div class="token-demo">
            <span class="token-grid" style="grid-template-columns: repeat({{ token.value }}, 1fr);"> 
                {% for i in range(0, token.value) %}
                    <span class="grid-item"></span>
                {% endfor %}
            </span>
        </div>
    </div>
{% endfor %}
</div>


<sbb-title level="2">Base Grid Gutter</sbb-title>  
<div class="token-table base-grid-gutter-token">
    {% for token in baseGridGutterResponsive %}
        <div class="row">
            <div class="token-name"><p>{{ token.name }}</p></div>
            <div class="token-value"><p>{{ token.value }}</p></div>
            <div class="token-demo">
                <div class="space-demo {{token.attributes.subitem}}" style="width: {{ token.value }}px; height: {{ token.value }}px;">       
                </div>
            </div>
        </div>
    {% endfor %}
</div>  

<sbb-title level="2">Base Grid Offset</sbb-title>  
<div class="token-table base-grid-offset-token">
    {% for token in baseOffsetResponsive %}
        <div class="row">
            <div class="token-name"><p>{{ token.name }}</p></div>
            <div class="token-value"><p>{{ token.value }}</p></div>
            <div class="token-demo">
                <div class="space-demo {{token.attributes.subitem}}" style="width: {{ token.value }}px; height: {{ token.value }}px;">       
                </div>
            </div>
        </div>
    {% endfor %}
</div>  