---
tags: file-selector-lyne_en
title: Demo
key: file-selector-lyne-examples_en
parent: file-selector-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.fileselector,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-file-selector",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}