---
layout: pattern.njk
tags: 
    - lyne_fr
    - lyne_frsign_tokens_fr
    - page
key: spacings-lyne_fr
title: Spacings
parent: basics-lyne_fr
image: lyne/overview/spacings.webp
keywords: Spacings
order: 40
availablelanguages: 
    - de
    - en
---
