---
tags: select-lyne_de
title: Demo
key: select-lyne-examples_de
parent: select-lyne_de
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.select,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-select",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}