---
tags: select-lyne_de
title: Playground
key: select-lyne-playground_de
parent: select-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.select,
  translations: translations["de"].lyne
  }) }}