---
tags: checkbox-group-lyne_de
title: Playground
key: checkbox-group-lyne-playground_de
parent: checkbox-group-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.checkboxgroup,
  translations: translations["de"].lyne
  }) }}