---
tags: 
    - secondary-button-lyne_en
title: Demo
parent: secondary-button-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.button.sbbSecondaryButton.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-secondary-button",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}