---
tags: 
    - secondary-button-lyne_en
title: Demo
key: secondary-button-lyne-examples_en
parent: secondary-button-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.secondarybutton,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-secondary-button",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}