---
tags: secondary-button-lyne_en
title: Playground
key: secondary-button-lyne-playground_en
parent: secondary-button-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.secondarybutton,
  translations: translations["de"].lyne
}) }}