---
tags: secondary-button-lyne_de
title: Beispiele
key: secondary-button-lyne-examples_de
parent: secondary-button-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-secondary-button",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}