---
tags: secondary-button-lyne_de
title: Playground
key: secondary-button-lyne-playground_de
parent: secondary-button-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.secondarybutton,
  translations: translations["de"].lyne
}) }}