---
tags: alert-group-lyne_de
title: Demo
key: alert-group-lyne-demo_de
parent: alert-group-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.alertgroup,
  stories: lyne.stories[0],
  noconfig: true,
  translations: translations[page.lang].lyne
}) }}