---
tags: slider-lyne_en
title: Demo
key: slider-lyne-demo_en
parent: slider-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.slider,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}