---
tags: 
    - slider-lyne_en
title: Demo
parent: slider-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.slider.sbbSlider.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-slider",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}