---
tags: slider-lyne_en
title: Demo
key: slider-lyne-examples_en
parent: slider-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.slider,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-slider",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}