---
tags: slider-lyne_en
title: Playground
key: slider-lyne-playground_en
parent: slider-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.slider,
  translations: translations["de"].lyne
  }) }}