<sbb-radio-button-group id="types" value="all" orientation="vertical" horizontal-from="medium" size="m">
    <sbb-radio-button value="all">{{translations[page.lang].communityassets.all}}</sbb-radio-button>
    <sbb-radio-button value="Components">{{translations[page.lang].communityassets.components}}</sbb-radio-button>
    <sbb-radio-button value="Patterns">{{translations[page.lang].communityassets.patterns}}</sbb-radio-button>
    <sbb-radio-button value="Templates">{{translations[page.lang].communityassets.templates}}</sbb-radio-button>
</sbb-radio-button-group>