<sbb-tag-group id="types" value="" multiple>
  {#<sbb-tag id="alltags" value="all">{{translations[page.lang].communityassets.all}}</sbb-tag>#} 
  <sbb-tag value="Components">{{translations[page.lang].communityassets.components}}</sbb-tag>
  <sbb-tag value="Patterns">{{translations[page.lang].communityassets.patterns}}</sbb-tag>
  <sbb-tag value="Templates">{{translations[page.lang].communityassets.templates}}</sbb-tag>
</sbb-tag-group>