<div id="communitylist">
    <div class="community-asset-header">   
            {% include "./form-searchfield.njk" %}
            {% include "./form-tags.njk" %}
    </div>
    <div class="community-asset-list list">
        {% include "./list-assets.njk" %}
    </div>
    {% include "../icons/not-found.njk" %}
</div>
<sbb-button-link class="add-asset" size="m" href="/{{page.lang}}/design-system/community-assets/how/">
    {{ translations[page.lang].communityassets.addasset }}
</sbb-button-link>
{% include "./list-dialogs.njk" %}
