---
layout: pattern.njk
tags: 
    - lyne_fr
    - lyne_frsign_tokens_fr
    - page
key: animation-lyne_fr
title: Animation
parent: basics-lyne_fr
image: lyne/overview/animation.webp
keywords: Animation
order: 10
availablelanguages: 
    - de
    - en
---
