---
layout: page.njk
tags: page
key: functional-colors_fr
title: Couleurs fonctionnelles
alternativetitle: Couleurs fonctionnelles avancées
parent: colors_fr
order: 2
---

<p class="lead">L’utilisation de couleurs supplémentaires nécessite l’autorisation de KOM. Chaque utilisation de ces couleurs doit être soumise à KOM et expressément approuvée. Ces couleurs supplémentaires sont réservées à des usages bien précis, à savoir lorsque la gamme de couleurs correspondant au Corporate Design n’est pas suffisante pour garantir l’expérience utilisateur. Exemple: pour un encadré ou un élément similaire.</p>
{% set colorgroups = [] %}
{% for color in collections.functionalcolors_fr | sortByOrder %}
    {% if color.data.group in colorgroups %}
    {% else %}
      {% set colorgroups = (colorgroups.push(color.data.group), colorgroups) %}
    {% endif %}
{% endfor %}
<div class="colors">   
  {%- for colorgroup in colorgroups -%} 
    <div class="color-group">
        {%- for color in collections.functionalcolors_fr | sortByOrder -%} 
          {% if colorgroup == color.data.group %}
            {% include "../../../../_includes/color.njk" %}
          {% endif %}
        {%- endfor -%}
    </div>
  {%- endfor -%}
</div>