---
tags: popover-trigger-lyne_de
title: Playground
key: popover-trigger-lyne-playground_de
parent: popover-trigger-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.popovertrigger,
  translations: translations["de"].lyne
  }) }}