---
tags: datepicker-next-day-lyne_de
parent: datepicker-next-day-lyne_de
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-datepicker-next-day",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}