---
tags: breadcrumb-lyne_de
title: Demo
key: breadcrumb-lyne-examples_de
parent: breadcrumb-lyne_de
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.breadcrumb,
  translations: translations["de"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-breadcrumb",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}