---
tags: breadcrumb-lyne_de
title: Playground
key: breadcrumb-lyne-playground_de
parent: breadcrumb-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.breadcrumb,
  translations: translations["de"].lyne
}) }}