---
layout: page.njk
tags: level3
key: themes_de
title: Presets & Themes
parent: lyne_de
theme: standard
order: 25
eleventyExcludeFromCollections: true
---

<sbb-title level="2" visual-level="2">Presets für Kund:innen- und Mitarbeiter:innen-Apps</sbb-title>
<p class="lead">
  In der Vorgängerversion des Design Systems wurden zwei Themes (jeweils mit eigener CSS-Datei) eingesetzt, um zwei Nutzungsszenarien zu bedienen: Kund:innen sowie Mitarbeitende. Für jede Komponente gab es zwei Grössen: Standard und Lean. In Lyne wurde diese strikte Trennung aufgehoben. Konzeptionell wird nicht mehr zwischen Kunden- und Mitarbeiterapplikationen unterschieden. Komponenten sind in der Regel in mehr als zwei Grössen verfügbar und lassen sich so optimal in unterschiedlichen Nutzungsszenarien einsetzen. Damit der Aufwand auf Entwicklerseite nicht steigt, bietet Lyne zwei Presets (Voreinstellungen) an: Default und Lean. Diese Presets legen die Grössen der Komponenten fest, sofern nicht explizit eine spezifische Grösse gewählt wird. Mehr Informationen <sbb-link variant="inline" target="_blank" href="https://lyne-storybook.app.sbb.ch/?path=/docs/introduction-getting-started--docs#lean-variant">hier</sbb-link>. 
</p>

<sbb-title level="2" visual-level="2">Themes</sbb-title>
<p class="lead">
  Es stehen drei Themes zur Verfügung, die jeweils für unterschiedliche Anwendungszwecke vorgesehen sind:
</p>

<sbb-title level="3" visual-level="3">Standard-Theme</sbb-title>
<p class="lead">
  Das Standard-Theme wird für Kunden- und Mitarbeitendenanwendungen eingesetzt.
</p>

<sbb-title level="3" visual-level="3">Off-Brand-Theme</sbb-title>
<p class="lead">
  Das Off-Brand-Theme wird für Anwendungen verwendet, die im Auftrag der Branche entwickelt werden.
  SBB-Anwendungen, die ebenfalls von der Branche genutzt, jedoch durch die SBB finanziert werden,
  verwenden weiterhin das Standard-Theme.
</p>

<sbb-title level="3" visual-level="3">Safety-Theme</sbb-title>
<p class="lead">
  In sicherheitsrelevanten Arbeitskontexten darf die Farbe Rot ausschliesslich für Fehlermeldungen verwendet werden.
  Das Safety-Theme basiert auf dem Off-Brand-Theme und erlaubt den Einsatz von Rot nur in Error-Fällen.
</p>

<br>

<sbb-radio-button-group name="theme-chooser" value="standard-theme" aria-label="Theme Chooser" orientation="vertical" horizontal-from="small" size="m">
  <sbb-radio-button value="standard-theme">Standard</sbb-radio-button>
  <sbb-radio-button value="off-brand-theme">Off-Brand</sbb-radio-button>
  <sbb-radio-button value="safety-theme">Safety</sbb-radio-button>
</sbb-radio-button-group><br>

<iframe src="/de/foundation/colors/themes/standard-theme/index.html" height="400" width="100%" title="Theme-Beispiel"  class="theme standard-theme"></iframe>
<iframe src="/de/foundation/colors/themes/off-brand-theme/index.html" height="400" width="100%" title="Theme-Beispiel"  class="theme off-brand-theme"></iframe>
<iframe src="/de/foundation/colors/themes/safety-theme/index.html" height="400" width="100%" title="Theme-Beispiel"  class="theme safety-theme"></iframe>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const group = document.querySelector('sbb-radio-button-group[name="theme-chooser"]');
    const iframes = document.querySelectorAll('iframe.theme');

    function updateIframes(selectedValue) {
      iframes.forEach((iframe) => {
        iframe.style.display = iframe.classList.contains(selectedValue)
          ? 'block'
          : 'none';
      });
    }

    // Initialer Zustand
    updateIframes(group.value);

    // Reaktion auf Wechsel
    group.addEventListener('change', () => {
      updateIframes(group.value);
    });
  });
</script>


<sbb-title level="3" visual-level="3">Anwendung der Themes in Figma</sbb-title>
<p class="lead">
  Die Themes können im Variable-Mode entweder auf Page-, Frame- oder Component-Ebene unter "Theme" ausgewählt werden.
</p>
