---
tags: 
    - mini-button-lyne_en
title: Demo
parent: mini-button-lyne_en
order: 3
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-mini-button",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}