<sbb-mini-calendar class="demo-item" orientation="horizontal">
        <sbb-mini-calendar-month date="2025-01">
            <sbb-mini-calendar-day sbb-tooltip="01.01.2025" sbb-tooltip-open-delay="200" date="2025-01-01" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="02.01.2025" sbb-tooltip-open-delay="200" date="2025-01-02" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="03.01.2025" sbb-tooltip-open-delay="200" date="2025-01-03" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="04.01.2025" sbb-tooltip-open-delay="200" date="2025-01-04" marker="circle"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="05.01.2025" sbb-tooltip-open-delay="200" date="2025-01-05" marker="circle"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="06.01.2025" sbb-tooltip-open-delay="200" date="2025-01-06" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="07.01.2025" sbb-tooltip-open-delay="200" date="2025-01-07" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="08.01.2025" sbb-tooltip-open-delay="200" date="2025-01-08" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="09.01.2025" sbb-tooltip-open-delay="200" date="2025-01-09" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="10.01.2025" sbb-tooltip-open-delay="200" date="2025-01-10" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="11.01.2025" sbb-tooltip-open-delay="200" date="2025-01-11" marker="circle"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="12.01.2025" sbb-tooltip-open-delay="200" date="2025-01-12" marker="circle"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="13.01.2025" sbb-tooltip-open-delay="200" date="2025-01-13" marker="circle"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="14.01.2025" sbb-tooltip-open-delay="200" date="2025-01-14" marker="target"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="15.01.2025" sbb-tooltip-open-delay="200" date="2025-01-15" marker="slash"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="16.01.2025" sbb-tooltip-open-delay="200" date="2025-01-16" marker="cross"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="17.01.2025" sbb-tooltip-open-delay="200" date="2025-01-17" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="18.01.2025" sbb-tooltip-open-delay="200" date="2025-01-18" marker="circle"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="19.01.2025" sbb-tooltip-open-delay="200" date="2025-01-19" marker="circle"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="20.01.2025" sbb-tooltip-open-delay="200" date="2025-01-20" color="charcoal" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="21.01.2025" sbb-tooltip-open-delay="200" date="2025-01-21" color="cloud" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="22.01.2025" sbb-tooltip-open-delay="200" date="2025-01-22" color="orange" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="23.01.2025" sbb-tooltip-open-delay="200" date="2025-01-23" color="red" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="24.01.2025" sbb-tooltip-open-delay="200" date="2025-01-24" color="sky" marker=""></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="25.01.2025" sbb-tooltip-open-delay="200" date="2025-01-25" marker="circle"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="26.01.2025" sbb-tooltip-open-delay="200" date="2025-01-26" marker="circle"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="27.01.2025" sbb-tooltip-open-delay="200" date="2025-01-27" color="charcoal" marker="circle"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="28.01.2025" sbb-tooltip-open-delay="200" date="2025-01-28" color="cloud" marker="target"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="29.01.2025" sbb-tooltip-open-delay="200" date="2025-01-29" color="orange" marker="slash"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="30.01.2025" sbb-tooltip-open-delay="200" date="2025-01-30" color="red" marker="cross"></sbb-mini-calendar-day>
            <sbb-mini-calendar-day sbb-tooltip="31.01.2025" sbb-tooltip-open-delay="200" date="2025-01-31" color="sky"marker=""></sbb-mini-calendar-day>
        </sbb-mini-calendar-month>
  </sbb-mini-calendar>
