---
tags: optgroup-lyne_en
title: Demo
key: optgroup-lyne-demo_en
parent: optgroup-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.optgroup,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}