<sbb-carousel class="demo-item" shadow="">
    <sbb-carousel-list>
        <sbb-carousel-item>
            <img height="450" width="800" src="https://cdn.img.sbb.ch/content/dam/internet/externe-assets/lyne/Billetkontrolle.jpg" alt="SBB image 1">
        </sbb-carousel-item>
        <sbb-carousel-item>
            <img height="450" width="800" src="https://cdn.img.sbb.ch/content/dam/internet/externe-assets/lyne/Hoehenrundweg-Gryden-Lenk.jpg" alt="SBB image 2">
        </sbb-carousel-item>
        <sbb-carousel-item>
            <img height="450" width="800" src="https://cdn.img.sbb.ch/content/dam/internet/externe-assets/lyne/Kaufmann-frau.jpg" alt="SBB image 3">
        </sbb-carousel-item>
    </sbb-carousel-list>
    <sbb-compact-paginator></sbb-compact-paginator>
</sbb-carousel>
