
  <sbb-carousel shadow="" style="width:70%;">
    <sbb-carousel-list style="width:100%; height: 100%;">
      <sbb-carousel-item style="height:100%;width:100%;">
        <div style="height:300px; width:100%; display:flex;flex-direction:column;align-items:center;justify-content:center;">
          <p>Slide 1</p>
          <sbb-button>Start</sbb-button>
        </div>
      </sbb-carousel-item>
      <sbb-carousel-item style="height:100%;width:100%;">
        <div style="height:300px;width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;">
          <p>Slilde 2</p>
          <sbb-button>Another button</sbb-button>
        </div>
      </sbb-carousel-item>
      <sbb-carousel-item style="height:100%;width:100%;">
        <div style="height:300px;width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;">
          <p>Slide 3</p>
        </div>
      </sbb-carousel-item>
    </sbb-carousel-list>
    <sbb-compact-paginator></sbb-compact-paginator>
  </sbb-carousel>
