
  <sbb-carousel shadow="">
    <sbb-carousel-list>
      <sbb-carousel-item>
        <div style="height:300px;width:400px;display:flex;flex-direction:column;align-items:center;justify-content:center;">
          <p>sbb.ch</p>
          <p>Animation - Onboarding slides</p>
          <sbb-button>Start</sbb-button>
        </div>
      </sbb-carousel-item>
      <sbb-carousel-item>
        <div style="height:300px;width:400px;display:flex;flex-direction:column;align-items:center;justify-content:center;">
          <p>Another slide</p>
          <sbb-button>Another button</sbb-button>
        </div>
      </sbb-carousel-item>
      <sbb-carousel-item>
        <div style="height:300px;width:400px;display:flex;flex-direction:column;align-items:center;justify-content:center;">
          <p>End</p>
        </div>
      </sbb-carousel-item>
    </sbb-carousel-list>
    <sbb-compact-paginator></sbb-compact-paginator>
  </sbb-carousel>
