---
tags: transparent-button-lyne_de
title: Demo
key: transparent-button-lyne-examples_de
parent: transparent-button-lyne_de
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.transparentbutton,
  translations: translations["de"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-transparent-button",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}