---
layout: pattern.njk
tags: 
    - lyne_it
    - lyne_itsign_tokens_it
    - page
key: spacings-lyne_it
title: Spacings
parent: basics-lyne_it
image: lyne/overview/spacings.webp
keywords: Spacings
order: 40
availablelanguages: 
    - de
    - en
---
