---
tags: journey-header-lyne_de
title: Demo
key: journey-header-lyne-demo_de
parent: journey-header-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.journeyheader,
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}