---
tags: journey-header-lyne_de
title: Beispiele
key: journey-header-lyne-examples_de
parent: journey-header-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-journey-header",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}