---
tags: datepicker-lyne_en
title: Demo
key: datepicker-lyne-demo_en
parent: datepicker-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.datepicker,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}