---
tags: teaser-hero-lyne_de
title: Playground
key: teaser-hero-lyne-playground_de
parent: teaser-hero-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.teaserhero,
  wide: true,
  translations: translations["de"].lyne
  }) }}