---
layout: assets.njk
tags: page
key: fpl_en
title: Timetable icons
parent: assets_en
order: 2
mode: FPL
---

<sbb-title level="2">Usage</sbb-title>
<p class="lead">These are official timetable icons used by SBB and other transport companies in their digital and physical products. Transport companies are free to <sbb-link variant="inline" type="button" href="/{{page.lang}}/foundation/brand/copyrights/">use</sbb-link> them, provided they ensure that the icons are used in the form shown here. 
In detail this means:</p>
<ul class="lead">
    <li>The icons may be scaled proportionally</li>
    <li>The timetable attributes may be recolored (consider barrier-free)</li>
    <li>The HIM-CUS and Product-Brand icons may not be recolored</li>
</ul>

<sbb-action-group class="download-icons" align-group="start" orientation="vertical" horizontal-from="small" button-size="l">
    <sbb-button-link target="_blank" href="https://www.figma.com/file/UQBd7cHKav0hr9oXYp7opJ/SBB-Icons?node-id=372%3A0">
    <sbb-icon slot="icon" name="figma-small"></sbb-icon>
    Figma-Library
    </sbb-button-link> 
    <sbb-secondary-button-link target="_blank" href="https://github.com/sbb-design-systems/sbb-icons/archive/refs/heads/main.zip">
    <sbb-icon slot="icon" name="github-small"></sbb-icon>
    Download Icons
    </sbb-secondary-button-link>
</sbb-action-group>

<sbb-title level="2">Preview</sbb-title>
{% set icons = icons[0] %}
{% include "src/_includes/icons/index.njk" %}