---
tags: datepicker-next-day-lyne_de
title: Demo
key: datepicker-next-day-lyne-demo_de
parent: datepicker-next-day-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.datepickernextday,
  translations: translations[page.lang].lyne,
  more: "https://lyne-storybook.app.sbb.ch/?path=/docs/components-sbb-card--docs#anchor--components-sbb-card--sbb-card-link"
}) }}