<sbb-tab-label level="1">
<sbb-icon name="{{lyne.tabs.tabs[0].icon}}" slot="icon"></sbb-icon>
{{lyne.tabs.tabs[0].label[language]}}
</sbb-tab-label>
<sbb-tab>
    {{ overview | renderUsingMarkdown | safe }}
    {% if (patternConfig.childs|length) or (patternConfig.isChildOf|length) %}
        <sbb-card size="xxl" color="milk" class="relative-components">
            <div class="relative-components-lists">
                {% if patternConfig.childs|length %}
                    <sbb-link-list title-content="Childs">
                        {% for child in patternConfig.childs %}
                            {% set childData = lyne.components[child].config %}
                            {% if childData|length %}
                                <sbb-block-link icon-name="four-diamonds-small" href="/{{language}}/design-system/lyne/components/{{childData.tag.slice(4)}}/">{{childData.tag.slice(4) | capitalizeWords}}</sbb-block-link>
                            {% else %}
                                <sbb-block-link-static icon-name="chevron-small-left-right-small">{{child | capitalizeWords}}</sbb-block-link-static>
                            {% endif %}
                        {% endfor %}
                    </sbb-link-list>
                {% endif %}

                {% if patternConfig.isChildOf|length %}
                    <sbb-link-list title-content="Child of">
                        {% for child in patternConfig.isChildOf %}
                                {% set childData = lyne.components[child].config %}
                                {% if childData|length %}
                                    <sbb-block-link icon-name="four-diamonds-small" href="/{{language}}/design-system/lyne/components/{{childData.tag.slice(4)}}/">{{childData.tag.slice(4) | capitalizeWords}}</sbb-block-link>
                                {% else %}
                                    <sbb-block-link-static icon-name="chevron-small-left-right-small">{{child | capitalizeWords}}</sbb-block-link-static>
                                {% endif %}
                        {% endfor %}
                    </sbb-menu>
                {% endif %}
            </div>
        </sbb-card>
    {% endif %}
</sbb-tab>