---
tags: expansion-panel-lyne_en
title: Examples
key: expansion-panel-lyne-examples_en
parent: expansion-panel-lyne_en
icon: demo
order: 4
permalink: false  
---

 {{ lyneExamples({
  tag: "sbb-expansion-panel",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }} 