---
tags: 
    - expansion-panel-lyne_en
title: Demo
key: expansion-panel-lyne-examples_en
parent: expansion-panel-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.expansionpanel,
  translations: translations["en"].lyne
  }) }}

   {{ lyneExamples({
  tag: "sbb-expansion-panel",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }} 