---
tags: logo-lyne_en
title: Demo
key: logo-lyne-demo_en
parent: logo-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.logo,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}