---
tags: logo-lyne_en
title: Demo
key: logo-lyne-examples_en
parent: logo-lyne_en
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.logo,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-logo",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}