---
tags: logo-lyne_en
title: Playground
key: logo-lyne-playground_en
parent: logo-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.logo,
  translations: translations["de"].lyne
  }) }}