---
tags: form-error-lyne_de
title: Beispiele
key: form-error-lyne-examples_de
parent: form-error-lyne_de
icon: demo
order: 4
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-form-error",
  stories: lyne.stories[0],
  noconfig: true,
  translations: translations["de"].lyne
  }) }}