---
tags: form-error-lyne_de
parent: form-error-lyne_de
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-form-error",
  stories: lyne.stories[0],
  noconfig: true,
  translations: translations["de"].lyne
  }) }}