---
tags: selection-panel-lyne_de
title: Playground
key: selection-panel-lyne-playground_de
parent: selection-panel-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.selectionpanel,
  translations: translations["de"].lyne
  }) }}