---
tags: container-lyne_de
parent: container-lyne_de
order: 3
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-container",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}