---
tags: card-action-lyne_en
title: Demo
key: card-action-lyne-demo_en
parent: card-action-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.cardaction,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
}) }}