---
tags: popover-lyne_en
title: Demo
key: popover-lyne-demo_en
parent: popover-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.popover,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}