---
tags: header-link-lyne_de
title: Beispiele
key: header-link-lyne-examples_de
parent: header-link-lyne_de
icon: demo
order: 4
permalink: false  
---

  {{ lyneExamples({
  tag: "sbb-header-link",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}