---
layout: token-lyne.njk
tags: 
    - lyne_components_en
key: border-lyne_en
title: Border
parent: basics-lyne_en
keywords: Border
order: 20
---

{% include "../../../../_includes/lyne-token/border.njk" %}