---
layout: token-lyne.njk
tags: 
    - lyne_components_en
key: color-lyne_en
title: Color
parent: basics-lyne_en
keywords: Color
order: 40
---

{% include "../../../../_includes/token/color-lyne.njk" %}