---
layout: token-lyne.njk
tags: 
    - lyne_components_en
key: shadow-lyne_en
title: Shadow
parent: basics-lyne_en
keywords: Shadow
order: 60
---

{% include "../../../../_includes/token/shadow-lyne.njk" %}