---
layout: token-lyne.njk
tags: 
    - lyne_components_en
key: spacings-lyne_en
title: Spacings
parent: basics-lyne_en
keywords: Spacings
order: 80
---
{% include "../../../../_includes/lyne-token/spacing.njk" %}