---
layout: token-lyne.njk
tags: 
    - lyne_components_en
key: typography-lyne_en
title: Typography
parent: basics-lyne_en
keywords: Typography
order: 90
---

{% include "../../../../_includes/lyne-token/typography.njk" %}