---
layout: pattern.njk
tags: 
    - lyne_fr
    - lyne_frsign_tokens_fr
    - page
key: border-lyne_fr
title: Border
parent: basics-lyne_fr
image: lyne/overview/border.webp
keywords: Border
order: 20
availablelanguages: 
    - de
    - en
---
