---
tags: tertiary-button-link-lyne_de
title: Beispiele
key: tertiary-button-lyne-examples_de
parent: tertiary-button-link-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-tertiary-button-link",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}