---
layout: page.njk
tags: level3
key: faq_en
title: FAQ
parent: getting-started_en
order: 4
---

<sbb-accordion non-white-background="false" only-one-open="">
{%- for accordion in collections.faq_en | sortByOrder -%}
    {% include "../../../../_includes/accordion/accordion-faq.njk" %}
{%- endfor -%}
</sbb-accordion>