---
layout: overview.njk
tags: 
    - level3
    - dshome
key: overview-mobile_de
system: mobile
list: all
title: Übersicht
alternativetitle: Mobile
parent: mobile_de
order: 1
---

<p class="lead">Das Design System Mobile beschreibt die Vorgaben für native Mobile Applikationen und besteht aus dieser UX-Dokumentation und der iOS und Flutter Library.</p>

<sbb-card class="intro-links" color="transparent-bordered" size="xxl">
  <div class="links">
    {{ buttonGroup({
        title: "Design",
        type: "link",
        tag: collections.figmamobile_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Code",
        type: "link",
        tag: collections.techlinksmobile_de,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Contribution",
        type: "link",
        tag: collections.contributionmobile_de,
        size: 'm'
    }) }}
  </div>
</sbb-card>