---
tags: datepicker-lyne_en
title: Demo
key: datepicker-lyne-examples_en
parent: datepicker-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.datepicker,
  translations: translations["en"].lyne
  }) }}

{{ lyneExamples({
  tag: "sbb-datepicker",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}