---
tags: 
    - datepicker-lyne_en
title: Demo
parent: datepicker-lyne_en
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.datepicker.sbbDatepicker.playground,
  translations: translations["en"].lyne
  }) }}

{{ lyneExamples({
  tag: "sbb-datepicker",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}