---
layout: page.njk
tags: error
key: error
title: Error
alternativetitle: Seite nicht verfügbar.
parent: root
---

<sbb-image alt="" style="max-width: 50%" border-radius="true" aspect-ratio="16-9" copyright="" copyright-holder="Organization" focal-point-x="" focal-point-y="" image-src="https://cdn.img.sbb.ch/content/dam/internet/beta/system/error-widget-2.png" loading="lazy" lqip="" performance-mark=""></sbb-image>
<sbb-divider orientation="horizontal" class="error-divider"></sbb-divider>
<p class="lead">Die Seite ist momentan nicht verfügbar. Sie wurde möglicherweise verschoben oder es liegt ein technisches Problem vor.</p>
<sbb-button-link class="home-primary" href="/de/" size="m">
    Zur Startseite
</sbb-button-link>

<sbb-divider orientation="horizontal" class="error-divider"></sbb-divider>

<p class="lead">La page est momentanément indisponible. Elle a peut-être été déplacée ou un problème technique est survenu.</p>
<sbb-button-link class="home-primary" href="/de/" size="m">
    Vers la page d’accueil
</sbb-button-link>

<sbb-divider orientation="horizontal" class="error-divider"></sbb-divider>

<p class="lead">La pagina non è al momento disponibile, potrebbe essere stata spostata o si è verificato un problema tecnico.</p>
<sbb-button-link class="home-primary" href="/de/" size="m">
    Alla pagina iniziale
</sbb-button-link>

<sbb-divider orientation="horizontal" class="error-divider"></sbb-divider>

<p class="lead">The page you are looking for is currently unavailable. It may have been moved, or there is a technical problem.</p>
<sbb-button-link class="home-primary" href="/de/" size="m">
    To the start page
</sbb-button-link>

<sbb-divider orientation="horizontal" class="error-divider"></sbb-divider>