---
layout: page.njk
tags: page
key: error
title: Error
alternativetitle: Ooops.
parent: root
---

<sbb-image alt="" style="max-width: 50%" border-radius="true" aspect-ratio="16-9" copyright="" copyright-holder="Organization" focal-point-x="" focal-point-y="" image-src="https://cdn.img.sbb.ch/content/dam/internet/beta/system/error-widget-2.png" loading="lazy" lqip="" performance-mark=""></sbb-image>
<sbb-divider orientation="horizontal" class="error-divider"></sbb-divider>
<p class="lead">Da ging was schief. Dies kann mehrere Gründe haben:</p>
<ul>
    <li>Wir (UX-Service) haben es verkackt.</li>
    <li>Die Seite gibts nicht mehr.</li>
    <li>Die Seite wurde (noch) nicht übersetzt.</li>
</ul>
<sbb-button-link class="home-primary" href="/de/" size="m">
    Zur Startseite
</sbb-button-link>

<sbb-divider orientation="horizontal" class="error-divider"></sbb-divider>

<p class="lead">Quelque chose a mal tourné. Il peut y avoir plusieurs raisons à cela:</p>
<ul>
    <li>Nous (UX-Service) avons fait une erreur.</li>
    <li>La page n'existe plus.</li>
    <li>La page n'a pas (encore) été traduite.</li>
</ul>
<sbb-button-link class="home-primary" href="/de/" size="m">
    Vers la page d’accueil
</sbb-button-link>

<sbb-divider orientation="horizontal" class="error-divider"></sbb-divider>

<p class="lead">Qualcosa è andato storto. Ecco le ragioni:</p>
<ul>
    <li>Qualcosa non è andato per il verso giusto dal nostro lato (UX-Service).</li>
    <li>La pagina non esiste più.</li>
    <li>La pagina non è stata (ancora) tradotta.</li>
</ul>
<sbb-button-link class="home-primary" href="/de/" size="m">
    Alla pagina iniziale
</sbb-button-link>

<sbb-divider orientation="horizontal" class="error-divider"></sbb-divider>

<p class="lead">Something went wrong. This can have several reasons:</p>
<ul>
    <li>We (UX Service) have screwed up.</li>
    <li>The page does not exist anymore.</li>
    <li>The page has not been translated (yet).</li>
</ul>
<sbb-button-link class="home-primary" href="/de/" size="m">
    To the start page
</sbb-button-link>

<sbb-divider orientation="horizontal" class="error-divider"></sbb-divider>