---
layout: page.njk
tags: page
key: error
title: Error
alternativetitle: Ooops.
parent: root
---

<sbb-image alt="" style="max-width: 50%" border-radius="true" aspect-ratio="free" copyright="" copyright-holder="Organization" focal-point-x="" focal-point-y="" image-src="https://cdn.img.sbb.ch/content/dam/internet/beta/system/error-widget-2.png" loading="lazy" lqip="" performance-mark=""></sbb-image>
<p class="lead">Da ging was schief. Dies kann mehrere Gründe haben:</p>
<ul>
    <li>Wir (UX-Service) hats verkackt.</li>
    <li>Die Seite gibts nicht mehr.</li>
    <li>Die Seite wurde (noch) nicht übersetzt.</li>
</ul>
<sbb-button class="home-primary" href="/de/" size="m">
    Zur Startseite
</sbb-button>
