---
layout: page.njk
tags: home
key: root
title: Home
alternativetitle: Alles zu den digitalen Anwendungen der SBB.
parent: root
---

{%- for alias in collections.aliashomede -%}
  {{ alias.content | safe }}
{%- endfor -%}
