---
layout: redirects.njk
key: redirects
title: Redirects
parent: root
eleventyExcludeFromCollections: true
permalink: /redirects.txt
---
{% for page in collections.all | include("data.hideInSitemap", true) | exclude("data.external", true) %}{{ page.filePathStem | removeLastPathSegment }} {{page.data.redirect}};
{% endfor %}