---
tags: 
    - teaser-hero-lyne_en
title: Demo
parent: teaser-hero-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.teaser.sbbTeaserHero.playground,
  wide: true.sbb.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-teaser-hero",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}