---
tags: menu-lyne_en
title: Examples
key: menu-lyne-examples_en
parent: menu-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-menu",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}