---
tags: teaser-hero-lyne_de
title: Demo
key: teaser-hero-lyne-demo_de
parent: teaser-hero-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.teaserhero,
  stories: lyne.stories[0],
  wide: true,
  translations: translations["de"].lyne
  }) }}