---
tags: radio-button-lyne_en
title: Demo
key: radio-button-lyne-demo_en
parent: radio-button-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.radiobutton,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}