---
layout: overview.njk
tags: 
    - level3
    - dshome
key: overview-legacy_en
title: Overview
alternativetitle: Web (Legacy)
parent: legacy_en
order: 1
basics: true
components: true
---

<p class="lead">Das Design System Lean beschreibt die Vorgaben für Websiten und besteht aus dieser UX-Dokumentation und der Angular  Library.</p>

<sbb-card class="intro-links" color="transparent-bordered" size="xxl">
  <div class="links">
    {{ buttonGroup({
        title: "Design",
        type: "link",
        tag: collections.figmalegacy_en,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Code",
        type: "link",
        tag: collections.techlinkslegacy_en,
        size: 'm'
    }) }}
    {{ buttonGroup({
        title: "Contribution",
        type: "link",
        tag: collections.contributionlegacy_en,
        size: 'm'
    }) }}
  </div>
</sbb-card>