---
layout: page.njk
tags: 
    - level3
    - dshome
key: releases_en
title: Releases
alternativetitle: Releases
parent: lyne_en
order: 20
---


  <sbb-secondary-button-link href="https://github.com/sbb-design-systems/lyne-components/releases" target="_blank">
    <sbb-icon slot="icon" name="github-small"></sbb-icon>
    Latest Releases on Github
  </sbb-secondary-button-link>
  <br><br>




{% for release in lyne.releases %}
<sbb-card color="transparent-bordered" class="sbb-card-spacing-s release-card">
  <div>{{ release.body | renderUsingMarkdown | safe }}</div>
  <br>
  <sbb-secondary-button-link href="{{release.zipball_url}}" target="_blank" download>
    <sbb-icon slot="icon" name="document-zip-small"></sbb-icon>
    Download Repo as Zip
  </sbb-secondary-button-link>
</sbb-card> 
{% endfor %}

