---
tags: link-static-lyne_de
parent: link-static-lyne_de
order: 3
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-link-static",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}