---
tags: block-link-static-lyne_en
title: Demo
key: block-link-static-lyne-examples_en
parent: block-link-static-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.blocklinkstatic,
  translations: translations["en"].lyne
  }) }}

{{ lyneExamples({
  tag: "sbb-block-link-static",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}