---
tags: 
    - card-badge-lyne_en
title: Demo
parent: card-badge-lyne_en
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.card.sbbCardBadge.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-card-badge",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}