---
tags: card-badge-lyne_en
title: Examples
key: card-badge-lyne-examples_en
parent: card-badge-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lyneExamples({
  tag: "sbb-card-badge",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}