---
tags: tag-lyne_de
parent: tag-lyne_de
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.tag.sbbTag.playground,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-tag",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}