---
tags: button-link-lyne_de
title: Playground
key: button-link-lyne-playground_de
parent: button-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.buttonlink,
  translations: translations["de"].lyne
}) }}