---
tags: navigation-list-lyne_de
title: Demo
key: navigation-list-lyne-examples_de
parent: navigation-list-lyne_de
icon: demo
order: 3
permalink: false  
---
  {{ lyneExamples({
  tag: "sbb-navigation-list",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}