---
layout: page.njk
tags: level3
key: pictos_de
title: Piktogramme
parent: assets_de
order: 3
mode: Pictograms
---

<p class="lead">In Fahrplänen und für die Orientierung in digitalen Anwendungen verwenden wir unsere öV-Piktogramme. Damit schliessen wir die Lücke zwischen der realen und digitalen Welt um dem Benutzer eine hohe Wiedererkennung sowie eine möglichst leichte Orientierung bieten zu können.
Wenn Piktogramme nicht im Fahrplan oder zu Orientierungszwecken dienen, können diese in speziellen Ausnahmen ähnlich wie Icons eingesetzt werden. In diesem Fall muss die Verwendung durch die SBB Markenführung geprüft werden.</p>
 
<p class="lead">Weitere Informationen: <sbb-link variant="inline" type="button" target="_blank" href="/{{page.lang}}/foundation/brand/copyrights/">Nutzungsrechte</sbb-link><br>
Kontakt: <sbb-link variant="inline" type="button" target="_blank" href="mailto:entwicklung.bahnhof@sbb.ch">entwicklung.bahnhof@sbb.ch</sbb-link></p>

{% set icons = pictograms[0] %}
<sbb-title level="2">Vorschau</sbb-title>
{% include "src/_includes/icons/index.njk" %}