---
tags: card-action-lyne_de
title: Demo
key: card-action-lyne-demo_de
parent: card-action-lyne_de
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.cardaction,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
}) }}