---
tags: card-lyne_de
parent: card-lyne_de
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.components.card.sbbCard.playground,
  translations: translations["de"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-card",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
}) }}