---
tags: card-lyne_de
title: Playground
key: card-lyne-playground_de
parent: card-lyne_de
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.card,
  translations: translations["de"].lyne
}) }}