---
tags: teaser-product-lyne_de
title: Demo
key: teaser-product-lyne-examples_de
parent: teaser-product-lyne_de
icon: demo
order: 3
permalink: false  
---
{{ lynePlayground({
  json: lyne.playgrounds.teaserproduct,
  wide: true,
  translations: translations["de"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-teaser-product",
  stories: lyne.stories[0],
  translations: translations["de"].lyne
  }) }}