---
tags: radio-button-group-lyne_en
title: Demo
key: radio-button-group-lyne-demo_en
parent: radio-button-group-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.radiobuttongroup,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}