---
tags: signet-lyne_en
title: Demo
key: signet-lyne-demo_en
parent: signet-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.signet,
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}