---
tags: 
    - signet-lyne_en
title: Demo
key: signet-lyne-examples_en
parent: signet-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.signet,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-signet",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}