---
tags: 
    - signet-lyne_en
title: Demo
parent: signet-lyne_en
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.logo.sbbSignet.playground,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-signet",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}