---
layout: assets.njk
tags: page
key: fpl_it
title: Icone dell'orario
parent: assets_it
order: 2
mode: FPL
---

<sbb-title level="2">Utilizzo</sbb-title>
<p class="lead">Queste sono le icone ufficiali degli orari utilizzate dalle FFS e da altre aziende di trasporto nei loro prodotti digitali e fisici. Le aziende di trasporto sono libere di <sbb-link variant="inline" type="button" href="/{{page.lang}}/foundation/brand/copyrights/">utilizzarle</sbb-link> a patto che garantiscano che le icone siano utilizzate nella forma qui indicata. In dettaglio, ciò significa che: </p>
<ul class="lead">
    <li>Le icone possono essere ridimensionate proporzionalmente</li>
    <li>Gli attributi dell'orario possono essere ricolorati (rispettare la libertà di barriera).</li>
    <li>Le icone del marchio HIM-CUS e del prodotto non possono essere ricolorate.</li>
</ul>

<sbb-action-group class="download-icons" align-group="start" orientation="vertical" horizontal-from="small" button-size="l">
    <sbb-button-link target="_blank" href="https://www.figma.com/file/UQBd7cHKav0hr9oXYp7opJ/SBB-Icons?node-id=372%3A0">
    <sbb-icon slot="icon" name="figma-small"></sbb-icon>
    Figma-Library
    </sbb-button-link> 
    <sbb-secondary-button-link target="_blank" href="https://github.com/sbb-design-systems/sbb-icons/archive/refs/heads/main.zip">
    <sbb-icon slot="icon" name="github-small"></sbb-icon>
    Icone in versione download
    </sbb-secondary-button-link>
</sbb-action-group>

<sbb-title level="2">Anteprima</sbb-title>
{% set icons = icons[0] %}
{% include "src/_includes/icons/index.njk" %}