---
tags: loading-indicator-lyne_en
title: Demo
key: loading-indicator-lyne-examples_en
parent: loading-indicator-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.loadingindicator,
  translations: translations["en"].lyne
  }) }}

  {{ lyneExamples({
  tag: "sbb-loading-indicator",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
  }) }}