---
tags: loading-indicator-lyne_en
title: Playground
key: loading-indicator-lyne-playground_en
parent: loading-indicator-lyne_en
icon: playground
order: 5
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.loadingindicator,
  translations: translations["de"].lyne
  }) }}