---
tags: 
    - tertiary-button-link-lyne_en
title: Demo
parent: tertiary-button-link-lyne_en
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.components.button.sbbTertiaryButtonLink.playground,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-tertiary-button-link",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}