---
tags: 
    - tertiary-button-link-lyne_en
title: Demo
key: tertiary-button-lyne-examples_en
parent: tertiary-button-link-lyne_en
icon: demo
order: 3
permalink: false  
---

{{ lynePlayground({
  json: lyne.playgrounds.tertiarybuttonlink,
  translations: translations["en"].lyne
}) }}

{{ lyneExamples({
  tag: "sbb-tertiary-button-link",
  stories: lyne.stories[0],
  translations: translations["en"].lyne
}) }}