---
layout: landingpage.njk
tags: level3
key: test_de
title: Was ist Lyne?
alternativetitle: Was ist Lyne?
parent: getting-started_de
image: https://cdn.img.sbb.ch/content/dam/internet/externe-assets/lyne/Bahnhof-Luzern.jpg
order: 5
eleventyExcludeFromCollections: true
---

<sbb-lead-container>
  <sbb-image slot="image" image-src="{{image}}"></sbb-image>
  {% include "src/_includes/title.njk" %}
  <p class="sbb-text-xl sbb-lead-container-lead-text">
    Das Design System für Webanwendungen bei der SBB. Es stellt fertige, getestete und barrierefreie UI-Bausteine bereit, 
    mit denen Teams schneller hochwertige Anwendungen entwickeln können. Die wichtigsten Vorteile auf einem Blick.
    </p>
    <div class="lp-vorteile">
      <sbb-card color="transparent-bordered" class="sbb-card-spacing-l">
        <sbb-icon name="app-icon-medium"></sbb-icon>
        <sbb-title level="2" visual-level="4">Konsistente User Experience über alle Produkte hinweg.</sbb-title>
      </sbb-card>
      <sbb-card color="transparent-bordered" class="sbb-card-spacing-l">
        <sbb-icon name="app-icon-medium"></sbb-icon>
        <sbb-title level="2" visual-level="4">Geringere Design- und Entwicklungs-aufwände.</sbb-title>
      </sbb-card>
      <sbb-card color="transparent-bordered" class="sbb-card-spacing-l">
        <sbb-icon name="app-icon-medium"></sbb-icon>
        <sbb-title level="2" visual-level="4">Einhaltung der Corporate Design Vorgaben.</sbb-title>
      </sbb-card>
      <sbb-card color="transparent-bordered" class="sbb-card-spacing-l">
        <sbb-icon name="app-icon-medium"></sbb-icon>
        <sbb-title level="2" visual-level="4">Bessere Barriere-freiheit und Produktqualität.</sbb-title>
      </sbb-card>
    </div>

    <sbb-action-group style="display:none" class="lp-action-group" align-group="start" orientation="vertical" horizontal-from="small" button-size="m">
      <sbb-button>Lyne kennenlernen</sbb-button>
      <sbb-secondary-button>Roadmap ansehen</sbb-secondary-button>
      <sbb-secondary-button>Beratung anfragen</sbb-secondary-button>
    </sbb-action-group>
</sbb-lead-container>

<sbb-container background-expanded color="milk" class="lp-container">
  <sbb-title level="2" visual-level="2">Was bringt Lyne meinem Produkt?</sbb-title>
  <div class="sbb-grid-only lp-flipcards">
    <sbb-flip-card class="lp-flip-card-1">
      <sbb-flip-card-summary image-alignment="after">
        <sbb-title level="4">Schnellere Produktentwicklung</sbb-title>
        <sbb-image slot="image" alt="Conductor controlling a ticket" image-src="https://cdn.img.sbb.ch/content/dam/internet/externe-assets/lyne/Billetkontrolle.jpg"></sbb-image>
        </sbb-flip-card-summary>
      <sbb-flip-card-details>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus ornare condimentum. Vivamus
        turpis elit, dapibus eget fringilla pellentesque, lobortis in nibh. Duis dapibus vitae tortor
        ullamcorper maximus. In convallis consectetur felis.
      </sbb-flip-card-details>
    </sbb-flip-card>
    <sbb-flip-card class="lp-flip-card-2">
      <sbb-flip-card-summary image-alignment="below">
        <sbb-title level="4">Höhere Produktqualität</sbb-title>
        <sbb-image slot="image" alt="Conductor controlling a ticket" image-src="https://cdn.img.sbb.ch/content/dam/internet/externe-assets/lyne/Billetkontrolle.jpg"></sbb-image>
        </sbb-flip-card-summary>
      <sbb-flip-card-details>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus ornare condimentum. Vivamus
        turpis elit, dapibus eget fringilla pellentesque, lobortis in nibh. Duis dapibus vitae tortor
        ullamcorper maximus. In convallis consectetur felis.
      </sbb-flip-card-details>
    </sbb-flip-card>
    <sbb-flip-card class="lp-flip-card-3">
      <sbb-flip-card-summary image-alignment="below">
        <sbb-title level="4">Zukunftssichere Technologie</sbb-title>
        <sbb-image slot="image" alt="Conductor controlling a ticket" image-src="https://cdn.img.sbb.ch/content/dam/internet/externe-assets/lyne/Billetkontrolle.jpg"></sbb-image>
        </sbb-flip-card-summary>
      <sbb-flip-card-details>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus ornare condimentum. Vivamus
        turpis elit, dapibus eget fringilla pellentesque, lobortis in nibh. Duis dapibus vitae tortor
        ullamcorper maximus. In convallis consectetur felis.
      </sbb-flip-card-details>
    </sbb-flip-card>
    <sbb-flip-card class="lp-flip-card-4">
      <sbb-flip-card-summary image-alignment="below">
        <sbb-title level="4">Konsistente Marke</sbb-title>
        <sbb-image slot="image" alt="Conductor controlling a ticket" image-src="https://cdn.img.sbb.ch/content/dam/internet/externe-assets/lyne/Billetkontrolle.jpg"></sbb-image>
        </sbb-flip-card-summary>
      <sbb-flip-card-details>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus ornare condimentum. Vivamus
        turpis elit, dapibus eget fringilla pellentesque, lobortis in nibh. Duis dapibus vitae tortor
        ullamcorper maximus. In convallis consectetur felis.
      </sbb-flip-card-details>
    </sbb-flip-card>
  </div>
</sbb-container>


<sbb-container background-expanded color="white" class="lp-container">
    <sbb-title level="2" visual-level="2">Wann spart Lyne Kosten?</sbb-title>
    <sbb-table-wrapper>
      <table class="sbb-table">
        <tbody>
              <tr>
                  <td></td>
                  <td><strong>Wirtschaftlicher Effekt</strong></td>
                  <td><strong>Qualitativer Effektt</strong></td>
              </tr>
              <tr>
                  <td><strong>Neues internes Produkt für unsere Mitarbeiter</strong></td>
                  <td>Klare Kosteneinsparung durch fertige Komponenten. </td>
                  <td>Qualitativ hochwertiges UI: Barrierefrei, responsiv, mit Light- und Darkmode.</td>
              </tr>
              <tr>
                  <td><strong>Neues Produkt für unsere Kunden</strong></td>
                  <td>Klare Kosteneinsparung durch fertige Komponenten, insbesondere dann wenn die Applikation barrierefrei seinn muss.</td>
                  <td>Qualitativ hochwertiges UI: Barrierefrei, responsiv, mit Light- und Darkmode.</td>
              </tr>
              <tr>
                  <td><strong>Neues Produkt für die Branche</strong></td>
                  <td>Klare Kosteneinsparung durch fertige Komponenten.</td>
                  <td>Das UI kann mit wenigen Handgriffen in ein neutrales Branchen-Kleid umgezogen werden (und auch wieder in ein SBB-Kleid).</td>
              </tr>
              <tr>
                  <td><strong>1:1 Migration eines bestehendes Produkts</strong></td>
                  <td>Kurzfristig neutral oder gar negativ. Langfristig klare Kosteneinsparungen und verminderten Betriebsaufwand bei UI-Komponenten.</td>
                  <td>Das Produkt profitiert von laufenden Qualitätsverbesserungen und neuen Komponenten.</td>
              </tr>
              <tr>
                  <td><strong>Migration von Altsystem kombiniert mit Redesign</strong></td>
                  <td>Kurzfristig und evtl. mittelfristig negativ. Langfristig klare Kosteneinsparungen und verminderten Betriebsaufwand bei UI-Komponenten.</td>
                  <td>Das Produkt profitiert von laufenden Qualitätsverbesserungen und neuen Komponenten. Durch das Redesign wird sich die User Experience verbessern.</td>
              </tr>
        </tbody>
      </table>
    </sbb-table-wrapper>
    <p>Studien zu Design Systemen zeigen, dass Teams 20–50 % Entwicklungszeit bei UI-Features einsparen können, wenn wiederverwendbare Komponenten eingesetzt werden.</p>
</sbb-container>

<sbb-container background-expanded color="milk" class="lp-container">
  <div class="sbb-grid-only">
    <div class="inset">
      <sbb-title level="2" visual-level="2">Migration auf Lyne.</sbb-title>
      <sbb-accordion>
        <sbb-expansion-panel color="white">
          <sbb-expansion-panel-header>Muss mein Produkt migrieren?</sbb-expansion-panel-header>
          <sbb-expansion-panel-content>Content 1</sbb-expansion-panel-content>
        </sbb-expansion-panel>
        <sbb-expansion-panel color="white">
          <sbb-expansion-panel-header>Wann lohnt sich eine Migration?</sbb-expansion-panel-header>
          <sbb-expansion-panel-content>Content 2</sbb-expansion-panel-content>
        </sbb-expansion-panel>
        <sbb-expansion-panel color="white">
          <sbb-expansion-panel-header>Gibt es Unterstützung?</sbb-expansion-panel-header>
          <sbb-expansion-panel-content>Content 2</sbb-expansion-panel-content>
        </sbb-expansion-panel>
      </sbb-accordion>
      <p>Du bist unsicher wann und ob du migrieren willst? Wir beraten dich gerne.</p>
    </div>
  </div>
</sbb-container>

<sbb-container background-expanded color="white" class="lp-container">
  <div class="sbb-grid-only">
    <div class="inset">
      <sbb-title level="2" visual-level="2">Wie verbessert Lyne die Produktqualität?</sbb-title>
      <ol class="sbb-step-list sbb-text-m">
        <li><strong>Barrierefreiheit</strong>
            <p class="subtext">Alle Komponenten erfüllen aktuelle Barrierefreiheits-Standards nach WCAG 4.2</p>
        </li>
        <li><strong>Konsistenz</strong>
            <p class="subtext">Interaktionen, Look-and-Feel, Design und Patterns sehen überall gleich aus, dies vermindert den Lernaufwand für Kunden und Mitarbeiter.</p>
        </li>
        <li><strong>Flexible Komponenten</strong>
            <p class="subtext">Komponenten sind in mehreren Grössen verfügbar und lassen sich an unterschiedliche Nutzungsszenarien anpassen. Dies erlaubt auch komplexe User Interfaces für Experten-Anwendungen.</p>
        </li>
        <li><strong>Technologieunabhängigkeit</strong>
            <p class="subtext">Lyne kann mit Angular, React oder anderen oder auch ohne Frontend-Stacks genutzt werden.</p>
        </li>
      </ol>
      <p>test</p>
    </div>
  </div>
</sbb-container>



<sbb-container background-expanded color="milk" class="lp-container">
  <div class="roadmap">
      <sbb-card color="white" class="sbb-card-spacing-l">
        <sbb-icon name="app-icon-medium"></sbb-icon>
        <sbb-title level="2" visual-level="4">Finanzierung.</sbb-title>
        <p class="subtext">Teams können neue Anforderungen melden..</p>
      </sbb-card>
      <sbb-card color="white" class="sbb-card-spacing-l">
        <sbb-icon name="app-icon-medium"></sbb-icon>
        <sbb-title level="2" visual-level="4">Technologie.</sbb-title>
        <p class="subtext">Teams können: Verbesser-ungen vorschlagen, Bugs melden, Code beitragen</p>
        <sbb-block-link href="#">Mehr Informationen</sbb-block-link>
      </sbb-card>
      <sbb-card color="white" class="sbb-card-spacing-l">
        <sbb-icon name="app-icon-medium"></sbb-icon>
        <sbb-title level="2" visual-level="4">Roadmap.</sbb-title>
        <p class="subtext">Die Finanzierung des Design Systems ist langfristig gesichert.</p>
      </sbb-card>
  </div>
</sbb-container>

