---
layout: landingpage.njk
tags: level3
key: test_de
title: Lyne erklärt für Produktverantwortliche
parent: getting-started_de
image: https://cdn.img.sbb.ch/content/dam/internet/externe-assets/lyne/Bahnhof-Luzern.jpg
order: 5
---


  <p class="sbb-text-xl sbb-lead-container-lead-text">Lead text.</p>
  <sbb-notification type="info" class="sbb-lead-container-spacing">
    Vestibulum rutrum elit et lacus sollicitudin, quis malesuada lorem vehicula. Suspendisse at
    augue quis tellus vulputate tempor. Vivamus urna velit, varius nec est ac, mollis efficitur
    lorem. Quisque non nisl eget massa interdum tempus. Praesent vel feugiat metus.
  </sbb-notification>
  <p class="sbb-text-m other-content">Other content.</p>

<div style="max-width: 760px;">
  <sbb-teaser alignment="after-centered" href="https://github.com/sbb-design-systems/lyne-components" accessibility-label="The text which gets exposed to screen reader users. The text should reflect all the information which gets passed into the components slots and which is visible in the Teaser, either through text or iconography">
    <figure slot="image" class="sbb-figure">
      <img alt="400x300" width="400" src="https://cdn.img.sbb.ch/content/dam/internet/externe-assets/lyne/Helpteaser-Background-Landscape.png">
      <sbb-chip-label class="sbb-figure-overlap-start-start">AI Generated</sbb-chip-label>
    </figure>
    
    <sbb-title level="2">This is a title</sbb-title>
    This is a paragraph
  </sbb-teaser>
</div>