---
tags: header-link-lyne_en
title: Demo
key: header-link-lyne-demo_en
parent: header-link-lyne_en
icon: demo
order: 4
permalink: false  
---

{{ lynedemo({
  json: lyne.patterns.headerlink,
  stories: lyne.stories[0],
  translations: translations[page.lang].lyne
  }) }}